<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.abcmart.bo.display.repository.master.CmStoreServiceDao">

    <!--
    	※ 경고
		이 select SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    
    <sql id="select-columns">
    	store_no, store_service_seq, store_service_code, psblt_yn, rgster_no, rgst_dtm, moder_no, mod_dtm
    </sql>
    
    <sql id="pk-columns">
    	store_no = #{storeNo, jdbcType=VARCHAR} AND store_service_seq = #{storeServiceSeq, jdbcType=INTEGER}
    </sql>
    
    <select id="select" parameterType="kr.co.abcmart.bo.display.model.master.CmStoreService" resultType="kr.co.abcmart.bo.display.model.master.CmStoreService">
    
     /*+ kr.co.abcmart.bo.display.repository.master.CmStoreServiceDao.select [기본 조회 쿼리] [Generator] */
    
		SELECT 
			 <include refid="select-columns" />
		FROM 
			CM_STORE_SERVICE
		<where> 
			<if test="storeNo != null"> 
				 store_no = #{storeNo, jdbcType=VARCHAR}
			</if> 
			<if test="storeServiceSeq != null"> 
				 AND store_service_seq = #{storeServiceSeq, jdbcType=INTEGER}
			</if> 
			<if test="storeServiceCode != null"> 
				 AND store_service_code = #{storeServiceCode, jdbcType=VARCHAR}
			</if> 
			<if test="psbltYn != null"> 
				 AND psblt_yn = #{psbltYn, jdbcType=CHAR}
			</if> 
			<if test="rgsterNo != null"> 
				 AND rgster_no = #{rgsterNo, jdbcType=VARCHAR}
			</if> 
			<if test="rgstDtm != null"> 
				 AND rgst_dtm = #{rgstDtm, jdbcType=TIMESTAMP}
			</if> 
			<if test="moderNo != null"> 
				 AND moder_no = #{moderNo, jdbcType=VARCHAR}
			</if> 
			<if test="modDtm != null"> 
				 AND mod_dtm = #{modDtm, jdbcType=TIMESTAMP}
			</if> 
		</where>  
    </select>
    
    <!--
    	※ 경고
		이 insert SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    
    <insert id="insert" parameterType="kr.co.abcmart.bo.display.model.master.CmStoreService">	

     /*+ kr.co.abcmart.bo.display.repository.master.CmStoreServiceDao.insert [기본 insert 쿼리] [Generator] */
    
		INSERT INTO CM_STORE_SERVICE
			 ( store_no, store_service_seq, store_service_code, psblt_yn, rgster_no, rgst_dtm, moder_no, mod_dtm ) 

		VALUES 
			 ( #{storeNo, jdbcType=VARCHAR}, #{storeServiceSeq, jdbcType=INTEGER}, #{storeServiceCode, jdbcType=VARCHAR}, #{psbltYn, jdbcType=CHAR}, #{rgsterNo, jdbcType=VARCHAR}, <choose><when test="rgstDtm != null">#{rgstDtm, jdbcType=TIMESTAMP}</when><otherwise>getdate()</otherwise></choose>, #{moderNo, jdbcType=VARCHAR}, <choose><when test="modDtm != null">#{modDtm, jdbcType=TIMESTAMP}</when><otherwise>getdate()</otherwise></choose> )  
    </insert>
    
    <!--
    	※ 경고
		이 update SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    <update id="update" parameterType="kr.co.abcmart.bo.display.model.master.CmStoreService">
    
     /*+ kr.co.abcmart.bo.display.repository.master.CmStoreServiceDao.update [기본 update 쿼리] [Generator] */
    
		UPDATE CM_STORE_SERVICE
		<set> 
			<if test="storeNo != null"> 
				store_no = #{storeNo, jdbcType=VARCHAR}, 
			</if> 
			<if test="storeServiceSeq != null"> 
				store_service_seq = #{storeServiceSeq, jdbcType=INTEGER}, 
			</if> 
			<if test="storeServiceCode != null"> 
				store_service_code = #{storeServiceCode, jdbcType=VARCHAR}, 
			</if> 
			<if test="psbltYn != null"> 
				psblt_yn = #{psbltYn, jdbcType=CHAR}, 
			</if> 
			<if test="rgsterNo != null"> 
				rgster_no = #{rgsterNo, jdbcType=VARCHAR}, 
			</if> 
			<if test="rgstDtm != null"> 
				rgst_dtm = #{rgstDtm, jdbcType=TIMESTAMP}, 
			</if> 
			<if test="moderNo != null"> 
				moder_no = #{moderNo, jdbcType=VARCHAR}, 
			</if> 
			<if test="modDtm != null"> 
				mod_dtm = #{modDtm, jdbcType=TIMESTAMP}, 
			</if> 
		</set> 
		WHERE 
			 store_no = #{storeNo, jdbcType=VARCHAR} AND store_service_seq = #{storeServiceSeq, jdbcType=INTEGER}   
    </update>
    
    <!--
    	※ 경고
		이 delete SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    <delete id="delete" parameterType="kr.co.abcmart.bo.display.model.master.CmStoreService">
    
     /*+ kr.co.abcmart.bo.display.repository.master.CmStoreServiceDao.delete [기본 delete 쿼리] [Generator] */
    
		DELETE FROM CM_STORE_SERVICE
		WHERE 
			 store_no = #{storeNo, jdbcType=VARCHAR} AND store_service_seq = #{storeServiceSeq, jdbcType=INTEGER}  
    </delete>
</mapper>