<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.abcmart.bo.display.repository.master.CmAreaDao">

    <!--
    	※ 경고
		이 select SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    
    <sql id="select-columns">
    	area_no, area_name, srch_word, disp_name, sort_seq, store_no
    </sql>
    
    <sql id="pk-columns">
    	area_no = #{areaNo, jdbcType=VARCHAR}
    </sql>
    
    <select id="select" parameterType="kr.co.abcmart.bo.display.model.master.CmArea" resultType="kr.co.abcmart.bo.display.model.master.CmArea">
    
     /*+ kr.co.abcmart.bo.display.repository.master.CmAreaDao.select [기본 조회 쿼리] [Generator] */
    
		SELECT 
			 <include refid="select-columns" />
		FROM 
			CM_AREA
		<where> 
			<if test="areaNo != null"> 
				 area_no = #{areaNo, jdbcType=VARCHAR}
			</if> 
			<if test="areaName != null"> 
				 AND area_name = #{areaName, jdbcType=VARCHAR}
			</if> 
			<if test="srchWord != null"> 
				 AND srch_word = #{srchWord, jdbcType=VARCHAR}
			</if> 
			<if test="dispName != null"> 
				 AND disp_name = #{dispName, jdbcType=VARCHAR}
			</if> 
			<if test="sortSeq != null"> 
				 AND sort_seq = #{sortSeq, jdbcType=INTEGER}
			</if> 
			<if test="storeNo != null"> 
				 AND store_no = #{storeNo, jdbcType=VARCHAR}
			</if> 
		</where>  
    </select>
    
    <!--
    	※ 경고
		이 insert SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    
    <insert id="insert" parameterType="kr.co.abcmart.bo.display.model.master.CmArea">	

     /*+ kr.co.abcmart.bo.display.repository.master.CmAreaDao.insert [기본 insert 쿼리] [Generator] */
    
		INSERT INTO CM_AREA
			 ( area_no, area_name, srch_word, disp_name, sort_seq, store_no ) 

		VALUES 
			 ( #{areaNo, jdbcType=VARCHAR}, #{areaName, jdbcType=VARCHAR}, #{srchWord, jdbcType=VARCHAR}, #{dispName, jdbcType=VARCHAR}, #{sortSeq, jdbcType=INTEGER}, #{storeNo, jdbcType=VARCHAR} )  
    </insert>
    
    <!--
    	※ 경고
		이 update SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    <update id="update" parameterType="kr.co.abcmart.bo.display.model.master.CmArea">
    
     /*+ kr.co.abcmart.bo.display.repository.master.CmAreaDao.update [기본 update 쿼리] [Generator] */
    
		UPDATE CM_AREA
		<set> 
			<if test="areaNo != null"> 
				area_no = #{areaNo, jdbcType=VARCHAR}, 
			</if> 
			<if test="areaName != null"> 
				area_name = #{areaName, jdbcType=VARCHAR}, 
			</if> 
			<if test="srchWord != null"> 
				srch_word = #{srchWord, jdbcType=VARCHAR}, 
			</if> 
			<if test="dispName != null"> 
				disp_name = #{dispName, jdbcType=VARCHAR}, 
			</if> 
			<if test="sortSeq != null"> 
				sort_seq = #{sortSeq, jdbcType=INTEGER}, 
			</if> 
			<if test="storeNo != null"> 
				store_no = #{storeNo, jdbcType=VARCHAR}, 
			</if> 
		</set> 
		WHERE 
			 area_no = #{areaNo, jdbcType=VARCHAR}   
    </update>
    
    <!--
    	※ 경고
		이 delete SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    <delete id="delete" parameterType="kr.co.abcmart.bo.display.model.master.CmArea">
    
     /*+ kr.co.abcmart.bo.display.repository.master.CmAreaDao.delete [기본 delete 쿼리] [Generator] */
    
		DELETE FROM CM_AREA
		WHERE 
			 area_no = #{areaNo, jdbcType=VARCHAR}  
    </delete>
</mapper>