<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.abcmart.bo.display.repository.master.DpHashtagDao">

    <!--
    	※ 경고
		이 select SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    
    <sql id="select-columns">
    	hshtg_seq, hshtg_name, site_no, use_yn, disp_start_ymd, disp_end_ymd, rgster_no, rgst_dtm, moder_no, mod_dtm
    </sql>
    
    <sql id="pk-columns">
    	hshtg_seq = #{hshtgSeq, jdbcType=INTEGER}
    </sql>
    
    <select id="select" parameterType="kr.co.abcmart.bo.display.model.master.DpHashtag" resultType="kr.co.abcmart.bo.display.model.master.DpHashtag">
    
     /*+ kr.co.abcmart.bo.display.repository.master.DpHashtagDao.select [기본 조회 쿼리] [Generator] */
    
		SELECT 
			 <include refid="select-columns" />
		FROM 
			DP_HASHTAG
		<where> 
			<if test="hshtgSeq != null"> 
				 hshtg_seq = #{hshtgSeq, jdbcType=INTEGER}
			</if> 
			<if test="hshtgName != null"> 
				 AND hshtg_name = #{hshtgName, jdbcType=VARCHAR}
			</if> 
			<if test="siteNo != null"> 
				 AND site_no = #{siteNo, jdbcType=VARCHAR}
			</if> 
			<if test="useYn != null"> 
				 AND use_yn = #{useYn, jdbcType=CHAR}
			</if> 
			<if test="dispStartYmd != null"> 
				 AND disp_start_ymd = #{dispStartYmd, jdbcType=DATE}
			</if> 
			<if test="dispEndYmd != null"> 
				 AND disp_end_ymd = #{dispEndYmd, jdbcType=DATE}
			</if> 
			<if test="rgsterNo != null"> 
				 AND rgster_no = #{rgsterNo, jdbcType=VARCHAR}
			</if> 
			<if test="rgstDtm != null"> 
				 AND rgst_dtm = #{rgstDtm, jdbcType=TIMESTAMP}
			</if> 
			<if test="moderNo != null"> 
				 AND moder_no = #{moderNo, jdbcType=VARCHAR}
			</if> 
			<if test="modDtm != null"> 
				 AND mod_dtm = #{modDtm, jdbcType=TIMESTAMP}
			</if> 
		</where>  
    </select>
    
    <!--
    	※ 경고
		이 insert SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    
	<insert id="insert" useGeneratedKeys="true" keyProperty="hshtgSeq">

     /*+ kr.co.abcmart.bo.display.repository.master.DpHashtagDao.insert [기본 insert 쿼리] [Generator] */
    
		INSERT INTO DP_HASHTAG
			 ( hshtg_name, site_no, use_yn, disp_start_ymd, disp_end_ymd, rgster_no, rgst_dtm, moder_no, mod_dtm ) 

		VALUES 
			 ( #{hshtgName, jdbcType=VARCHAR}, #{siteNo, jdbcType=VARCHAR}, #{useYn, jdbcType=CHAR}, <choose><when test="dispStartYmd != null">#{dispStartYmd, jdbcType=DATE}</when><otherwise>getdate()</otherwise></choose>, <choose><when test="dispEndYmd != null">#{dispEndYmd, jdbcType=DATE}</when><otherwise>getdate()</otherwise></choose>, #{rgsterNo, jdbcType=VARCHAR}, <choose><when test="rgstDtm != null">#{rgstDtm, jdbcType=TIMESTAMP}</when><otherwise>getdate()</otherwise></choose>, #{moderNo, jdbcType=VARCHAR}, <choose><when test="modDtm != null">#{modDtm, jdbcType=TIMESTAMP}</when><otherwise>getdate()</otherwise></choose> )  
    </insert>
    
    <!--
    	※ 경고
		이 update SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    <update id="update" parameterType="kr.co.abcmart.bo.display.model.master.DpHashtag">
    
     /*+ kr.co.abcmart.bo.display.repository.master.DpHashtagDao.update [기본 update 쿼리] [Generator] */
    
		UPDATE DP_HASHTAG
		<set> 
			<if test="hshtgSeq != null"> 
				hshtg_seq = #{hshtgSeq, jdbcType=INTEGER}, 
			</if> 
			<if test="hshtgName != null"> 
				hshtg_name = #{hshtgName, jdbcType=VARCHAR}, 
			</if> 
			<if test="siteNo != null"> 
				site_no = #{siteNo, jdbcType=VARCHAR}, 
			</if> 
			<if test="useYn != null"> 
				use_yn = #{useYn, jdbcType=CHAR}, 
			</if> 
			<if test="dispStartYmd != null"> 
				disp_start_ymd = #{dispStartYmd, jdbcType=DATE}, 
			</if> 
			<if test="dispEndYmd != null"> 
				disp_end_ymd = #{dispEndYmd, jdbcType=DATE}, 
			</if> 
			<if test="rgsterNo != null"> 
				rgster_no = #{rgsterNo, jdbcType=VARCHAR}, 
			</if> 
			<if test="rgstDtm != null"> 
				rgst_dtm = #{rgstDtm, jdbcType=TIMESTAMP}, 
			</if> 
			<if test="moderNo != null"> 
				moder_no = #{moderNo, jdbcType=VARCHAR}, 
			</if> 
			<if test="modDtm != null"> 
				mod_dtm = #{modDtm, jdbcType=TIMESTAMP}, 
			</if> 
		</set> 
		WHERE 
			 hshtg_seq = #{hshtgSeq, jdbcType=INTEGER}   
    </update>
    
    <!--
    	※ 경고
		이 delete SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    <delete id="delete" parameterType="kr.co.abcmart.bo.display.model.master.DpHashtag">
    
     /*+ kr.co.abcmart.bo.display.repository.master.DpHashtagDao.delete [기본 delete 쿼리] [Generator] */
    
		DELETE FROM DP_HASHTAG
		WHERE 
			 hshtg_seq = #{hshtgSeq, jdbcType=INTEGER}  
    </delete>
</mapper>