<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.abcmart.bo.display.repository.master.DpWebzineDetailImageDao">

    <!--
    	※ 경고
		이 select SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    
    <sql id="select-columns">
    	wbzn_seq, wbzn_dtl_image_seq, image_name, image_path_text, image_url, altrn_text, sort_seq, rgster_no, rgst_dtm
    </sql>
    
    <sql id="pk-columns">
    	wbzn_dtl_image_seq = #{wbznDtlImageSeq, jdbcType=TINYINT} AND wbzn_seq = #{wbznSeq, jdbcType=INTEGER}
    </sql>
    
    <select id="select" parameterType="kr.co.abcmart.bo.display.model.master.DpWebzineDetailImage" resultType="kr.co.abcmart.bo.display.model.master.DpWebzineDetailImage">
    
     /*+ kr.co.abcmart.bo.display.repository.master.DpWebzineDetailImageDao.select [기본 조회 쿼리] [Generator] */
    
		SELECT 
			 <include refid="select-columns" />
		FROM 
			dp_webzine_detail_image
		<where> 
			<if test="wbznSeq != null"> 
				 wbzn_seq = #{wbznSeq, jdbcType=INTEGER}
			</if> 
			<if test="wbznDtlImageSeq != null"> 
				 AND wbzn_dtl_image_seq = #{wbznDtlImageSeq, jdbcType=TINYINT}
			</if> 
			<if test="imageName != null"> 
				 AND image_name = #{imageName, jdbcType=VARCHAR}
			</if> 
			<if test="imagePathText != null"> 
				 AND image_path_text = #{imagePathText, jdbcType=VARCHAR}
			</if> 
			<if test="imageUrl != null"> 
				 AND image_url = #{imageUrl, jdbcType=VARCHAR}
			</if> 
			<if test="altrnText != null"> 
				 AND altrn_text = #{altrnText, jdbcType=VARCHAR}
			</if> 
			<if test="sortSeq != null"> 
				 AND sort_seq = #{sortSeq, jdbcType=INTEGER}
			</if> 
			<if test="rgsterNo != null"> 
				 AND rgster_no = #{rgsterNo, jdbcType=VARCHAR}
			</if> 
			<if test="rgstDtm != null"> 
				 AND rgst_dtm = #{rgstDtm, jdbcType=TIMESTAMP}
			</if> 
		</where>  
    </select>
    
    <!--
    	※ 경고
		이 insert SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    
    <insert id="insert" parameterType="kr.co.abcmart.bo.display.model.master.DpWebzineDetailImage">	

     /*+ kr.co.abcmart.bo.display.repository.master.DpWebzineDetailImageDao.insert [기본 insert 쿼리] [Generator] */
    
		INSERT INTO dp_webzine_detail_image
			 ( wbzn_seq, wbzn_dtl_image_seq, image_name, image_path_text, image_url, altrn_text, sort_seq, rgster_no, rgst_dtm ) 

		VALUES 
			 ( #{wbznSeq, jdbcType=INTEGER}, #{wbznDtlImageSeq, jdbcType=TINYINT}, #{imageName, jdbcType=VARCHAR}, #{imagePathText, jdbcType=VARCHAR}, #{imageUrl, jdbcType=VARCHAR}, #{altrnText, jdbcType=VARCHAR}, #{sortSeq, jdbcType=INTEGER}, #{rgsterNo, jdbcType=VARCHAR}, <choose><when test="rgstDtm != null">#{rgstDtm, jdbcType=TIMESTAMP}</when><otherwise>getdate()</otherwise></choose> )  
    </insert>
    
    <!--
    	※ 경고
		이 update SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    <update id="update" parameterType="kr.co.abcmart.bo.display.model.master.DpWebzineDetailImage">
    
     /*+ kr.co.abcmart.bo.display.repository.master.DpWebzineDetailImageDao.update [기본 update 쿼리] [Generator] */
    
		UPDATE dp_webzine_detail_image
		<set> 
			<if test="wbznSeq != null"> 
				wbzn_seq = #{wbznSeq, jdbcType=INTEGER}, 
			</if> 
			<if test="wbznDtlImageSeq != null"> 
				wbzn_dtl_image_seq = #{wbznDtlImageSeq, jdbcType=TINYINT}, 
			</if> 
			<if test="imageName != null"> 
				image_name = #{imageName, jdbcType=VARCHAR}, 
			</if> 
			<if test="imagePathText != null"> 
				image_path_text = #{imagePathText, jdbcType=VARCHAR}, 
			</if> 
			<if test="imageUrl != null"> 
				image_url = #{imageUrl, jdbcType=VARCHAR}, 
			</if> 
			<if test="altrnText != null"> 
				altrn_text = #{altrnText, jdbcType=VARCHAR}, 
			</if> 
			<if test="sortSeq != null"> 
				sort_seq = #{sortSeq, jdbcType=INTEGER}, 
			</if> 
			<if test="rgsterNo != null"> 
				rgster_no = #{rgsterNo, jdbcType=VARCHAR}, 
			</if> 
			<if test="rgstDtm != null"> 
				rgst_dtm = #{rgstDtm, jdbcType=TIMESTAMP}, 
			</if> 
		</set> 
		WHERE 
			 wbzn_dtl_image_seq = #{wbznDtlImageSeq, jdbcType=TINYINT} AND wbzn_seq = #{wbznSeq, jdbcType=INTEGER}   
    </update>
    
    <!--
    	※ 경고
		이 delete SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    <delete id="delete" parameterType="kr.co.abcmart.bo.display.model.master.DpWebzineDetailImage">
    
     /*+ kr.co.abcmart.bo.display.repository.master.DpWebzineDetailImageDao.delete [기본 delete 쿼리] [Generator] */
    
		DELETE FROM dp_webzine_detail_image
		WHERE 
			 wbzn_dtl_image_seq = #{wbznDtlImageSeq, jdbcType=TINYINT} AND wbzn_seq = #{wbznSeq, jdbcType=INTEGER}  
    </delete>
</mapper>