<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.abcmart.bo.display.repository.master.DpHashtagProductDao">

    <!--
    	※ 경고
		이 select SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    
    <sql id="select-columns">
    	hshtg_seq, prdt_no, sort_seq
    </sql>
    
    <sql id="pk-columns">
    	hshtg_seq = #{hshtgSeq, jdbcType=INTEGER} AND prdt_no = #{prdtNo, jdbcType=VARCHAR}
    </sql>
    
    <select id="select" parameterType="kr.co.abcmart.bo.display.model.master.DpHashtagProduct" resultType="kr.co.abcmart.bo.display.model.master.DpHashtagProduct">
    
     /*+ kr.co.abcmart.bo.display.repository.master.DpHashtagProductDao.select [기본 조회 쿼리] [Generator] */
    
		SELECT 
			 <include refid="select-columns" />
		FROM 
			DP_HASHTAG_PRODUCT
		<where> 
			<if test="hshtgSeq != null"> 
				 hshtg_seq = #{hshtgSeq, jdbcType=INTEGER}
			</if> 
			<if test="prdtNo != null"> 
				 AND prdt_no = #{prdtNo, jdbcType=VARCHAR}
			</if> 
			<if test="sortSeq != null"> 
				 AND sort_seq = #{sortSeq, jdbcType=INTEGER}
			</if> 
		</where>  
    </select>
    
    <!--
    	※ 경고
		이 insert SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    
    <insert id="insert" parameterType="kr.co.abcmart.bo.display.model.master.DpHashtagProduct">	

     /*+ kr.co.abcmart.bo.display.repository.master.DpHashtagProductDao.insert [기본 insert 쿼리] [Generator] */
    
		INSERT INTO DP_HASHTAG_PRODUCT
			 ( hshtg_seq, prdt_no, sort_seq ) 

		VALUES 
			 ( #{hshtgSeq, jdbcType=INTEGER}, #{prdtNo, jdbcType=VARCHAR}, #{sortSeq, jdbcType=INTEGER} )  
    </insert>
    
    <!--
    	※ 경고
		이 update SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    <update id="update" parameterType="kr.co.abcmart.bo.display.model.master.DpHashtagProduct">
    
     /*+ kr.co.abcmart.bo.display.repository.master.DpHashtagProductDao.update [기본 update 쿼리] [Generator] */
    
		UPDATE DP_HASHTAG_PRODUCT
		<set> 
			<if test="hshtgSeq != null"> 
				hshtg_seq = #{hshtgSeq, jdbcType=INTEGER}, 
			</if> 
			<if test="prdtNo != null"> 
				prdt_no = #{prdtNo, jdbcType=VARCHAR}, 
			</if> 
			<if test="sortSeq != null"> 
				sort_seq = #{sortSeq, jdbcType=INTEGER}, 
			</if> 
		</set> 
		WHERE 
			 hshtg_seq = #{hshtgSeq, jdbcType=INTEGER} AND prdt_no = #{prdtNo, jdbcType=VARCHAR}   
    </update>
    
    <!--
    	※ 경고
		이 delete SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    <delete id="delete" parameterType="kr.co.abcmart.bo.display.model.master.DpHashtagProduct">
    
     /*+ kr.co.abcmart.bo.display.repository.master.DpHashtagProductDao.delete [기본 delete 쿼리] [Generator] */
    
		DELETE FROM DP_HASHTAG_PRODUCT
		WHERE 
			 hshtg_seq = #{hshtgSeq, jdbcType=INTEGER} AND prdt_no = #{prdtNo, jdbcType=VARCHAR}  
    </delete>
</mapper>