<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.abcmart.bo.display.repository.master.CmAreaDetailDao">

    <!--
    	※ 경고
		이 select SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    
    <sql id="select-columns">
    	area_dtl_seq, area_no, area_dtl_name, srch_word, sort_seq
    </sql>
    
    <sql id="pk-columns">
    	area_dtl_seq = #{areaDtlSeq, jdbcType=INTEGER}
    </sql>
    
    <select id="select" parameterType="kr.co.abcmart.bo.display.model.master.CmAreaDetail" resultType="kr.co.abcmart.bo.display.model.master.CmAreaDetail">
    
     /*+ kr.co.abcmart.bo.display.repository.master.CmAreaDetailDao.select [기본 조회 쿼리] [Generator] */
    
		SELECT 
			 <include refid="select-columns" />
		FROM 
			CM_AREA_DETAIL
		<where> 
			<if test="areaDtlSeq != null"> 
				 area_dtl_seq = #{areaDtlSeq, jdbcType=INTEGER}
			</if> 
			<if test="areaNo != null"> 
				 AND area_no = #{areaNo, jdbcType=VARCHAR}
			</if> 
			<if test="areaDtlName != null"> 
				 AND area_dtl_name = #{areaDtlName, jdbcType=VARCHAR}
			</if> 
			<if test="srchWord != null"> 
				 AND srch_word = #{srchWord, jdbcType=VARCHAR}
			</if> 
			<if test="sortSeq != null"> 
				 AND sort_seq = #{sortSeq, jdbcType=INTEGER}
			</if> 
		</where>  
    </select>
    
    <!--
    	※ 경고
		이 insert SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    
	<insert id="insert" useGeneratedKeys="true" keyProperty="areaDtlSeq">

     /*+ kr.co.abcmart.bo.display.repository.master.CmAreaDetailDao.insert [기본 insert 쿼리] [Generator] */
    
		INSERT INTO CM_AREA_DETAIL
			 ( area_no, area_dtl_name, srch_word, sort_seq ) 

		VALUES 
			 ( #{areaNo, jdbcType=VARCHAR}, #{areaDtlName, jdbcType=VARCHAR}, #{srchWord, jdbcType=VARCHAR}, #{sortSeq, jdbcType=INTEGER} )  
    </insert>
    
    <!--
    	※ 경고
		이 update SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    <update id="update" parameterType="kr.co.abcmart.bo.display.model.master.CmAreaDetail">
    
     /*+ kr.co.abcmart.bo.display.repository.master.CmAreaDetailDao.update [기본 update 쿼리] [Generator] */
    
		UPDATE CM_AREA_DETAIL
		<set> 
			<if test="areaDtlSeq != null"> 
				area_dtl_seq = #{areaDtlSeq, jdbcType=INTEGER}, 
			</if> 
			<if test="areaNo != null"> 
				area_no = #{areaNo, jdbcType=VARCHAR}, 
			</if> 
			<if test="areaDtlName != null"> 
				area_dtl_name = #{areaDtlName, jdbcType=VARCHAR}, 
			</if> 
			<if test="srchWord != null"> 
				srch_word = #{srchWord, jdbcType=VARCHAR}, 
			</if> 
			<if test="sortSeq != null"> 
				sort_seq = #{sortSeq, jdbcType=INTEGER}, 
			</if> 
		</set> 
		WHERE 
			 area_dtl_seq = #{areaDtlSeq, jdbcType=INTEGER}   
    </update>
    
    <!--
    	※ 경고
		이 delete SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    <delete id="delete" parameterType="kr.co.abcmart.bo.display.model.master.CmAreaDetail">
    
     /*+ kr.co.abcmart.bo.display.repository.master.CmAreaDetailDao.delete [기본 delete 쿼리] [Generator] */
    
		DELETE FROM CM_AREA_DETAIL
		WHERE 
			 area_dtl_seq = #{areaDtlSeq, jdbcType=INTEGER}  
    </delete>
</mapper>