<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.abcmart.bo.display.repository.master.DpDisplayTemplateCornerDao">

    <!--
    	※ 경고
		이 select SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    
    <sql id="select-columns">
    	disp_tmpl_no, disp_tmpl_corner_seq, corner_name, corner_name_disp_type, set_count, note_text, sort_seq, use_yn, rgster_no, rgst_dtm, moder_no, mod_dtm
    </sql>
    
    <sql id="pk-columns">
    	disp_tmpl_corner_seq = #{dispTmplCornerSeq, jdbcType=INTEGER} AND disp_tmpl_no = #{dispTmplNo, jdbcType=VARCHAR}
    </sql>
    
    <select id="select" parameterType="kr.co.abcmart.bo.display.model.master.DpDisplayTemplateCorner" resultType="kr.co.abcmart.bo.display.model.master.DpDisplayTemplateCorner">
    
     /*+ kr.co.abcmart.bo.display.repository.master.DpDisplayTemplateCornerDao.select [기본 조회 쿼리] [Generator] */
    
		SELECT 
			 <include refid="select-columns" />
		FROM 
			dp_display_template_corner
		<where> 
			<if test="dispTmplNo != null"> 
				 disp_tmpl_no = #{dispTmplNo, jdbcType=VARCHAR}
			</if> 
			<if test="dispTmplCornerSeq != null"> 
				 AND disp_tmpl_corner_seq = #{dispTmplCornerSeq, jdbcType=INTEGER}
			</if> 
			<if test="cornerName != null"> 
				 AND corner_name = #{cornerName, jdbcType=VARCHAR}
			</if> 
			<if test="cornerNameDispType != null"> 
				 AND corner_name_disp_type = #{cornerNameDispType, jdbcType=CHAR}
			</if> 
			<if test="setCount != null"> 
				 AND set_count = #{setCount, jdbcType=INTEGER}
			</if> 
			<if test="noteText != null"> 
				 AND note_text = #{noteText, jdbcType=VARCHAR}
			</if> 
			<if test="sortSeq != null"> 
				 AND sort_seq = #{sortSeq, jdbcType=INTEGER}
			</if> 
			<if test="useYn != null"> 
				 AND use_yn = #{useYn, jdbcType=CHAR}
			</if> 
			<if test="rgsterNo != null"> 
				 AND rgster_no = #{rgsterNo, jdbcType=VARCHAR}
			</if> 
			<if test="rgstDtm != null"> 
				 AND rgst_dtm = #{rgstDtm, jdbcType=TIMESTAMP}
			</if> 
			<if test="moderNo != null"> 
				 AND moder_no = #{moderNo, jdbcType=VARCHAR}
			</if> 
			<if test="modDtm != null"> 
				 AND mod_dtm = #{modDtm, jdbcType=TIMESTAMP}
			</if> 
		</where>  
    </select>
    
    <!--
    	※ 경고
		이 insert SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    
    <insert id="insert" parameterType="kr.co.abcmart.bo.display.model.master.DpDisplayTemplateCorner">	

     /*+ kr.co.abcmart.bo.display.repository.master.DpDisplayTemplateCornerDao.insert [기본 insert 쿼리] [Generator] */
    
		INSERT INTO dp_display_template_corner
			 ( disp_tmpl_no, disp_tmpl_corner_seq, corner_name, corner_name_disp_type, set_count, note_text, sort_seq, use_yn, rgster_no, rgst_dtm, moder_no, mod_dtm ) 

		VALUES 
			 ( #{dispTmplNo, jdbcType=VARCHAR}, #{dispTmplCornerSeq, jdbcType=INTEGER}, #{cornerName, jdbcType=VARCHAR}, #{cornerNameDispType, jdbcType=CHAR}, #{setCount, jdbcType=INTEGER}, #{noteText, jdbcType=VARCHAR}, #{sortSeq, jdbcType=INTEGER}, #{useYn, jdbcType=CHAR}, #{rgsterNo, jdbcType=VARCHAR}, <choose><when test="rgstDtm != null">#{rgstDtm, jdbcType=TIMESTAMP}</when><otherwise>getdate()</otherwise></choose>, #{moderNo, jdbcType=VARCHAR}, <choose><when test="modDtm != null">#{modDtm, jdbcType=TIMESTAMP}</when><otherwise>getdate()</otherwise></choose> )  
    </insert>
    
    <!--
    	※ 경고
		이 update SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    <update id="update" parameterType="kr.co.abcmart.bo.display.model.master.DpDisplayTemplateCorner">
    
     /*+ kr.co.abcmart.bo.display.repository.master.DpDisplayTemplateCornerDao.update [기본 update 쿼리] [Generator] */
    
		UPDATE dp_display_template_corner
		<set> 
			<if test="dispTmplNo != null"> 
				disp_tmpl_no = #{dispTmplNo, jdbcType=VARCHAR}, 
			</if> 
			<if test="dispTmplCornerSeq != null"> 
				disp_tmpl_corner_seq = #{dispTmplCornerSeq, jdbcType=INTEGER}, 
			</if> 
			<if test="cornerName != null"> 
				corner_name = #{cornerName, jdbcType=VARCHAR}, 
			</if> 
			<if test="cornerNameDispType != null"> 
				corner_name_disp_type = #{cornerNameDispType, jdbcType=CHAR}, 
			</if> 
			<if test="setCount != null"> 
				set_count = #{setCount, jdbcType=INTEGER}, 
			</if> 
			<if test="noteText != null"> 
				note_text = #{noteText, jdbcType=VARCHAR}, 
			</if> 
			<if test="sortSeq != null"> 
				sort_seq = #{sortSeq, jdbcType=INTEGER}, 
			</if> 
			<if test="useYn != null"> 
				use_yn = #{useYn, jdbcType=CHAR}, 
			</if> 
			<if test="rgsterNo != null"> 
				rgster_no = #{rgsterNo, jdbcType=VARCHAR}, 
			</if> 
			<if test="rgstDtm != null"> 
				rgst_dtm = #{rgstDtm, jdbcType=TIMESTAMP}, 
			</if> 
			<if test="moderNo != null"> 
				moder_no = #{moderNo, jdbcType=VARCHAR}, 
			</if> 
			<if test="modDtm != null"> 
				mod_dtm = #{modDtm, jdbcType=TIMESTAMP}, 
			</if> 
		</set> 
		WHERE 
			 disp_tmpl_corner_seq = #{dispTmplCornerSeq, jdbcType=INTEGER} AND disp_tmpl_no = #{dispTmplNo, jdbcType=VARCHAR}   
    </update>
    
    <!--
    	※ 경고
		이 delete SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    <delete id="delete" parameterType="kr.co.abcmart.bo.display.model.master.DpDisplayTemplateCorner">
    
     /*+ kr.co.abcmart.bo.display.repository.master.DpDisplayTemplateCornerDao.delete [기본 delete 쿼리] [Generator] */
    
		DELETE FROM dp_display_template_corner
		WHERE 
			 disp_tmpl_corner_seq = #{dispTmplCornerSeq, jdbcType=INTEGER} AND disp_tmpl_no = #{dispTmplNo, jdbcType=VARCHAR}  
    </delete>
</mapper>