<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.abcmart.bo.display.repository.master.BdPopupDisplayPositionDao">

    <!--
    	※ 경고
		이 select SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    
    <sql id="select-columns">
    	popup_seq, popup_disp_postn_seq, popup_disp_postn_code, disp_postn_url, device_code, rgster_no, rgst_dtm
    </sql>
    
    <sql id="pk-columns">
    	popup_disp_postn_seq = #{popupDispPostnSeq, jdbcType=INTEGER} AND popup_seq = #{popupSeq, jdbcType=INTEGER}
    </sql>
    
    <select id="select" parameterType="kr.co.abcmart.bo.display.model.master.BdPopupDisplayPosition" resultType="kr.co.abcmart.bo.display.model.master.BdPopupDisplayPosition">
    
     /*+ kr.co.abcmart.bo.display.repository.master.BdPopupDisplayPositionDao.select [기본 조회 쿼리] [Generator] */
    
		SELECT 
			 <include refid="select-columns" />
		FROM 
			BD_POPUP_DISPLAY_POSITION
		<where> 
			<if test="popupSeq != null"> 
				 popup_seq = #{popupSeq, jdbcType=INTEGER}
			</if> 
			<if test="popupDispPostnSeq != null"> 
				 AND popup_disp_postn_seq = #{popupDispPostnSeq, jdbcType=INTEGER}
			</if> 
			<if test="popupDispPostnCode != null"> 
				 AND popup_disp_postn_code = #{popupDispPostnCode, jdbcType=VARCHAR}
			</if> 
			<if test="dispPostnUrl != null"> 
				 AND disp_postn_url = #{dispPostnUrl, jdbcType=VARCHAR}
			</if> 
			<if test="deviceCode != null"> 
				 AND device_code = #{deviceCode, jdbcType=VARCHAR}
			</if> 
			<if test="rgsterNo != null"> 
				 AND rgster_no = #{rgsterNo, jdbcType=VARCHAR}
			</if> 
			<if test="rgstDtm != null"> 
				 AND rgst_dtm = #{rgstDtm, jdbcType=TIMESTAMP}
			</if> 
		</where>  
    </select>
    
    <!--
    	※ 경고
		이 insert SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    
    <insert id="insert" parameterType="kr.co.abcmart.bo.display.model.master.BdPopupDisplayPosition">	

     /*+ kr.co.abcmart.bo.display.repository.master.BdPopupDisplayPositionDao.insert [기본 insert 쿼리] [Generator] */
    
		INSERT INTO BD_POPUP_DISPLAY_POSITION
			 ( popup_seq, popup_disp_postn_seq, popup_disp_postn_code, disp_postn_url, device_code, rgster_no, rgst_dtm ) 

		VALUES 
			 ( #{popupSeq, jdbcType=INTEGER}, #{popupDispPostnSeq, jdbcType=INTEGER}, #{popupDispPostnCode, jdbcType=VARCHAR}, #{dispPostnUrl, jdbcType=VARCHAR}, #{deviceCode, jdbcType=VARCHAR}, #{rgsterNo, jdbcType=VARCHAR}, <choose><when test="rgstDtm != null">#{rgstDtm, jdbcType=TIMESTAMP}</when><otherwise>getdate()</otherwise></choose> )  
    </insert>
    
    <!--
    	※ 경고
		이 update SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    <update id="update" parameterType="kr.co.abcmart.bo.display.model.master.BdPopupDisplayPosition">
    
     /*+ kr.co.abcmart.bo.display.repository.master.BdPopupDisplayPositionDao.update [기본 update 쿼리] [Generator] */
    
		UPDATE BD_POPUP_DISPLAY_POSITION
		<set> 
			<if test="popupSeq != null"> 
				popup_seq = #{popupSeq, jdbcType=INTEGER}, 
			</if> 
			<if test="popupDispPostnSeq != null"> 
				popup_disp_postn_seq = #{popupDispPostnSeq, jdbcType=INTEGER}, 
			</if> 
			<if test="popupDispPostnCode != null"> 
				popup_disp_postn_code = #{popupDispPostnCode, jdbcType=VARCHAR}, 
			</if> 
			<if test="dispPostnUrl != null"> 
				disp_postn_url = #{dispPostnUrl, jdbcType=VARCHAR}, 
			</if> 
			<if test="deviceCode != null"> 
				device_code = #{deviceCode, jdbcType=VARCHAR}, 
			</if> 
			<if test="rgsterNo != null"> 
				rgster_no = #{rgsterNo, jdbcType=VARCHAR}, 
			</if> 
			<if test="rgstDtm != null"> 
				rgst_dtm = #{rgstDtm, jdbcType=TIMESTAMP}, 
			</if> 
		</set> 
		WHERE 
			 popup_disp_postn_seq = #{popupDispPostnSeq, jdbcType=INTEGER} AND popup_seq = #{popupSeq, jdbcType=INTEGER}   
    </update>
    
    <!--
    	※ 경고
		이 delete SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    <delete id="delete" parameterType="kr.co.abcmart.bo.display.model.master.BdPopupDisplayPosition">
    
     /*+ kr.co.abcmart.bo.display.repository.master.BdPopupDisplayPositionDao.delete [기본 delete 쿼리] [Generator] */
    
		DELETE FROM BD_POPUP_DISPLAY_POSITION
		WHERE 
			 popup_disp_postn_seq = #{popupDispPostnSeq, jdbcType=INTEGER} AND popup_seq = #{popupSeq, jdbcType=INTEGER}  
    </delete>
</mapper>