<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.abcmart.bo.display.repository.master.DpDisplayTemplateDao">

    <!--
    	※ 경고
		이 select SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    
    <sql id="select-columns">
    	disp_tmpl_no, tmpl_name, site_no, chnnl_no, device_code, tmpl_type_code, tmpl_url, image_name, image_path_text, image_url, altrn_text, use_yn, rgster_no, rgst_dtm, moder_no, mod_dtm
    </sql>
    
    <sql id="pk-columns">
    	disp_tmpl_no = #{dispTmplNo, jdbcType=VARCHAR}
    </sql>
    
    <select id="select" parameterType="kr.co.abcmart.bo.display.model.master.DpDisplayTemplate" resultType="kr.co.abcmart.bo.display.model.master.DpDisplayTemplate">
    
     /*+ kr.co.abcmart.bo.display.repository.master.DpDisplayTemplateDao.select [기본 조회 쿼리] [Generator] */
    
		SELECT 
			 <include refid="select-columns" />
		FROM 
			DP_DISPLAY_TEMPLATE
		<where> 
			<if test="dispTmplNo != null"> 
				 disp_tmpl_no = #{dispTmplNo, jdbcType=VARCHAR}
			</if> 
			<if test="tmplName != null"> 
				 AND tmpl_name = #{tmplName, jdbcType=VARCHAR}
			</if> 
			<if test="siteNo != null"> 
				 AND site_no = #{siteNo, jdbcType=VARCHAR}
			</if> 
			<if test="chnnlNo != null"> 
				 AND chnnl_no = #{chnnlNo, jdbcType=VARCHAR}
			</if> 
			<if test="deviceCode != null"> 
				 AND device_code = #{deviceCode, jdbcType=VARCHAR}
			</if> 
			<if test="tmplTypeCode != null"> 
				 AND tmpl_type_code = #{tmplTypeCode, jdbcType=VARCHAR}
			</if> 
			<if test="tmplUrl != null"> 
				 AND tmpl_url = #{tmplUrl, jdbcType=VARCHAR}
			</if> 
			<if test="imageName != null"> 
				 AND image_name = #{imageName, jdbcType=VARCHAR}
			</if> 
			<if test="imagePathText != null"> 
				 AND image_path_text = #{imagePathText, jdbcType=VARCHAR}
			</if> 
			<if test="imageUrl != null"> 
				 AND image_url = #{imageUrl, jdbcType=VARCHAR}
			</if> 
			<if test="altrnText != null"> 
				 AND altrn_text = #{altrnText, jdbcType=VARCHAR}
			</if> 
			<if test="useYn != null"> 
				 AND use_yn = #{useYn, jdbcType=CHAR}
			</if> 
			<if test="rgsterNo != null"> 
				 AND rgster_no = #{rgsterNo, jdbcType=VARCHAR}
			</if> 
			<if test="rgstDtm != null"> 
				 AND rgst_dtm = #{rgstDtm, jdbcType=TIMESTAMP}
			</if> 
			<if test="moderNo != null"> 
				 AND moder_no = #{moderNo, jdbcType=VARCHAR}
			</if> 
			<if test="modDtm != null"> 
				 AND mod_dtm = #{modDtm, jdbcType=TIMESTAMP}
			</if> 
		</where>  
    </select>
    
    <!--
    	※ 경고
		이 insert SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    
    <insert id="insert" parameterType="kr.co.abcmart.bo.display.model.master.DpDisplayTemplate">	

     /*+ kr.co.abcmart.bo.display.repository.master.DpDisplayTemplateDao.insert [기본 insert 쿼리] [Generator] */
    
		INSERT INTO DP_DISPLAY_TEMPLATE
			 ( disp_tmpl_no, tmpl_name, site_no, chnnl_no, device_code, tmpl_type_code, tmpl_url, image_name, image_path_text, image_url, altrn_text, use_yn, rgster_no, rgst_dtm, moder_no, mod_dtm ) 

		VALUES 
			 ( #{dispTmplNo, jdbcType=VARCHAR}, #{tmplName, jdbcType=VARCHAR}, #{siteNo, jdbcType=VARCHAR}, #{chnnlNo, jdbcType=VARCHAR}, #{deviceCode, jdbcType=VARCHAR}, #{tmplTypeCode, jdbcType=VARCHAR}, #{tmplUrl, jdbcType=VARCHAR}, #{imageName, jdbcType=VARCHAR}, #{imagePathText, jdbcType=VARCHAR}, #{imageUrl, jdbcType=VARCHAR}, #{altrnText, jdbcType=VARCHAR}, #{useYn, jdbcType=CHAR}, #{rgsterNo, jdbcType=VARCHAR}, <choose><when test="rgstDtm != null">#{rgstDtm, jdbcType=TIMESTAMP}</when><otherwise>getdate()</otherwise></choose>, #{moderNo, jdbcType=VARCHAR}, <choose><when test="modDtm != null">#{modDtm, jdbcType=TIMESTAMP}</when><otherwise>getdate()</otherwise></choose> )  
    </insert>
    
    <!--
    	※ 경고
		이 update SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    <update id="update" parameterType="kr.co.abcmart.bo.display.model.master.DpDisplayTemplate">
    
     /*+ kr.co.abcmart.bo.display.repository.master.DpDisplayTemplateDao.update [기본 update 쿼리] [Generator] */
    
		UPDATE DP_DISPLAY_TEMPLATE
		<set> 
			<if test="dispTmplNo != null"> 
				disp_tmpl_no = #{dispTmplNo, jdbcType=VARCHAR}, 
			</if> 
			<if test="tmplName != null"> 
				tmpl_name = #{tmplName, jdbcType=VARCHAR}, 
			</if> 
			<if test="siteNo != null"> 
				site_no = #{siteNo, jdbcType=VARCHAR}, 
			</if> 
			<if test="chnnlNo != null"> 
				chnnl_no = #{chnnlNo, jdbcType=VARCHAR}, 
			</if> 
			<if test="deviceCode != null"> 
				device_code = #{deviceCode, jdbcType=VARCHAR}, 
			</if> 
			<if test="tmplTypeCode != null"> 
				tmpl_type_code = #{tmplTypeCode, jdbcType=VARCHAR}, 
			</if> 
			<if test="tmplUrl != null"> 
				tmpl_url = #{tmplUrl, jdbcType=VARCHAR}, 
			</if> 
			<if test="imageName != null"> 
				image_name = #{imageName, jdbcType=VARCHAR}, 
			</if> 
			<if test="imagePathText != null"> 
				image_path_text = #{imagePathText, jdbcType=VARCHAR}, 
			</if> 
			<if test="imageUrl != null"> 
				image_url = #{imageUrl, jdbcType=VARCHAR}, 
			</if> 
			<if test="altrnText != null"> 
				altrn_text = #{altrnText, jdbcType=VARCHAR}, 
			</if> 
			<if test="useYn != null"> 
				use_yn = #{useYn, jdbcType=CHAR}, 
			</if> 
			<if test="rgsterNo != null"> 
				rgster_no = #{rgsterNo, jdbcType=VARCHAR}, 
			</if> 
			<if test="rgstDtm != null"> 
				rgst_dtm = #{rgstDtm, jdbcType=TIMESTAMP}, 
			</if> 
			<if test="moderNo != null"> 
				moder_no = #{moderNo, jdbcType=VARCHAR}, 
			</if> 
			<if test="modDtm != null"> 
				mod_dtm = #{modDtm, jdbcType=TIMESTAMP}, 
			</if> 
		</set> 
		WHERE 
			 disp_tmpl_no = #{dispTmplNo, jdbcType=VARCHAR}   
    </update>
    
    <!--
    	※ 경고
		이 delete SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    <delete id="delete" parameterType="kr.co.abcmart.bo.display.model.master.DpDisplayTemplate">
    
     /*+ kr.co.abcmart.bo.display.repository.master.DpDisplayTemplateDao.delete [기본 delete 쿼리] [Generator] */
    
		DELETE FROM DP_DISPLAY_TEMPLATE
		WHERE 
			 disp_tmpl_no = #{dispTmplNo, jdbcType=VARCHAR}  
    </delete>
</mapper>