<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.abcmart.bo.promotion.repository.master.PrCouponApplyCategoryDao">

    <!--
    	※ 경고
		이 select SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    
    <sql id="select-columns">
    	cpn_no, ctgr_no
    </sql>
    
    <sql id="pk-columns">
    	cpn_no = #{cpnNo, jdbcType=VARCHAR} AND ctgr_no = #{ctgrNo, jdbcType=VARCHAR}
    </sql>
    
    <select id="select" parameterType="kr.co.abcmart.bo.promotion.model.master.PrCouponApplyCategory" resultType="kr.co.abcmart.bo.promotion.model.master.PrCouponApplyCategory">
    
     /*+ kr.co.abcmart.bo.promotion.repository.master.PrCouponApplyCategoryDao.select [기본 조회 쿼리] [Generator] */
    
		SELECT 
			 <include refid="select-columns" />
		FROM 
			PR_COUPON_APPLY_CATEGORY
		<where> 
			<if test="cpnNo != null"> 
				 cpn_no = #{cpnNo, jdbcType=VARCHAR}
			</if> 
			<if test="ctgrNo != null"> 
				 AND ctgr_no = #{ctgrNo, jdbcType=VARCHAR}
			</if> 
		</where>  
    </select>
    
    <!--
    	※ 경고
		이 insert SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    
    <insert id="insert" parameterType="kr.co.abcmart.bo.promotion.model.master.PrCouponApplyCategory">	

     /*+ kr.co.abcmart.bo.promotion.repository.master.PrCouponApplyCategoryDao.insert [기본 insert 쿼리] [Generator] */
    
		INSERT INTO PR_COUPON_APPLY_CATEGORY
			 ( cpn_no, ctgr_no ) 

		VALUES 
			 ( #{cpnNo, jdbcType=VARCHAR}, #{ctgrNo, jdbcType=VARCHAR} )  
    </insert>
    
    <!--
    	※ 경고
		이 update SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    <update id="update" parameterType="kr.co.abcmart.bo.promotion.model.master.PrCouponApplyCategory">
    
     /*+ kr.co.abcmart.bo.promotion.repository.master.PrCouponApplyCategoryDao.update [기본 update 쿼리] [Generator] */
    
		UPDATE PR_COUPON_APPLY_CATEGORY
		<set> 
			<if test="cpnNo != null"> 
				cpn_no = #{cpnNo, jdbcType=VARCHAR}, 
			</if> 
			<if test="ctgrNo != null"> 
				ctgr_no = #{ctgrNo, jdbcType=VARCHAR}, 
			</if> 
		</set> 
		WHERE 
			 cpn_no = #{cpnNo, jdbcType=VARCHAR} AND ctgr_no = #{ctgrNo, jdbcType=VARCHAR}   
    </update>
    
    <!--
    	※ 경고
		이 delete SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    <delete id="delete" parameterType="kr.co.abcmart.bo.promotion.model.master.PrCouponApplyCategory">
    
     /*+ kr.co.abcmart.bo.promotion.repository.master.PrCouponApplyCategoryDao.delete [기본 delete 쿼리] [Generator] */
    
		DELETE FROM PR_COUPON_APPLY_CATEGORY
		WHERE 
			 cpn_no = #{cpnNo, jdbcType=VARCHAR} AND ctgr_no = #{ctgrNo, jdbcType=VARCHAR}  
    </delete>
</mapper>