<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.abcmart.bo.promotion.repository.master.PrPlanningDisplayDeviceDao">

    <!--
    	※ 경고
		이 select SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    
    <sql id="select-columns">
    	plndp_no, device_code, image_name, image_path_text, image_url, altrn_text, plndp_cont_text
    </sql>
    
    <sql id="pk-columns">
    	device_code = #{deviceCode, jdbcType=VARCHAR} AND plndp_no = #{plndpNo, jdbcType=VARCHAR}
    </sql>
    
    <select id="select" parameterType="kr.co.abcmart.bo.promotion.model.master.PrPlanningDisplayDevice" resultType="kr.co.abcmart.bo.promotion.model.master.PrPlanningDisplayDevice">
    
     /*+ kr.co.abcmart.bo.promotion.repository.master.PrPlanningDisplayDeviceDao.select [기본 조회 쿼리] [Generator] */
    
		SELECT 
			 <include refid="select-columns" />
		FROM 
			PR_PLANNING_DISPLAY_DEVICE
		<where> 
			<if test="plndpNo != null"> 
				 plndp_no = #{plndpNo, jdbcType=VARCHAR}
			</if> 
			<if test="deviceCode != null"> 
				 AND device_code = #{deviceCode, jdbcType=VARCHAR}
			</if> 
			<if test="imageName != null"> 
				 AND image_name = #{imageName, jdbcType=VARCHAR}
			</if> 
			<if test="imagePathText != null"> 
				 AND image_path_text = #{imagePathText, jdbcType=VARCHAR}
			</if> 
			<if test="imageUrl != null"> 
				 AND image_url = #{imageUrl, jdbcType=VARCHAR}
			</if> 
			<if test="altrnText != null"> 
				 AND altrn_text = #{altrnText, jdbcType=VARCHAR}
			</if> 
			<if test="plndpContText != null"> 
				 AND plndp_cont_text = #{plndpContText, jdbcType=VARCHAR}
			</if> 
		</where>  
    </select>
    
    <!--
    	※ 경고
		이 insert SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    
    <insert id="insert" parameterType="kr.co.abcmart.bo.promotion.model.master.PrPlanningDisplayDevice">	

     /*+ kr.co.abcmart.bo.promotion.repository.master.PrPlanningDisplayDeviceDao.insert [기본 insert 쿼리] [Generator] */
    
		INSERT INTO PR_PLANNING_DISPLAY_DEVICE
			 ( plndp_no, device_code, image_name, image_path_text, image_url, altrn_text, plndp_cont_text ) 

		VALUES 
			 ( #{plndpNo, jdbcType=VARCHAR}, #{deviceCode, jdbcType=VARCHAR}, #{imageName, jdbcType=VARCHAR}, #{imagePathText, jdbcType=VARCHAR}, #{imageUrl, jdbcType=VARCHAR}, #{altrnText, jdbcType=VARCHAR}, #{plndpContText, jdbcType=VARCHAR} )  
    </insert>
    
    <!--
    	※ 경고
		이 update SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    <update id="update" parameterType="kr.co.abcmart.bo.promotion.model.master.PrPlanningDisplayDevice">
    
     /*+ kr.co.abcmart.bo.promotion.repository.master.PrPlanningDisplayDeviceDao.update [기본 update 쿼리] [Generator] */
    
		UPDATE PR_PLANNING_DISPLAY_DEVICE
		<set> 
			<if test="plndpNo != null"> 
				plndp_no = #{plndpNo, jdbcType=VARCHAR}, 
			</if> 
			<if test="deviceCode != null"> 
				device_code = #{deviceCode, jdbcType=VARCHAR}, 
			</if> 
			<if test="imageName != null"> 
				image_name = #{imageName, jdbcType=VARCHAR}, 
			</if> 
			<if test="imagePathText != null"> 
				image_path_text = #{imagePathText, jdbcType=VARCHAR}, 
			</if> 
			<if test="imageUrl != null"> 
				image_url = #{imageUrl, jdbcType=VARCHAR}, 
			</if> 
			<if test="altrnText != null"> 
				altrn_text = #{altrnText, jdbcType=VARCHAR}, 
			</if> 
			<if test="plndpContText != null"> 
				plndp_cont_text = #{plndpContText, jdbcType=VARCHAR}, 
			</if> 
		</set> 
		WHERE 
			 device_code = #{deviceCode, jdbcType=VARCHAR} AND plndp_no = #{plndpNo, jdbcType=VARCHAR}   
    </update>
    
    <!--
    	※ 경고
		이 delete SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    <delete id="delete" parameterType="kr.co.abcmart.bo.promotion.model.master.PrPlanningDisplayDevice">
    
     /*+ kr.co.abcmart.bo.promotion.repository.master.PrPlanningDisplayDeviceDao.delete [기본 delete 쿼리] [Generator] */
    
		DELETE FROM PR_PLANNING_DISPLAY_DEVICE
		WHERE 
			 device_code = #{deviceCode, jdbcType=VARCHAR} AND plndp_no = #{plndpNo, jdbcType=VARCHAR}  
    </delete>
</mapper>