<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.abcmart.bo.promotion.repository.master.PrPlanningDisplayCornerDao">

    <!--
    	※ 경고
		이 select SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    
    <sql id="select-columns">
    	plndp_no, plndp_corner_seq, plndp_corner_name, corner_name_disp_type, image_name, image_path_text, image_url, altrn_text, pc_disp_type_code, mobile_disp_type_code, sort_seq, corner_desc_text, use_yn, rgster_no, rgst_dtm, moder_no, mod_dtm
    </sql>
    
    <sql id="pk-columns">
    	plndp_corner_seq = #{plndpCornerSeq, jdbcType=INTEGER} AND plndp_no = #{plndpNo, jdbcType=VARCHAR}
    </sql>
    
    <select id="select" parameterType="kr.co.abcmart.bo.promotion.model.master.PrPlanningDisplayCorner" resultType="kr.co.abcmart.bo.promotion.model.master.PrPlanningDisplayCorner">
    
     /*+ kr.co.abcmart.bo.promotion.repository.master.PrPlanningDisplayCornerDao.select [기본 조회 쿼리] [Generator] */
    
		SELECT 
			 <include refid="select-columns" />
		FROM 
			PR_PLANNING_DISPLAY_CORNER
		<where> 
			<if test="plndpNo != null"> 
				 plndp_no = #{plndpNo, jdbcType=VARCHAR}
			</if> 
			<if test="plndpCornerSeq != null"> 
				 AND plndp_corner_seq = #{plndpCornerSeq, jdbcType=INTEGER}
			</if> 
			<if test="plndpCornerName != null"> 
				 AND plndp_corner_name = #{plndpCornerName, jdbcType=VARCHAR}
			</if> 
			<if test="cornerNameDispType != null"> 
				 AND corner_name_disp_type = #{cornerNameDispType, jdbcType=CHAR}
			</if> 
			<if test="imageName != null"> 
				 AND image_name = #{imageName, jdbcType=VARCHAR}
			</if> 
			<if test="imagePathText != null"> 
				 AND image_path_text = #{imagePathText, jdbcType=VARCHAR}
			</if> 
			<if test="imageUrl != null"> 
				 AND image_url = #{imageUrl, jdbcType=VARCHAR}
			</if> 
			<if test="altrnText != null"> 
				 AND altrn_text = #{altrnText, jdbcType=VARCHAR}
			</if> 
			<if test="pcDispTypeCode != null"> 
				 AND pc_disp_type_code = #{pcDispTypeCode, jdbcType=VARCHAR}
			</if> 
			<if test="mobileDispTypeCode != null"> 
				 AND mobile_disp_type_code = #{mobileDispTypeCode, jdbcType=VARCHAR}
			</if> 
			<if test="sortSeq != null"> 
				 AND sort_seq = #{sortSeq, jdbcType=INTEGER}
			</if> 
			<if test="cornerDescText != null"> 
				 AND corner_desc_text = #{cornerDescText, jdbcType=VARCHAR}
			</if> 
			<if test="useYn != null"> 
				 AND use_yn = #{useYn, jdbcType=CHAR}
			</if> 
			<if test="rgsterNo != null"> 
				 AND rgster_no = #{rgsterNo, jdbcType=VARCHAR}
			</if> 
			<if test="rgstDtm != null"> 
				 AND rgst_dtm = #{rgstDtm, jdbcType=TIMESTAMP}
			</if> 
			<if test="moderNo != null"> 
				 AND moder_no = #{moderNo, jdbcType=VARCHAR}
			</if> 
			<if test="modDtm != null"> 
				 AND mod_dtm = #{modDtm, jdbcType=TIMESTAMP}
			</if> 
		</where>  
    </select>
    
    <!--
    	※ 경고
		이 insert SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    
    <insert id="insert" parameterType="kr.co.abcmart.bo.promotion.model.master.PrPlanningDisplayCorner">	

     /*+ kr.co.abcmart.bo.promotion.repository.master.PrPlanningDisplayCornerDao.insert [기본 insert 쿼리] [Generator] */
    
		INSERT INTO PR_PLANNING_DISPLAY_CORNER
			 ( plndp_no, plndp_corner_seq, plndp_corner_name, corner_name_disp_type, image_name, image_path_text, image_url, altrn_text, pc_disp_type_code, mobile_disp_type_code, sort_seq, corner_desc_text, use_yn, rgster_no, rgst_dtm, moder_no, mod_dtm ) 

		VALUES 
			 ( #{plndpNo, jdbcType=VARCHAR}, #{plndpCornerSeq, jdbcType=INTEGER}, #{plndpCornerName, jdbcType=VARCHAR}, #{cornerNameDispType, jdbcType=CHAR}, #{imageName, jdbcType=VARCHAR}, #{imagePathText, jdbcType=VARCHAR}, #{imageUrl, jdbcType=VARCHAR}, #{altrnText, jdbcType=VARCHAR}, #{pcDispTypeCode, jdbcType=VARCHAR}, #{mobileDispTypeCode, jdbcType=VARCHAR}, #{sortSeq, jdbcType=INTEGER}, #{cornerDescText, jdbcType=VARCHAR}, #{useYn, jdbcType=CHAR}, #{rgsterNo, jdbcType=VARCHAR}, <choose><when test="rgstDtm != null">#{rgstDtm, jdbcType=TIMESTAMP}</when><otherwise>getdate()</otherwise></choose>, #{moderNo, jdbcType=VARCHAR}, <choose><when test="modDtm != null">#{modDtm, jdbcType=TIMESTAMP}</when><otherwise>getdate()</otherwise></choose> )  
    </insert>
    
    <!--
    	※ 경고
		이 update SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    <update id="update" parameterType="kr.co.abcmart.bo.promotion.model.master.PrPlanningDisplayCorner">
    
     /*+ kr.co.abcmart.bo.promotion.repository.master.PrPlanningDisplayCornerDao.update [기본 update 쿼리] [Generator] */
    
		UPDATE PR_PLANNING_DISPLAY_CORNER
		<set> 
			<if test="plndpNo != null"> 
				plndp_no = #{plndpNo, jdbcType=VARCHAR}, 
			</if> 
			<if test="plndpCornerSeq != null"> 
				plndp_corner_seq = #{plndpCornerSeq, jdbcType=INTEGER}, 
			</if> 
			<if test="plndpCornerName != null"> 
				plndp_corner_name = #{plndpCornerName, jdbcType=VARCHAR}, 
			</if> 
			<if test="cornerNameDispType != null"> 
				corner_name_disp_type = #{cornerNameDispType, jdbcType=CHAR}, 
			</if> 
			<if test="imageName != null"> 
				image_name = #{imageName, jdbcType=VARCHAR}, 
			</if> 
			<if test="imagePathText != null"> 
				image_path_text = #{imagePathText, jdbcType=VARCHAR}, 
			</if> 
			<if test="imageUrl != null"> 
				image_url = #{imageUrl, jdbcType=VARCHAR}, 
			</if> 
			<if test="altrnText != null"> 
				altrn_text = #{altrnText, jdbcType=VARCHAR}, 
			</if> 
			<if test="pcDispTypeCode != null"> 
				pc_disp_type_code = #{pcDispTypeCode, jdbcType=VARCHAR}, 
			</if> 
			<if test="mobileDispTypeCode != null"> 
				mobile_disp_type_code = #{mobileDispTypeCode, jdbcType=VARCHAR}, 
			</if> 
			<if test="sortSeq != null"> 
				sort_seq = #{sortSeq, jdbcType=INTEGER}, 
			</if> 
			<if test="cornerDescText != null"> 
				corner_desc_text = #{cornerDescText, jdbcType=VARCHAR}, 
			</if> 
			<if test="useYn != null"> 
				use_yn = #{useYn, jdbcType=CHAR}, 
			</if> 
			<if test="rgsterNo != null"> 
				rgster_no = #{rgsterNo, jdbcType=VARCHAR}, 
			</if> 
			<if test="rgstDtm != null"> 
				rgst_dtm = #{rgstDtm, jdbcType=TIMESTAMP}, 
			</if> 
			<if test="moderNo != null"> 
				moder_no = #{moderNo, jdbcType=VARCHAR}, 
			</if> 
			<if test="modDtm != null"> 
				mod_dtm = #{modDtm, jdbcType=TIMESTAMP}, 
			</if> 
		</set> 
		WHERE 
			 plndp_corner_seq = #{plndpCornerSeq, jdbcType=INTEGER} AND plndp_no = #{plndpNo, jdbcType=VARCHAR}   
    </update>
    
    <!--
    	※ 경고
		이 delete SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    <delete id="delete" parameterType="kr.co.abcmart.bo.promotion.model.master.PrPlanningDisplayCorner">
    
     /*+ kr.co.abcmart.bo.promotion.repository.master.PrPlanningDisplayCornerDao.delete [기본 delete 쿼리] [Generator] */
    
		DELETE FROM PR_PLANNING_DISPLAY_CORNER
		WHERE 
			 plndp_corner_seq = #{plndpCornerSeq, jdbcType=INTEGER} AND plndp_no = #{plndpNo, jdbcType=VARCHAR}  
    </delete>
</mapper>