<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.abcmart.bo.promotion.repository.master.PrPromotionTargetProductDao">

    <!--
    	※ 경고
		이 select SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    
    <sql id="select-columns">
    	promo_no, prdt_no, prdt_type, event_limit_qty, cmsn_rate, max_event_limit_qty
    </sql>
    
    <sql id="pk-columns">
    	prdt_no = #{prdtNo, jdbcType=VARCHAR} AND promo_no = #{promoNo, jdbcType=VARCHAR}
    </sql>
    
    <select id="select" parameterType="kr.co.abcmart.bo.promotion.model.master.PrPromotionTargetProduct" resultType="kr.co.abcmart.bo.promotion.model.master.PrPromotionTargetProduct">
    
     /*+ kr.co.abcmart.bo.promotion.repository.master.PrPromotionTargetProductDao.select [기본 조회 쿼리] [Generator] */
    
		SELECT 
			 <include refid="select-columns" />
		FROM 
			PR_PROMOTION_TARGET_PRODUCT
		<where> 
			<if test="promoNo != null"> 
				 promo_no = #{promoNo, jdbcType=VARCHAR}
			</if> 
			<if test="prdtNo != null"> 
				 AND prdt_no = #{prdtNo, jdbcType=VARCHAR}
			</if> 
			<if test="prdtType != null"> 
				 AND prdt_type = #{prdtType, jdbcType=CHAR}
			</if> 
			<if test="eventLimitQty != null"> 
				 AND event_limit_qty = #{eventLimitQty, jdbcType=INTEGER}
			</if> 
			<if test="cmsnRate != null"> 
				 AND cmsn_rate = #{cmsnRate, jdbcType=TINYINT}
			</if> 
			<if test="maxEventLimitQty != null"> 
				 AND max_event_limit_qty = #{maxEventLimitQty, jdbcType=INTEGER}
			</if> 
		</where>  
    </select>
    
    <!--
    	※ 경고
		이 insert SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    
    <insert id="insert" parameterType="kr.co.abcmart.bo.promotion.model.master.PrPromotionTargetProduct">	

     /*+ kr.co.abcmart.bo.promotion.repository.master.PrPromotionTargetProductDao.insert [기본 insert 쿼리] [Generator] */
    
		INSERT INTO PR_PROMOTION_TARGET_PRODUCT
			 ( promo_no, prdt_no, prdt_type, event_limit_qty, cmsn_rate, max_event_limit_qty ) 

		VALUES 
			 ( #{promoNo, jdbcType=VARCHAR}, #{prdtNo, jdbcType=VARCHAR}, #{prdtType, jdbcType=CHAR}, #{eventLimitQty, jdbcType=INTEGER}, #{cmsnRate, jdbcType=TINYINT}, #{maxEventLimitQty, jdbcType=INTEGER} )  
    </insert>
    
    <!--
    	※ 경고
		이 update SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    <update id="update" parameterType="kr.co.abcmart.bo.promotion.model.master.PrPromotionTargetProduct">
    
     /*+ kr.co.abcmart.bo.promotion.repository.master.PrPromotionTargetProductDao.update [기본 update 쿼리] [Generator] */
    
		UPDATE PR_PROMOTION_TARGET_PRODUCT
		<set> 
			<if test="promoNo != null"> 
				promo_no = #{promoNo, jdbcType=VARCHAR}, 
			</if> 
			<if test="prdtNo != null"> 
				prdt_no = #{prdtNo, jdbcType=VARCHAR}, 
			</if> 
			<if test="prdtType != null"> 
				prdt_type = #{prdtType, jdbcType=CHAR}, 
			</if> 
			<if test="eventLimitQty != null"> 
				event_limit_qty = #{eventLimitQty, jdbcType=INTEGER}, 
			</if> 
			<if test="cmsnRate != null"> 
				cmsn_rate = #{cmsnRate, jdbcType=TINYINT}, 
			</if> 
			<if test="maxEventLimitQty != null"> 
				max_event_limit_qty = #{maxEventLimitQty, jdbcType=INTEGER}, 
			</if> 
		</set> 
		WHERE 
			 prdt_no = #{prdtNo, jdbcType=VARCHAR} AND promo_no = #{promoNo, jdbcType=VARCHAR}   
    </update>
    
    <!--
    	※ 경고
		이 delete SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    <delete id="delete" parameterType="kr.co.abcmart.bo.promotion.model.master.PrPromotionTargetProduct">
    
     /*+ kr.co.abcmart.bo.promotion.repository.master.PrPromotionTargetProductDao.delete [기본 delete 쿼리] [Generator] */
    
		DELETE FROM PR_PROMOTION_TARGET_PRODUCT
		WHERE 
			 prdt_no = #{prdtNo, jdbcType=VARCHAR} AND promo_no = #{promoNo, jdbcType=VARCHAR}  
    </delete>
</mapper>