<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.abcmart.bo.system.repository.master.SySiteChnnlDao">

    <!--
    	※ 경고
		이 select SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    
    <sql id="select-columns">
    	chnnl_no, site_no, chnnl_name, sort_seq, sell_psblt_yn, vndr_use_yn, use_yn, vndr_no, chnnl_prdt_gbn_no, srch_relm_expsr_yn, insd_mgmt_info_text, rgster_no, rgst_dtm, moder_no, mod_dtm
    </sql>
    
    <sql id="pk-columns">
    	chnnl_no = #{chnnlNo, jdbcType=VARCHAR}
    </sql>
    
    <select id="select" parameterType="kr.co.abcmart.bo.system.model.master.SySiteChnnl" resultType="kr.co.abcmart.bo.system.model.master.SySiteChnnl">
    
     /*+ kr.co.abcmart.bo.system.repository.master.SySiteChnnlDao.select [기본 조회 쿼리] [Generator] */
    
		SELECT 
			 <include refid="select-columns" />
		FROM 
			sy_site_chnnl
		<where> 
			<if test="chnnlNo != null"> 
				 chnnl_no = #{chnnlNo, jdbcType=VARCHAR}
			</if> 
			<if test="siteNo != null"> 
				 AND site_no = #{siteNo, jdbcType=VARCHAR}
			</if> 
			<if test="chnnlName != null"> 
				 AND chnnl_name = #{chnnlName, jdbcType=VARCHAR}
			</if> 
			<if test="sortSeq != null"> 
				 AND sort_seq = #{sortSeq, jdbcType=INTEGER}
			</if> 
			<if test="sellPsbltYn != null"> 
				 AND sell_psblt_yn = #{sellPsbltYn, jdbcType=CHAR}
			</if> 
			<if test="vndrUseYn != null"> 
				 AND vndr_use_yn = #{vndrUseYn, jdbcType=CHAR}
			</if> 
			<if test="useYn != null"> 
				 AND use_yn = #{useYn, jdbcType=CHAR}
			</if> 
			<if test="vndrNo != null"> 
				 AND vndr_no = #{vndrNo, jdbcType=VARCHAR}
			</if> 
			<if test="insdMgmtInfoText != null"> 
				 AND insd_mgmt_info_text = #{insdMgmtInfoText, jdbcType=VARCHAR}
			</if> 
			<if test="rgsterNo != null"> 
				 AND rgster_no = #{rgsterNo, jdbcType=VARCHAR}
			</if> 
			<if test="rgstDtm != null"> 
				 AND rgst_dtm = #{rgstDtm, jdbcType=TIMESTAMP}
			</if> 
			<if test="moderNo != null"> 
				 AND moder_no = #{moderNo, jdbcType=VARCHAR}
			</if> 
			<if test="modDtm != null"> 
				 AND mod_dtm = #{modDtm, jdbcType=TIMESTAMP}
			</if> 
		</where>  
    </select>
    
    <!--
    	※ 경고
		이 insert SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    
    <insert id="insert" parameterType="kr.co.abcmart.bo.system.model.master.SySiteChnnl">	

     /*+ kr.co.abcmart.bo.system.repository.master.SySiteChnnlDao.insert [기본 insert 쿼리] [Generator] */
    
		INSERT INTO sy_site_chnnl
			 ( chnnl_no, site_no, chnnl_name, sort_seq, sell_psblt_yn, vndr_use_yn, use_yn, vndr_no, insd_mgmt_info_text, rgster_no, rgst_dtm, moder_no, mod_dtm ) 

		VALUES 
			 ( #{chnnlNo, jdbcType=VARCHAR}, #{siteNo, jdbcType=VARCHAR}, #{chnnlName, jdbcType=VARCHAR}, #{sortSeq, jdbcType=INTEGER}, #{sellPsbltYn, jdbcType=CHAR}, #{vndrUseYn, jdbcType=CHAR}, #{useYn, jdbcType=CHAR}, #{vndrNo, jdbcType=VARCHAR}, #{insdMgmtInfoText, jdbcType=VARCHAR}, #{rgsterNo, jdbcType=VARCHAR}, <choose><when test="rgstDtm != null">#{rgstDtm, jdbcType=TIMESTAMP}</when><otherwise>getdate()</otherwise></choose>, #{moderNo, jdbcType=VARCHAR}, <choose><when test="modDtm != null">#{modDtm, jdbcType=TIMESTAMP}</when><otherwise>getdate()</otherwise></choose> )  
    </insert>
    
    <!--
    	※ 경고
		이 update SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    <update id="update" parameterType="kr.co.abcmart.bo.system.model.master.SySiteChnnl">
    
     /*+ kr.co.abcmart.bo.system.repository.master.SySiteChnnlDao.update [기본 update 쿼리] [Generator] */
    
		UPDATE sy_site_chnnl
		<set> 
			<if test="chnnlNo != null"> 
				chnnl_no = #{chnnlNo, jdbcType=VARCHAR}, 
			</if> 
			<if test="siteNo != null"> 
				site_no = #{siteNo, jdbcType=VARCHAR}, 
			</if> 
			<if test="chnnlName != null"> 
				chnnl_name = #{chnnlName, jdbcType=VARCHAR}, 
			</if> 
			<if test="sortSeq != null"> 
				sort_seq = #{sortSeq, jdbcType=INTEGER}, 
			</if> 
			<if test="sellPsbltYn != null"> 
				sell_psblt_yn = #{sellPsbltYn, jdbcType=CHAR}, 
			</if> 
			<if test="vndrUseYn != null"> 
				vndr_use_yn = #{vndrUseYn, jdbcType=CHAR}, 
			</if> 
			<if test="useYn != null"> 
				use_yn = #{useYn, jdbcType=CHAR}, 
			</if> 
			<if test="vndrNo != null"> 
				vndr_no = #{vndrNo, jdbcType=VARCHAR}, 
			</if> 
			<if test="insdMgmtInfoText != null"> 
				insd_mgmt_info_text = #{insdMgmtInfoText, jdbcType=VARCHAR}, 
			</if> 
			<if test="rgsterNo != null"> 
				rgster_no = #{rgsterNo, jdbcType=VARCHAR}, 
			</if> 
			<if test="rgstDtm != null"> 
				rgst_dtm = #{rgstDtm, jdbcType=TIMESTAMP}, 
			</if> 
			<if test="moderNo != null"> 
				moder_no = #{moderNo, jdbcType=VARCHAR}, 
			</if> 
			<if test="modDtm != null"> 
				mod_dtm = #{modDtm, jdbcType=TIMESTAMP}, 
			</if> 
		</set> 
		WHERE 
			 chnnl_no = #{chnnlNo, jdbcType=VARCHAR}   
    </update>
    
    <!--
    	※ 경고
		이 delete SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    <delete id="delete" parameterType="kr.co.abcmart.bo.system.model.master.SySiteChnnl">
    
     /*+ kr.co.abcmart.bo.system.repository.master.SySiteChnnlDao.delete [기본 delete 쿼리] [Generator] */
    
		DELETE FROM sy_site_chnnl
		WHERE 
			 chnnl_no = #{chnnlNo, jdbcType=VARCHAR}  
    </delete>
</mapper>