<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.abcmart.bo.system.repository.master.SyAuthorityMenuDao">

    <!--
    	※ 경고
		이 select SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    
    <sql id="select-columns">
    	auth_no, menu_no, use_yn, rgster_no, rgst_dtm, moder_no, mod_dtm
    </sql>
    
    <sql id="pk-columns">
    	auth_no = #{authNo, jdbcType=VARCHAR} AND menu_no = #{menuNo, jdbcType=VARCHAR}
    </sql>
    
    <select id="select" parameterType="kr.co.abcmart.bo.system.model.master.SyAuthorityMenu" resultType="kr.co.abcmart.bo.system.model.master.SyAuthorityMenu">
    
     /*+ kr.co.abcmart.bo.system.repository.master.SyAuthorityMenuDao.select [기본 조회 쿼리] [Generator] */
    
		SELECT 
			 <include refid="select-columns" />
		FROM 
			sy_authority_menu WITH (NOLOCK)

		<where> 
			<if test="authNo != null"> 
				 auth_no = #{authNo, jdbcType=VARCHAR}
			</if> 
			<if test="menuNo != null"> 
				 AND menu_no = #{menuNo, jdbcType=VARCHAR}
			</if> 
			<if test="useYn != null"> 
				 AND use_yn = #{useYn, jdbcType=CHAR}
			</if> 
			<if test="rgsterNo != null"> 
				 AND rgster_no = #{rgsterNo, jdbcType=VARCHAR}
			</if> 
			<if test="rgstDtm != null"> 
				 AND rgst_dtm = #{rgstDtm, jdbcType=TIMESTAMP}
			</if> 
			<if test="moderNo != null"> 
				 AND moder_no = #{moderNo, jdbcType=VARCHAR}
			</if> 
			<if test="modDtm != null"> 
				 AND mod_dtm = #{modDtm, jdbcType=TIMESTAMP}
			</if> 
		</where>  
    </select>
    
    <!--
    	※ 경고
		이 insert SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    
    <insert id="insert" parameterType="kr.co.abcmart.bo.system.model.master.SyAuthorityMenu">	

     /*+ kr.co.abcmart.bo.system.repository.master.SyAuthorityMenuDao.insert [기본 insert 쿼리] [Generator] */
    
		INSERT INTO sy_authority_menu
			 ( auth_no, menu_no, use_yn, rgster_no, rgst_dtm, moder_no, mod_dtm ) 

		VALUES 
			 ( #{authNo, jdbcType=VARCHAR}, #{menuNo, jdbcType=VARCHAR}, #{useYn, jdbcType=CHAR}, #{rgsterNo, jdbcType=VARCHAR}, <choose><when test="rgstDtm != null">#{rgstDtm, jdbcType=TIMESTAMP}</when><otherwise>getdate()</otherwise></choose>, #{moderNo, jdbcType=VARCHAR}, <choose><when test="modDtm != null">#{modDtm, jdbcType=TIMESTAMP}</when><otherwise>getdate()</otherwise></choose> )  
    </insert>
    
    <!--
    	※ 경고
		이 update SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    <update id="update" parameterType="kr.co.abcmart.bo.system.model.master.SyAuthorityMenu">
    
     /*+ kr.co.abcmart.bo.system.repository.master.SyAuthorityMenuDao.update [기본 update 쿼리] [Generator] */
    
		UPDATE sy_authority_menu
		<set> 
			<if test="authNo != null"> 
				auth_no = #{authNo, jdbcType=VARCHAR}, 
			</if> 
			<if test="menuNo != null"> 
				menu_no = #{menuNo, jdbcType=VARCHAR}, 
			</if> 
			<if test="useYn != null"> 
				use_yn = #{useYn, jdbcType=CHAR}, 
			</if> 
			<if test="rgsterNo != null"> 
				rgster_no = #{rgsterNo, jdbcType=VARCHAR}, 
			</if> 
			<if test="rgstDtm != null"> 
				rgst_dtm = #{rgstDtm, jdbcType=TIMESTAMP}, 
			</if> 
			<if test="moderNo != null"> 
				moder_no = #{moderNo, jdbcType=VARCHAR}, 
			</if> 
			<if test="modDtm != null"> 
				mod_dtm = #{modDtm, jdbcType=TIMESTAMP}, 
			</if> 
		</set> 
		WHERE 
			 auth_no = #{authNo, jdbcType=VARCHAR} AND menu_no = #{menuNo, jdbcType=VARCHAR}   
    </update>
    
    <!--
    	※ 경고
		이 delete SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    <delete id="delete" parameterType="kr.co.abcmart.bo.system.model.master.SyAuthorityMenu">
    
     /*+ kr.co.abcmart.bo.system.repository.master.SyAuthorityMenuDao.delete [기본 delete 쿼리] [Generator] */
    
		DELETE FROM sy_authority_menu
		WHERE 
			 auth_no = #{authNo, jdbcType=VARCHAR} AND menu_no = #{menuNo, jdbcType=VARCHAR}  
    </delete>
</mapper>