<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.abcmart.bo.system.repository.master.SyAppVersionDao">

    <!--
    	※ 경고
		이 select SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    
    <sql id="select-columns">
    	app_ver_seq, site_no, app_os_code, app_ver_text, app_rgst_ymd, rgster_no, rgst_dtm
    </sql>
    
    <sql id="pk-columns">
    	app_ver_seq = #{appVerSeq, jdbcType=INTEGER}
    </sql>
    
    <select id="select" parameterType="kr.co.abcmart.bo.system.model.master.SyAppVersion" resultType="kr.co.abcmart.bo.system.model.master.SyAppVersion">
    
     /*+ kr.co.abcmart.bo.system.repository.master.SyAppVersionDao.select [기본 조회 쿼리] [Generator] */
    
		SELECT 
			 <include refid="select-columns" />
		FROM 
			sy_app_version WITH (NOLOCK)

		<where> 
			<if test="appVerSeq != null"> 
				 app_ver_seq = #{appVerSeq, jdbcType=INTEGER}
			</if> 
			<if test="siteNo != null"> 
				 AND site_no = #{siteNo, jdbcType=VARCHAR}
			</if> 
			<if test="appOsCode != null"> 
				 AND app_os_code = #{appOsCode, jdbcType=VARCHAR}
			</if> 
			<if test="appVerText != null"> 
				 AND app_ver_text = #{appVerText, jdbcType=VARCHAR}
			</if> 
			<if test="appRgstYmd != null"> 
				 AND app_rgst_ymd = #{appRgstYmd, jdbcType=DATE}
			</if> 
			<if test="rgsterNo != null"> 
				 AND rgster_no = #{rgsterNo, jdbcType=VARCHAR}
			</if> 
			<if test="rgstDtm != null"> 
				 AND rgst_dtm = #{rgstDtm, jdbcType=TIMESTAMP}
			</if> 
		</where>  
    </select>
    
    <!--
    	※ 경고
		이 insert SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    
	<insert id="insert" useGeneratedKeys="true" keyProperty="appVerSeq">

     /*+ kr.co.abcmart.bo.system.repository.master.SyAppVersionDao.insert [기본 insert 쿼리] [Generator] */
    
		INSERT INTO sy_app_version
			 ( site_no, app_os_code, app_ver_text, app_rgst_ymd, rgster_no, rgst_dtm ) 

		VALUES 
			 ( #{siteNo, jdbcType=VARCHAR}, #{appOsCode, jdbcType=VARCHAR}, #{appVerText, jdbcType=VARCHAR}, <choose><when test="appRgstYmd != null">#{appRgstYmd, jdbcType=DATE}</when><otherwise>getdate()</otherwise></choose>, #{rgsterNo, jdbcType=VARCHAR}, <choose><when test="rgstDtm != null">#{rgstDtm, jdbcType=TIMESTAMP}</when><otherwise>getdate()</otherwise></choose> )  
    </insert>
    
    <!--
    	※ 경고
		이 update SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    <update id="update" parameterType="kr.co.abcmart.bo.system.model.master.SyAppVersion">
    
     /*+ kr.co.abcmart.bo.system.repository.master.SyAppVersionDao.update [기본 update 쿼리] [Generator] */
    
		UPDATE sy_app_version
		<set> 
			<if test="appVerSeq != null"> 
				app_ver_seq = #{appVerSeq, jdbcType=INTEGER}, 
			</if> 
			<if test="siteNo != null"> 
				site_no = #{siteNo, jdbcType=VARCHAR}, 
			</if> 
			<if test="appOsCode != null"> 
				app_os_code = #{appOsCode, jdbcType=VARCHAR}, 
			</if> 
			<if test="appVerText != null"> 
				app_ver_text = #{appVerText, jdbcType=VARCHAR}, 
			</if> 
			<if test="appRgstYmd != null"> 
				app_rgst_ymd = #{appRgstYmd, jdbcType=DATE}, 
			</if> 
			<if test="rgsterNo != null"> 
				rgster_no = #{rgsterNo, jdbcType=VARCHAR}, 
			</if> 
			<if test="rgstDtm != null"> 
				rgst_dtm = #{rgstDtm, jdbcType=TIMESTAMP}, 
			</if> 
		</set> 
		WHERE 
			 app_ver_seq = #{appVerSeq, jdbcType=INTEGER}   
    </update>
    
    <!--
    	※ 경고
		이 delete SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    <delete id="delete" parameterType="kr.co.abcmart.bo.system.model.master.SyAppVersion">
    
     /*+ kr.co.abcmart.bo.system.repository.master.SyAppVersionDao.delete [기본 delete 쿼리] [Generator] */
    
		DELETE FROM sy_app_version
		WHERE 
			 app_ver_seq = #{appVerSeq, jdbcType=INTEGER}  
    </delete>
</mapper>