<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.abcmart.bo.system.repository.master.SyAdminFavoritesDao">

    <!--
    	※ 경고
		이 select SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    
    <sql id="select-columns">
    	admin_no, menu_no, sort_seq
    </sql>
    
    <sql id="pk-columns">
    	admin_no = #{adminNo, jdbcType=VARCHAR} AND menu_no = #{menuNo, jdbcType=VARCHAR}
    </sql>
    
    <select id="select" parameterType="kr.co.abcmart.bo.system.model.master.SyAdminFavorites" resultType="kr.co.abcmart.bo.system.model.master.SyAdminFavorites">
    
     /*+ kr.co.abcmart.bo.system.repository.master.SyAdminFavoritesDao.select [기본 조회 쿼리] [Generator] */
    
		SELECT 
			 <include refid="select-columns" />
		FROM 
			sy_admin_favorites WITH (NOLOCK)

		<where> 
			<if test="adminNo != null"> 
				 admin_no = #{adminNo, jdbcType=VARCHAR}
			</if> 
			<if test="menuNo != null"> 
				 AND menu_no = #{menuNo, jdbcType=VARCHAR}
			</if> 
			<if test="sortSeq != null"> 
				 AND sort_seq = #{sortSeq, jdbcType=INTEGER}
			</if> 
		</where>  
    </select>
    
    <!--
    	※ 경고
		이 insert SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    
    <insert id="insert" parameterType="kr.co.abcmart.bo.system.model.master.SyAdminFavorites">	

     /*+ kr.co.abcmart.bo.system.repository.master.SyAdminFavoritesDao.insert [기본 insert 쿼리] [Generator] */
    
		INSERT INTO sy_admin_favorites
			 ( admin_no, menu_no, sort_seq ) 

		VALUES 
			 ( #{adminNo, jdbcType=VARCHAR}, #{menuNo, jdbcType=VARCHAR}, #{sortSeq, jdbcType=INTEGER} )  
    </insert>
    
    <!--
    	※ 경고
		이 update SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    <update id="update" parameterType="kr.co.abcmart.bo.system.model.master.SyAdminFavorites">
    
     /*+ kr.co.abcmart.bo.system.repository.master.SyAdminFavoritesDao.update [기본 update 쿼리] [Generator] */
    
		UPDATE sy_admin_favorites
		<set> 
			<if test="adminNo != null"> 
				admin_no = #{adminNo, jdbcType=VARCHAR}, 
			</if> 
			<if test="menuNo != null"> 
				menu_no = #{menuNo, jdbcType=VARCHAR}, 
			</if> 
			<if test="sortSeq != null"> 
				sort_seq = #{sortSeq, jdbcType=INTEGER}, 
			</if> 
		</set> 
		WHERE 
			 admin_no = #{adminNo, jdbcType=VARCHAR} AND menu_no = #{menuNo, jdbcType=VARCHAR}   
    </update>
    
    <!--
    	※ 경고
		이 delete SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    <delete id="delete" parameterType="kr.co.abcmart.bo.system.model.master.SyAdminFavorites">
    
     /*+ kr.co.abcmart.bo.system.repository.master.SyAdminFavoritesDao.delete [기본 delete 쿼리] [Generator] */
    
		DELETE FROM sy_admin_favorites
		WHERE 
			 admin_no = #{adminNo, jdbcType=VARCHAR} AND menu_no = #{menuNo, jdbcType=VARCHAR}  
    </delete>
</mapper>