<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.abcmart.bo.system.repository.master.SyCodeDao">

    <!--
    	※ 경고
		이 select SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    
    <sql id="select-columns">
    	code_field, code_name, add_info1, add_info2, add_info3, system_code_yn, insd_mgmt_info_text, sort_seq, use_yn, note_text, rgster_no, rgst_dtm, moder_no, mod_dtm
    </sql>
    
    <sql id="pk-columns">
    	code_field = #{codeField, jdbcType=VARCHAR}
    </sql>
    
    <select id="select" parameterType="kr.co.abcmart.bo.system.model.master.SyCode" resultType="kr.co.abcmart.bo.system.model.master.SyCode">
    
     /*+ kr.co.abcmart.bo.system.repository.master.SyCodeDao.select [기본 조회 쿼리] [Generator] */
    
		SELECT 
			 <include refid="select-columns" />
		FROM 
			sy_code WITH (NOLOCK)

		<where> 
			<if test="codeField != null"> 
				 code_field = #{codeField, jdbcType=VARCHAR}
			</if> 
			<if test="codeName != null"> 
				 AND code_name = #{codeName, jdbcType=VARCHAR}
			</if> 
			<if test="addInfo1 != null"> 
				 AND add_info1 = #{addInfo1, jdbcType=VARCHAR}
			</if> 
			<if test="addInfo2 != null"> 
				 AND add_info2 = #{addInfo2, jdbcType=VARCHAR}
			</if> 
			<if test="addInfo3 != null"> 
				 AND add_info3 = #{addInfo3, jdbcType=VARCHAR}
			</if> 
			<if test="systemCodeYn != null"> 
				 AND system_code_yn = #{systemCodeYn, jdbcType=CHAR}
			</if> 
			<if test="insdMgmtInfoText != null"> 
				 AND insd_mgmt_info_text = #{insdMgmtInfoText, jdbcType=VARCHAR}
			</if> 
			<if test="sortSeq != null"> 
				 AND sort_seq = #{sortSeq, jdbcType=INTEGER}
			</if> 
			<if test="useYn != null"> 
				 AND use_yn = #{useYn, jdbcType=CHAR}
			</if> 
			<if test="noteText != null"> 
				 AND note_text = #{noteText, jdbcType=VARCHAR}
			</if> 
			<if test="rgsterNo != null"> 
				 AND rgster_no = #{rgsterNo, jdbcType=VARCHAR}
			</if> 
			<if test="rgstDtm != null"> 
				 AND rgst_dtm = #{rgstDtm, jdbcType=TIMESTAMP}
			</if> 
			<if test="moderNo != null"> 
				 AND moder_no = #{moderNo, jdbcType=VARCHAR}
			</if> 
			<if test="modDtm != null"> 
				 AND mod_dtm = #{modDtm, jdbcType=TIMESTAMP}
			</if> 
		</where>  
    </select>
    
    <!--
    	※ 경고
		이 insert SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    
    <insert id="insert" parameterType="kr.co.abcmart.bo.system.model.master.SyCode">	

     /*+ kr.co.abcmart.bo.system.repository.master.SyCodeDao.insert [기본 insert 쿼리] [Generator] */
    
		INSERT INTO sy_code
			 ( code_field, code_name, add_info1, add_info2, add_info3, system_code_yn, insd_mgmt_info_text, sort_seq, use_yn, note_text, rgster_no, rgst_dtm, moder_no, mod_dtm ) 

		VALUES 
			 ( #{codeField, jdbcType=VARCHAR}, #{codeName, jdbcType=VARCHAR}, #{addInfo1, jdbcType=VARCHAR}, #{addInfo2, jdbcType=VARCHAR}, #{addInfo3, jdbcType=VARCHAR}, #{systemCodeYn, jdbcType=CHAR}, #{insdMgmtInfoText, jdbcType=VARCHAR}, #{sortSeq, jdbcType=INTEGER}, #{useYn, jdbcType=CHAR}, #{noteText, jdbcType=VARCHAR}, #{rgsterNo, jdbcType=VARCHAR}, <choose><when test="rgstDtm != null">#{rgstDtm, jdbcType=TIMESTAMP}</when><otherwise>getdate()</otherwise></choose>, #{moderNo, jdbcType=VARCHAR}, <choose><when test="modDtm != null">#{modDtm, jdbcType=TIMESTAMP}</when><otherwise>getdate()</otherwise></choose> )  
    </insert>
    
    <!--
    	※ 경고
		이 update SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    <update id="update" parameterType="kr.co.abcmart.bo.system.model.master.SyCode">
    
     /*+ kr.co.abcmart.bo.system.repository.master.SyCodeDao.update [기본 update 쿼리] [Generator] */
    
		UPDATE sy_code
		<set> 
			<if test="codeField != null"> 
				code_field = #{codeField, jdbcType=VARCHAR}, 
			</if> 
			<if test="codeName != null"> 
				code_name = #{codeName, jdbcType=VARCHAR}, 
			</if> 
			<if test="addInfo1 != null"> 
				add_info1 = #{addInfo1, jdbcType=VARCHAR}, 
			</if> 
			<if test="addInfo2 != null"> 
				add_info2 = #{addInfo2, jdbcType=VARCHAR}, 
			</if> 
			<if test="addInfo3 != null"> 
				add_info3 = #{addInfo3, jdbcType=VARCHAR}, 
			</if> 
			<if test="systemCodeYn != null"> 
				system_code_yn = #{systemCodeYn, jdbcType=CHAR}, 
			</if> 
			<if test="insdMgmtInfoText != null"> 
				insd_mgmt_info_text = #{insdMgmtInfoText, jdbcType=VARCHAR}, 
			</if> 
			<if test="sortSeq != null"> 
				sort_seq = #{sortSeq, jdbcType=INTEGER}, 
			</if> 
			<if test="useYn != null"> 
				use_yn = #{useYn, jdbcType=CHAR}, 
			</if> 
			<if test="noteText != null"> 
				note_text = #{noteText, jdbcType=VARCHAR}, 
			</if> 
			<if test="rgsterNo != null"> 
				rgster_no = #{rgsterNo, jdbcType=VARCHAR}, 
			</if> 
			<if test="rgstDtm != null"> 
				rgst_dtm = #{rgstDtm, jdbcType=TIMESTAMP}, 
			</if> 
			<if test="moderNo != null"> 
				moder_no = #{moderNo, jdbcType=VARCHAR}, 
			</if> 
			<if test="modDtm != null"> 
				mod_dtm = #{modDtm, jdbcType=TIMESTAMP}, 
			</if> 
		</set> 
		WHERE 
			 code_field = #{codeField, jdbcType=VARCHAR}   
    </update>
    
    <!--
    	※ 경고
		이 delete SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    <delete id="delete" parameterType="kr.co.abcmart.bo.system.model.master.SyCode">
    
     /*+ kr.co.abcmart.bo.system.repository.master.SyCodeDao.delete [기본 delete 쿼리] [Generator] */
    
		DELETE FROM sy_code
		WHERE 
			 code_field = #{codeField, jdbcType=VARCHAR}  
    </delete>
</mapper>