<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.abcmart.bo.system.repository.master.SyAuthorityChangeHistoryDao">

    <!--
    	※ 경고
		이 select SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    
    <sql id="select-columns">
    	auth_no, chng_hist_seq, chng_field, chng_field_name, chng_before_field_value, chng_after_field_value, rgster_no, rgst_dtm
    </sql>
    
    <sql id="pk-columns">
    	auth_no = #{authNo, jdbcType=VARCHAR} AND chng_hist_seq = #{chngHistSeq, jdbcType=INTEGER}
    </sql>
    
    <select id="select" parameterType="kr.co.abcmart.bo.system.model.master.SyAuthorityChangeHistory" resultType="kr.co.abcmart.bo.system.model.master.SyAuthorityChangeHistory">
    
     /*+ kr.co.abcmart.bo.system.repository.master.SyAuthorityChangeHistoryDao.select [기본 조회 쿼리] [Generator] */
    
		SELECT 
			 <include refid="select-columns" />
		FROM 
			sy_authority_change_history WITH (NOLOCK)

		<where> 
			<if test="authNo != null"> 
				 auth_no = #{authNo, jdbcType=VARCHAR}
			</if> 
			<if test="chngHistSeq != null"> 
				 AND chng_hist_seq = #{chngHistSeq, jdbcType=INTEGER}
			</if> 
			<if test="chngField != null"> 
				 AND chng_field = #{chngField, jdbcType=VARCHAR}
			</if> 
			<if test="chngFieldName != null"> 
				 AND chng_field_name = #{chngFieldName, jdbcType=VARCHAR}
			</if> 
			<if test="chngBeforeFieldValue != null"> 
				 AND chng_before_field_value = #{chngBeforeFieldValue, jdbcType=VARCHAR}
			</if> 
			<if test="chngAfterFieldValue != null"> 
				 AND chng_after_field_value = #{chngAfterFieldValue, jdbcType=VARCHAR}
			</if> 
			<if test="rgsterNo != null"> 
				 AND rgster_no = #{rgsterNo, jdbcType=VARCHAR}
			</if> 
			<if test="rgstDtm != null"> 
				 AND rgst_dtm = #{rgstDtm, jdbcType=TIMESTAMP}
			</if> 
		</where>  
    </select>
    
    <!--
    	※ 경고
		이 insert SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    
    <insert id="insert" parameterType="kr.co.abcmart.bo.system.model.master.SyAuthorityChangeHistory">	

     /*+ kr.co.abcmart.bo.system.repository.master.SyAuthorityChangeHistoryDao.insert [기본 insert 쿼리] [Generator] */
    
		INSERT INTO sy_authority_change_history
			 ( auth_no, chng_hist_seq, chng_field, chng_field_name, chng_before_field_value, chng_after_field_value, rgster_no, rgst_dtm ) 

		VALUES 
			 ( #{authNo, jdbcType=VARCHAR}, #{chngHistSeq, jdbcType=INTEGER}, #{chngField, jdbcType=VARCHAR}, #{chngFieldName, jdbcType=VARCHAR}, #{chngBeforeFieldValue, jdbcType=VARCHAR}, #{chngAfterFieldValue, jdbcType=VARCHAR}, #{rgsterNo, jdbcType=VARCHAR}, <choose><when test="rgstDtm != null">#{rgstDtm, jdbcType=TIMESTAMP}</when><otherwise>getdate()</otherwise></choose> )  
    </insert>
    
    <!--
    	※ 경고
		이 update SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    <update id="update" parameterType="kr.co.abcmart.bo.system.model.master.SyAuthorityChangeHistory">
    
     /*+ kr.co.abcmart.bo.system.repository.master.SyAuthorityChangeHistoryDao.update [기본 update 쿼리] [Generator] */
    
		UPDATE sy_authority_change_history
		<set> 
			<if test="authNo != null"> 
				auth_no = #{authNo, jdbcType=VARCHAR}, 
			</if> 
			<if test="chngHistSeq != null"> 
				chng_hist_seq = #{chngHistSeq, jdbcType=INTEGER}, 
			</if> 
			<if test="chngField != null"> 
				chng_field = #{chngField, jdbcType=VARCHAR}, 
			</if> 
			<if test="chngFieldName != null"> 
				chng_field_name = #{chngFieldName, jdbcType=VARCHAR}, 
			</if> 
			<if test="chngBeforeFieldValue != null"> 
				chng_before_field_value = #{chngBeforeFieldValue, jdbcType=VARCHAR}, 
			</if> 
			<if test="chngAfterFieldValue != null"> 
				chng_after_field_value = #{chngAfterFieldValue, jdbcType=VARCHAR}, 
			</if> 
			<if test="rgsterNo != null"> 
				rgster_no = #{rgsterNo, jdbcType=VARCHAR}, 
			</if> 
			<if test="rgstDtm != null"> 
				rgst_dtm = #{rgstDtm, jdbcType=TIMESTAMP}, 
			</if> 
		</set> 
		WHERE 
			 auth_no = #{authNo, jdbcType=VARCHAR} AND chng_hist_seq = #{chngHistSeq, jdbcType=INTEGER}   
    </update>
    
    <!--
    	※ 경고
		이 delete SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    <delete id="delete" parameterType="kr.co.abcmart.bo.system.model.master.SyAuthorityChangeHistory">
    
     /*+ kr.co.abcmart.bo.system.repository.master.SyAuthorityChangeHistoryDao.delete [기본 delete 쿼리] [Generator] */
    
		DELETE FROM sy_authority_change_history
		WHERE 
			 auth_no = #{authNo, jdbcType=VARCHAR} AND chng_hist_seq = #{chngHistSeq, jdbcType=INTEGER}  
    </delete>
</mapper>