<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.abcmart.bo.product.repository.master.BdProductReviewDao">

    <!--
    	※ 경고
		이 select SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.

    -->
    <select id="selectByPrimaryKey" parameterType="Object" resultType="kr.co.abcmart.bo.product.model.master.BdProductReview">

     /*+ kr.co.abcmart.bo.product.repository.master.BdProductReviewDao.selectByPrimaryKey [기본 PK 조회 쿼리] [Generator] */

		SELECT
			<include refid="select-columns" />
		FROM
			BD_PRODUCT_REVIEW WITH(NOLOCK)
		WHERE
			<include refid="pk-columns" />
    </select>

    <sql id="where-review-search-vo-alias-a">
    	<where>
    		<!-- 후기구분 -->
    		<if test='bean.rvwType != null and bean.rvwType != ""'>
    			AND A.rvw_type = #{bean.rvwType, jdbcType=VARCHAR}
    		</if>
    		<!-- 검색어 -->
    		<if test='bean.searchKeywordType != null and bean.searchKeywordType != ""'>
    			<if test='bean.searchKeyword != null and bean.searchKeyword != ""'>
    				AND A.prdt_no IN ((SELECT P.prdt_no FROM pd_product P WHERE
		    			<choose>
		    				<!-- 상품명 -->
			    			<when test='bean.searchKeywordType == "prdt-name"'>
			    				P.prdt_name LIKE '%'+#{bean.searchKeyword, jdbcType=VARCHAR}+'%'
			    			</when>
			    			<!-- 스타일 -->
			    			<when test='bean.searchKeywordType == "style-info"'>
			    				P.style_info LIKE '%'+#{bean.searchKeyword, jdbcType=VARCHAR}+'%'
			    			</when>
			    		</choose>
		    		))
	    		</if>
    		</if>
    		<!-- 상품코드 검색 -->
    		<if test="bean.prdtCodeType != null and bean.prdtCodeType != ''">
    			<if test="bean.prdtCodeList != null">
    				<choose>
	    				<when test='bean.prdtCodeType == "prdt-code-online"'>
	    					AND A.prdt_no IN
				    		<foreach item="item" index="index" collection="bean.prdtCodeList" open="(" separator="," close=")">
				    			#{item}
				    		</foreach>
	    				</when>
	    				<when test='bean.prdtCodeType == "prdt-code-erp"'>
	    					AND B.vndr_prdt_no_text IN
				    		<foreach item="item" index="index" collection="bean.prdtCodeList" open="(" separator="," close=")">
				    			#{item}
				    		</foreach>
	    				</when>
	    			</choose>
    			</if>
    		</if>
    		<!-- 사이트 -->
    		<if test='bean.siteNo != null and bean.siteNo != ""'>
   				AND A.site_no = #{bean.siteNo, jdbcType=VARCHAR}
    		</if>
    		<!-- 채널 -->
    		<if test='bean.chnnlNo != null and bean.chnnlNo != ""'>
   				AND A.chnnl_no = #{bean.chnnlNo, jdbcType=VARCHAR}
    		</if>
    		<!-- 회원 검색 -->
    		<if test='bean.searchMemberType != null and bean.searchMemberType != ""'>
    			<if test='bean.searchMember != null and bean.searchMember != ""'>
    				<if test='bean.searchMemberType == "order-no"'>
    					<!-- 주문번호 -->
			    		A.order_no = #{bean.searchMember, jdbcType=VARCHAR}
    				</if>
    				<if test='bean.searchMemberType != "order-no"'>
    					AND A.member_no IN ((SELECT M.member_no FROM mb_member M WHERE
		    			<choose>
			    			<!-- 등록자 아이디 -->
			    			<when test='bean.searchMemberType == "login-id"'>
			    				M.login_id = #{bean.searchMember, jdbcType=VARCHAR}
			    			</when>
		    				<!-- 등록자명 -->
			    			<when test='bean.searchMemberType == "member-name"'>
			    				M.member_name = #{bean.searchMember, jdbcType=VARCHAR}
			    				<if test="bean.hdphnBackNoText != null and bean.hdphnBackNoText != ''">
					     		AND RIGHT(REPLACE(M.HDPHN_NO_TEXT, '-', ''), 4) = #{bean.hdphnBackNoText, jdbcType=VARCHAR}
					     		</if>
			    			</when>
			    			<!-- 회원연락처 -->
			    			<when test='bean.searchMemberType == "hdphn-no-text"'>
			    				M.hdphn_no_text = #{bean.searchMember, jdbcType=VARCHAR}
			    			</when>
			    			<!-- 회원이메일 -->
			    			<when test='bean.searchMemberType == "email-addr-text"'>
			    				M.email_addr_text = #{bean.searchMember, jdbcType=VARCHAR}
			    			</when>
		    			</choose>
    					))
    				</if>
    			</if>
    		</if>
    		<!-- 관리자 검색 -->
    		<if test='bean.searchAdminType != null and bean.searchAdminType != ""'>
    			<if test='bean.searchAdmin != null and bean.searchAdmin != ""'>
    				AND
	    				<choose>
				    		<when test='bean.searchAdminType == "aswr-login-id" or bean.searchAdminType == "aswr-admin-name"'>
				    			A.aswr_no
				    		</when>
				    		<when test='bean.searchAdminType == "moder-login-id" or bean.searchAdminType == "moder-admin-name"'>
				    			A.moder_no
				    		</when>
    					</choose>
    				IN ((SELECT S.admin_no FROM sy_admin S WHERE
    					<choose>
    						<!-- 답변자 ID -->
			    			<when test='bean.searchAdminType == "aswr-login-id"'>
			    				S.login_id LIKE '%'+#{bean.searchAdmin, jdbcType=VARCHAR}+'%'
			    			</when>
		    				<!-- 답변자 이름 -->
			    			<when test='bean.searchAdminType == "aswr-admin-name"'>
			    				S.admin_name LIKE '%'+#{bean.searchAdmin, jdbcType=VARCHAR}+'%'
			    			</when>
    						<!-- 수정자 ID -->
			    			<when test='bean.searchAdminType == "moder-login-id"'>
			    				S.login_id LIKE '%'+#{bean.searchAdmin, jdbcType=VARCHAR}+'%'
			    			</when>
		    				<!-- 수정자 이름 -->
			    			<when test='bean.searchAdminType == "moder-admin-name"'>
			    				S.admin_name LIKE '%'+#{bean.searchAdmin, jdbcType=VARCHAR}+'%'
			    			</when>
    					</choose>
    				))
    			</if>
    		</if>
    		<!-- 답변여부 -->
    		<if test='bean.aswrStatCode != null and bean.aswrStatCode != ""'>
				AND A.aswr_stat_code = #{bean.aswrStatCode, jdbcType=VARCHAR}
			</if>
    		<!-- 표준카테고리 -->
	    	<if test='bean.stdCtgrNoDepth3 != null and bean.stdCtgrNoDepth3 != ""'>
		    	<!-- 소카테고리 -->
	    		AND	A.prdt_no IN ( (SELECT P.prdt_no FROM pd_product P WHERE P.std_ctgr_no = #{bean.stdCtgrNoDepth3, jdbcType=VARCHAR }) )
		    </if>
			<!-- 작성일 기준 -->
			<if test='bean.writeDtm != null and bean.writeDtm != ""'>
				AND A.write_dtm
				<if test='bean.writeDtm == "within-30-days"'>
					<![CDATA[<=]]>
				</if>
				<if test='bean.writeDtm == "after-30-days"'>
					>
				</if>
				CASE WHEN A.onln_buy_yn = 'Y' THEN
				(
				<!-- 온라인 -->
				 SELECT O.buy_dcsn_dtm + 30
				 FROM oc_order O WITH(NOLOCK)
				 LEFT OUTER JOIN oc_order_product OP WITH(NOLOCK)
				 ON OP.order_no = A.order_no
				 AND OP.order_prdt_seq = A.order_prdt_seq
				 WHERE O.order_no = A.order_no
				 AND O.buy_dcsn_dtm IS NOT NULL
				)
				ELSE
				(
				<!-- 오프라인 -->
				 SELECT O.buy_fix_dtm + 30
				 FROM if_off_deal_history O WITH(NOLOCK)
				 WHERE O.return_flag = '0'
				 AND O.conf_flag = 'Y'
				 AND O.buy_fix_dtm IS NOT NULL

				 AND A.safe_key = O.safe_key
				 AND A.safe_key_seq = O.safe_key_seq
				 AND A.sale_date = O.sale_date
				 AND A.store_cd = O.store_cd
				 AND A.pos_no = O.pos_no
				 AND A.deal_no = O.deal_no
				 AND A.product_cd = O.product_cd
				 AND A.size_cd = O.size_cd
				)
				END
			</if>
			<!-- 기간조회 (작성일자, 답변일자, 포인트지급일자, 포인트환수일자) -->
    		<if test="bean.periodType != null and bean.periodType != ''">
    			<choose>
    				<!-- 작성일자 -->
    				<when test="bean.periodType == 'write-dtm'">
						AND A.write_dtm
							BETWEEN CONVERT(DATETIME, CONCAT(#{bean.periodStartDate, jdbcType=VARCHAR}, ' 00:00:00'))
								AND CONVERT(DATETIME, CONCAT(#{bean.periodEndDate, jdbcType=VARCHAR}, ' 23:59:59'))
					</when>
					<!-- 확인일자 -->
					<when test="bean.periodType == 'cnfrm-dtm'">
						AND A.cnfrm_dtm
							BETWEEN CONVERT(DATETIME, CONCAT(#{bean.periodStartDate, jdbcType=VARCHAR}, ' 00:00:00'))
								AND CONVERT(DATETIME, CONCAT(#{bean.periodEndDate, jdbcType=VARCHAR}, ' 23:59:59'))
					</when>
					<!-- 답변일자 -->
					<when test="bean.periodType == 'aswr-dtm'">
						AND A.aswr_dtm
							BETWEEN CONVERT(DATETIME, CONCAT(#{bean.periodStartDate, jdbcType=VARCHAR}, ' 00:00:00'))
								AND CONVERT(DATETIME, CONCAT(#{bean.periodEndDate, jdbcType=VARCHAR}, ' 23:59:59'))
					</when>
					<!-- 포인트지급일자 -->
					<when test="bean.periodType == 'point-pay-dtm'">
						AND A.point_pay_dtm
							BETWEEN CONVERT(DATETIME, CONCAT(#{bean.periodStartDate, jdbcType=VARCHAR}, ' 00:00:00'))
								AND CONVERT(DATETIME, CONCAT(#{bean.periodEndDate, jdbcType=VARCHAR}, ' 23:59:59'))
					</when>
					<!-- 포인트환수일자 -->
					<when test="bean.periodType == 'point-pay-cncl-dtm'">
						AND A.point_pay_cncl_dtm
							BETWEEN CONVERT(DATETIME, CONCAT(#{bean.periodStartDate, jdbcType=VARCHAR}, ' 00:00:00'))
								AND CONVERT(DATETIME, CONCAT(#{bean.periodEndDate, jdbcType=VARCHAR}, ' 23:59:59'))
					</when>
    			</choose>
    		</if>
			<!-- 구입처 -->
			<if test='bean.onlnBuyYn != null and bean.onlnBuyYn != ""'>
				AND A.onln_buy_yn = #{bean.onlnBuyYn, jdbcType=VARCHAR}
			</if>
			<!-- 브랜드 -->
			<if test='bean.brandNo != null and bean.brandNo != ""'>
				AND A.prdt_no IN ((SELECT P.prdt_no FROM pd_product P WITH(NOLOCK) WHERE P.brand_no = #{bean.brandNo, jdbcType=VARCHAR}))
			</if>
			<if test='bean.brandName != null and bean.brandName != ""'>
				AND B.brand_no IN ( SELECT brand_no FROM dp_brand WITH(NOLOCK) WHERE brand_name like #{bean.brandName, jdbcType=VARCHAR} + '%' OR brand_en_name like #{bean.brandName, jdbcType=VARCHAR} + '%' )
			</if>
			<!-- 자사 / 입점 -->
			<if test='bean.mmnyPrdtYn != null and bean.mmnyPrdtYn != ""'>
				AND A.prdt_no IN ((SELECT P.prdt_no FROM pd_product P WITH(NOLOCK) WHERE P.mmny_prdt_yn = #{bean.mmnyPrdtYn, jdbcType=VARCHAR}))
			</if>
			<!-- 전시여부 -->
			<if test='bean.dispYn != null and bean.dispYn != ""'>
				AND A.disp_yn = #{bean.dispYn, jdbcType=VARCHAR}
			</if>
			<!-- 회원등급 -->
			<if test='bean.memberTypeCode != null and bean.memberTypeCode != ""'>
				AND A.member_no IN ((SELECT M.member_no FROM mb_member M WITH(NOLOCK) WHERE
				<choose>
					<when test='bean.memberTypeCode == "O"'>
						M.member_type_code = '10000'
					</when>
					<when test='bean.memberTypeCode == "M"'>
						M.member_type_code = '10001'
					</when>
					<when test='bean.memberTypeCode == "V"'>
						M.mbshp_grade_code = #{bean.memberTypeCode, jdbcType=VARCHAR}
					</when>
				</choose>
				))
			</if>
			<!-- 확인여부 -->
			<if test='bean.cnfrmYn != null and bean.cnfrmYn != ""'>
				AND A.cnfrm_yn = #{bean.cnfrmYn, jdbcType=VARCHAR}
			</if>
			<!-- 포인트지급여부 -->
			<if test='bean.pointPayYn != null and bean.pointPayYn != ""'>
				<choose>
					<when test='bean.pointPayYn == "Y"'>
						AND A.point_pay_yn = 'Y'
						AND (A.POINT_PAY_CNCL_DTM IS NULL OR A.POINT_PAY_DTM > A.POINT_PAY_CNCL_DTM)
						AND A.point_pay_impsblt_yn = 'N'
					</when>
					<when test='bean.pointPayYn == "N"'>
						AND A.point_pay_yn = 'N'
						AND A.point_pay_cncl_yn = 'N'
						AND A.point_pay_impsblt_yn = 'N'
					</when>
					<when test='bean.pointPayYn == "C"'>
						AND A.point_pay_cncl_yn = 'Y'
						AND A.point_pay_cncl_dtm > A.point_pay_dtm
						AND A.point_pay_impsblt_yn = 'N'
					</when>
					<when test='bean.pointPayYn == "I"'>
						AND (A.point_pay_impsblt_yn = 'Y' OR ISNULL(CASE WHEN A.onln_buy_yn = 'Y' THEN DATEDIFF(dd, J.buy_dcsn_dtm, A.write_dtm) ELSE DATEDIFF(dd, K.buy_fix_dtm, A.write_dtm) END, 0) > 30)
					</when>
				</choose>
			</if>
			<!-- 베스트 여부 -->
			<if test='bean.bestYn != null and bean.bestYn != ""'>
				AND A.best_yn = #{bean.bestYn, jdbcType=VARCHAR}
			</if>
			<!-- 회원상세 속 조회 -->
			<if test='bean.memberNo != null and bean.memberNo != ""'>
				AND A.member_no = #{bean.memberNo, jdbcType=VARCHAR}
			</if>
			<!-- 업체번호  -->
			<if test='bean.vndrNo != null and bean.vndrNo != ""'>
				AND A.vndr_no = #{bean.vndrNo, jdbcType=VARCHAR}
			</if>
			<!-- 업체명 -->
			<if test='bean.vndrName != null and bean.vndrName != ""'>
				AND A.vndr_no IN ( SELECT vndr_no FROM VD_VENDOR WITH(NOLOCK) WHERE vndr_name Like #{bean.vndrName, jdbcType=VARCHAR}+'%' )
			</if>
			<!-- 결제금액 -->
			<if test='bean.searchPriceYn != null and bean.searchPriceYn != ""'>
				AND 20000
				<if test='bean.searchPriceYn == "Y"'>
				 	&lt;=
				</if>
				<if test='bean.searchPriceYn == "N"'>
					&gt;
				</if>
				CASE WHEN A.onln_buy_yn = 'Y'
					 THEN (SELECT order_amt FROM oc_order_product WITH(NOLOCK) WHERE order_no = A.order_no AND order_prdt_seq = A.order_prdt_seq)
					 WHEN A.onln_buy_yn = 'N'
					 THEN (SELECT sale_price FROM if_off_deal_history K WITH(NOLOCK) WHERE A.safe_key = K.safe_key AND A.safe_key_seq = K.safe_key_seq AND A.sale_date = K.sale_date AND A.store_cd = K.store_cd AND A.pos_no = K.pos_no AND A.deal_no = K.deal_no AND A.product_cd = K.product_cd AND A.size_cd = K.size_cd)
				END
			</if>
    	</where>
    </sql>

    <sql id="select-columns-alias-a">
    	A.prdt_rvw_seq, A.write_dtm, A.rvw_type, A.member_no, A.prdt_no, A.onln_buy_yn, A.vndr_no, A.site_no, A.chnnl_no, A.order_no, A.order_prdt_seq, A.safe_key, A.safe_key_seq, A.sale_date, A.store_cd, A.pos_no, A.deal_no, A.product_cd, A.size_cd, A.rvw_cont_text, A.aswr_cont_text, A.point_pay_yn, A.pay_point_amt, A.point_pay_dtm, A.point_pay_cncl_yn, A.point_pay_cncl_dtm, A.point_pay_cnclr_no, A.point_pay_impsblt_yn, A.best_yn, A.cnfrm_yn, A.cnfrmr_no, A.cnfrm_dtm, A.disp_yn, A.aswr_stat_code, A.aswr_no, A.aswr_dtm, A.moder_no, A.mod_dtm
    </sql>

    <select id="getAswrCount" parameterType="kr.co.abcmart.bo.product.vo.BdProductReviewSearchVO" resultType="String">
     /*+ kr.co.abcmart.bo.product.repository.master.BdProductReviewDao.getAswrCount [상품 미답변 갯수 조회(서비스 요청)] [황성준] */
    	SELECT
    		<include refid="Paging.totalCount" />
    	FROM bd_product_review A WITH(NOLOCK)
    	<where>
    		<if test='aswrStatCode != null and aswrStatCode != ""'>
    			<!--
				<choose>
					<when test='aswrStatCode == "10000" or aswrStatCode == "10001"'>
						AND A.aswr_cont_text IS NULL
					</when>
					<when test='aswrStatCode == "10002"'>
						AND A.aswr_cont_text IS NOT NULL
					</when>
				</choose>
				 -->
				AND A.aswr_stat_code = #{aswrStatCode, jdbcType=VARCHAR}
			</if>
			<if test='memberNo != null and memberNo != ""'>
				AND A.member_no = #{memberNo, jdbcType=VARCHAR}
			</if>
    	</where>
    </select>

    <select id="selectProductReviewCount" parameterType="pageable" resultType="Integer">
     /*+ kr.co.abcmart.bo.product.repository.master.BdProductReviewDao.selectProductReviewCount [상품 후기 갯수 조회] [황성준] */
    	SELECT
    		<include refid="Paging.totalCount" />
    	FROM bd_product_review A WITH(NOLOCK)
    	JOIN pd_product B WITH(NOLOCK)
    	ON A.prdt_no = B.prdt_no
    	LEFT JOIN sy_admin C WITH(NOLOCK)
    	ON A.moder_no = C.admin_no
    	JOIN mb_member D WITH(NOLOCK)
    	ON A.member_no = D.member_no
    	LEFT JOIN bd_product_review_image E WITH(NOLOCK)
    	ON A.prdt_rvw_seq = E.prdt_rvw_seq
    	AND E.image_seq = 1
    	JOIN sy_site F WITH(NOLOCK)
    	ON A.site_no = F.site_no
    	LEFT JOIN vd_vendor G WITH(NOLOCK)
    	ON A.vndr_no = G.vndr_no
    	LEFT JOIN pd_product_relation_file H WITH(NOLOCK)
    	ON A.prdt_no = H.prdt_no
    	AND H.prdt_rltn_file_seq = 1
		AND H.disp_postn_type = 'P'
		AND H.file_type = 'I'
		LEFT JOIN oc_order J WITH(NOLOCK)
		ON A.order_no = J.order_no
		LEFT JOIN if_off_deal_history K WITH(NOLOCK)
		ON A.safe_key = K.safe_key
		AND A.safe_key_seq = K.safe_key_seq
		AND A.sale_date = K.sale_date
		AND A.store_cd = K.store_cd
		AND A.pos_no = K.pos_no
		AND A.deal_no = K.deal_no
		AND A.product_cd = K.product_cd
		AND A.size_cd = K.size_cd
    		<include refid="where-review-search-vo-alias-a"/>
    </select>

    <select id="selectProductReview" parameterType="pageable" resultType="kr.co.abcmart.bo.product.model.master.BdProductReview">
      /*+ kr.co.abcmart.bo.product.repository.master.BdProductReviewDao.selectProductReview [상품 후기 목록 조회] [황성준] */
    	SELECT
    		  <include refid="select-columns-alias-a" />
    		, isnull('[' + (SELECT brand_name FROM DP_BRAND WITH(NOLOCK) WHERE brand_no = B.brand_no) + '] ','') + B.prdt_name AS prdt_name
    		, B.mmny_prdt_yn
    		, B.vndr_prdt_no_text
	    	, C.admin_name AS moder_name
	    	, C.login_id AS moder_id
	    	, D.member_name
	    	, D.login_id AS member_id
	    	, D.member_type_code
	    	, E.image_url AS review_image_url
	    	, E.image_name AS review_image_name
	    	, dbo.FN_CODE_VALUE('MEMBER_TYPE_CODE', D.member_type_code) + CASE WHEN D.mbshp_grade_code = '10001' THEN + ' (VIP)' ELSE '' END AS member_type_code_name
	    	, F.site_name
    		, G.vndr_name
    		, H.image_url AS product_image_url
    		, H.altrn_text AS product_altrn_text
    		, I.admin_name AS aswr_name
	    	, I.login_id AS aswr_id
    		, CASE WHEN A.point_pay_impsblt_yn = 'Y' THEN 'I' <!-- 지급불가 -->
    			   <!-- 지급불가로 해놨지만 나중에 지급한 포인트를 보기 위해 처리 변경 -->
    			   <!-- WHEN ISNULL(CASE WHEN A.onln_buy_yn = 'Y' THEN DATEDIFF(dd, J.buy_dcsn_dtm, A.write_dtm) ELSE DATEDIFF(dd, K.buy_fix_dtm, A.write_dtm) END, 0) > 30 THEN 'I' -->
    		  	   WHEN A.point_pay_cncl_yn = 'Y' AND A.POINT_PAY_CNCL_DTM > A.POINT_PAY_DTM THEN 'C' <!-- 지급취소 -->
				   WHEN A.point_pay_yn = 'Y' AND (A.POINT_PAY_CNCL_DTM IS NULL OR A.POINT_PAY_DTM > A.POINT_PAY_CNCL_DTM) THEN CASE WHEN A.pay_point_amt = (SELECT prdt_rvw_point_amt FROM cm_online_member_policy WITH(NOLOCK) WHERE plcy_seq = A.plcy_seq) THEN 'G' ELSE 'P' END <!-- 지급 -->
				   ELSE 'N' <!-- 미지급 -->
    		  END AS point_pay_type
    	FROM bd_product_review A WITH(NOLOCK)
    	JOIN pd_product B WITH(NOLOCK)
    	ON A.prdt_no = B.prdt_no
    	LEFT JOIN sy_admin C WITH(NOLOCK)
    	ON A.moder_no = C.admin_no
    	JOIN mb_member D WITH(NOLOCK)
    	ON A.member_no = D.member_no
    	LEFT JOIN bd_product_review_image E WITH(NOLOCK)
    	ON A.prdt_rvw_seq = E.prdt_rvw_seq
    	AND E.image_seq = 1
    	JOIN sy_site F WITH(NOLOCK)
    	ON A.site_no = F.site_no
    	LEFT JOIN vd_vendor G WITH(NOLOCK)
    	ON A.vndr_no = G.vndr_no
    	LEFT JOIN pd_product_relation_file H WITH(NOLOCK)
    	ON A.prdt_no = H.prdt_no
    	AND H.prdt_rltn_file_seq = 1
		AND H.disp_postn_type = 'P'
		AND H.file_type = 'I'
		LEFT JOIN sy_admin I WITH(NOLOCK)
    	ON A.aswr_no = I.admin_no
    	LEFT JOIN oc_order J WITH(NOLOCK)
		ON A.order_no = J.order_no
		LEFT JOIN if_off_deal_history K WITH(NOLOCK)
		ON A.safe_key = K.safe_key
		AND A.safe_key_seq = K.safe_key_seq
		AND A.sale_date = K.sale_date
		AND A.store_cd = K.store_cd
		AND A.pos_no = K.pos_no
		AND A.deal_no = K.deal_no
		AND A.product_cd = K.product_cd
		AND A.size_cd = K.size_cd 
    	<include refid="where-review-search-vo-alias-a"/>
    	ORDER BY
    	 <choose>
			 <when test='sortColumn != null and sortColumn != ""'>
			 	<if test='sortColumn == "payPointAmt"'>
			 		A.pay_point_amt
			 	</if>
			 	<if test='sortColumn == "vndrName"'>
			 		G.vndr_name
			 	</if>
			 	<if test='sortColumn == "vndrPrdtNoText"'>
			 		B.vndr_prdt_no_text
			 	</if>
			 	<if test='sortColumn == "prdtNo"'>
			 		B.prdt_no
			 	</if>
			 	<if test='sortColumn == "prdtName"'>
			 		B.prdt_name
			 	</if>
			 	<if test='sortColumn == "orderNo"'>
			 		CASE WHEN A.onln_buy_yn = 'Y' THEN A.order_no ELSE A.deal_No END
			 	</if>
			 	<if test='sortColumn == "rvwContText"'>
			 		A.rvw_cont_text
			 	</if>
			 	<if test='sortColumn == "writeDtm"'>
			 		A.write_dtm
			 	</if>
			 	<if test='sortColumn == "aswrDtm"'>
			 		A.aswr_dtm
			 	</if>
			 	<if test='sortType == "DESC"'>
			 		DESC
			 	</if>
			 </when>
			 <otherwise>
			 	A.prdt_rvw_seq DESC
			 </otherwise>
		</choose>
    	<include refid="Paging.mssql" />
    </select>

    <resultMap type="kr.co.abcmart.bo.product.model.master.BdProductReview" id="productReviewResult">
    	<id property="prdtRvwSeq" column="prdt_rvw_seq"/>
    	<collection property="productReviewImages" column="{prdtRvwSeq=prdt_rvw_seq}" ofType="kr.co.abcmart.bo.product.model.master.BdProductReviewImage" select="kr.co.abcmart.bo.product.repository.master.BdProductReviewImageDao.selectProductReviewImage"/>
    	<collection property="productReviewEvlts" column="{prdtRvwSeq=prdt_rvw_seq}" ofType="kr.co.abcmart.bo.product.model.master.BdProductReviewEvlt" select="kr.co.abcmart.bo.product.repository.master.BdProductReviewEvltDao.selectProductReviewEvlt"/>
    	<collection property="orderProduct" column="{orderNo=order_no,orderPrdtSeq=order_prdt_seq}" ofType="kr.co.abcmart.bo.order.model.master.OcOrderProduct" select="kr.co.abcmart.bo.order.repository.master.OcOrderProductDao.selectOrderProductDetail"/>
    	<collection property="offDealHistory" column="{safeKey=safe_key,safeKeySeq=safe_key_seq,saleDate=sale_date,storeCd=store_cd,posNo=pos_no,dealNo=deal_no,productCd=product_cd,sizeCd=size_cd}" ofType="kr.co.abcmart.bo.order.model.master.IfOffDealHistory" select="kr.co.abcmart.bo.order.repository.master.IfOffDealHistoryDao.selectOffDealHistory"/>
    </resultMap>

    <select id="selectByPK" parameterType="kr.co.abcmart.bo.product.model.master.BdProductReview" resultMap="productReviewResult">
      /*+ kr.co.abcmart.bo.product.repository.master.BdProductReviewDao.selectByPK [상품 후기 단건 조회] [황성준] */
		SELECT
			  <include refid="select-columns-alias-a" />
			, DBO.FN_CODE_VALUE('ASWR_STAT_CODE', A.aswr_stat_code) AS aswr_stat_code_name
	    	, F.vndr_name
			, B.login_id AS moder_id
			, B.admin_name AS moder_name
	    	, C.login_id AS member_id
	    	, C.member_name AS member_name
	    	, C.member_type_code
	    	, DBO.FN_CODE_VALUE('MEMBER_TYPE_CODE', C.member_type_code) + CASE WHEN C.mbshp_grade_code = '10001' THEN + ' (VIP)' ELSE '' END AS member_type_code_name
	    	, D.style_info
			, D.mmny_prdt_yn
			, D.vndr_prdt_no_text
			, D.prdt_name
			, D.chnnl_no
			, M.name AS std_ctgr_name
			, E.brand_name
			, G.site_name
			, H.chnnl_name
			, I.login_id AS cnfrmr_id
	    	, I.admin_name AS cnfrmr_name
	    	, ISNULL(CASE WHEN A.onln_buy_yn = 'Y' THEN DATEDIFF(dd, J.order_dtm, A.write_dtm) ELSE DATEDIFF(dd, A.sale_date, A.write_dtm) END, 0) AS order_dtm
			, ISNULL(CASE WHEN A.onln_buy_yn = 'Y' THEN DATEDIFF(dd, J.buy_dcsn_dtm, A.write_dtm) ELSE DATEDIFF(dd, K.buy_fix_dtm, A.write_dtm) END, 0) AS buy_dcsn_dtm
			, L.login_id AS aswr_id
			, L.admin_name AS aswr_name
			, CASE WHEN A.point_pay_impsblt_yn = 'Y' THEN 'I' <!-- 지급불가 -->
    			   <!-- 지급불가로 해놨지만 나중에 지급한 포인트를 보기 위해 처리 변경 -->
    			   <!-- WHEN ISNULL(CASE WHEN A.onln_buy_yn = 'Y' THEN DATEDIFF(dd, J.buy_dcsn_dtm, A.write_dtm) ELSE DATEDIFF(dd, K.buy_fix_dtm, A.write_dtm) END, 0) > 30 THEN 'I' -->
    		  	   WHEN A.point_pay_cncl_yn = 'Y' AND A.POINT_PAY_CNCL_DTM > A.POINT_PAY_DTM THEN 'C' <!-- 지급취소 -->
				   WHEN A.point_pay_yn = 'Y' AND (A.POINT_PAY_CNCL_DTM IS NULL OR A.POINT_PAY_DTM > A.POINT_PAY_CNCL_DTM) THEN CASE WHEN A.pay_point_amt = (SELECT prdt_rvw_point_amt FROM cm_online_member_policy WITH(NOLOCK) WHERE plcy_seq = A.plcy_seq) THEN 'G' ELSE 'P' END <!-- 지급 -->
				   ELSE 'N' <!-- 미지급 -->
    		  END AS point_pay_type
		FROM bd_product_review A WITH(NOLOCK)
		LEFT JOIN sy_admin B WITH(NOLOCK)
			ON A.moder_no = B.admin_no
		JOIN mb_member C WITH(NOLOCK)
    		ON A.member_no = C.member_no
    	JOIN pd_product D WITH(NOLOCK)
    		ON A.prdt_no = D.prdt_no
    	LEFT JOIN dp_brand E WITH(NOLOCK)
    		ON D.brand_no = E.brand_no
    	LEFT JOIN vd_vendor F WITH(NOLOCK)
    		ON A.vndr_no = F.vndr_no
    	JOIN sy_site G WITH(NOLOCK)
    		ON D.site_no = G.site_no
    	JOIN sy_site_chnnl H WITH(NOLOCK)
    		ON D.site_no = H.site_no
    		AND D.chnnl_no = H.chnnl_no
		LEFT JOIN sy_admin I WITH(NOLOCK)
			ON A.cnfrmr_no = I.admin_no
		LEFT JOIN oc_order J WITH(NOLOCK)
			ON A.order_no = J.order_no
		LEFT JOIN if_off_deal_history K WITH(NOLOCK)
			ON A.safe_key = K.safe_key
			AND A.safe_key_seq = K.safe_key_seq
			AND A.sale_date = K.sale_date
			AND A.store_cd = K.store_cd
			AND A.pos_no = K.pos_no
			AND A.deal_no = K.deal_no
			AND A.product_cd = K.product_cd
			AND A.size_cd = K.size_cd
		LEFT JOIN sy_admin L WITH(NOLOCK)
			ON A.aswr_no = L.admin_no
		LEFT JOIN view_standard_category M WITH(NOLOCK)
			ON D.std_ctgr_no = M.std_ctgr_no
		<where>
			<include refid="pk-columns" />
		</where>
    </select>

    <update id="updateWithoutPK" parameterType="kr.co.abcmart.bo.product.model.master.BdProductReview">
	     /*+ kr.co.abcmart.bo.product.repository.master.BdProductReviewDao.updateWithoutPK [PK 제외한 update] [횡성준] */

		UPDATE BD_PRODUCT_REVIEW
		<set>
			<if test="aswrContText != null">
				aswr_cont_text = #{aswrContText, jdbcType=VARCHAR},
			</if>
			<if test="pointPayYn != null">
				point_pay_yn = #{pointPayYn, jdbcType=CHAR},
			</if>
			<if test="payPointAmt != null">
				pay_point_amt = #{payPointAmt, jdbcType=INTEGER},
			</if>
			<if test="pointPayDtm != null">
				point_pay_dtm = #{pointPayDtm, jdbcType=TIMESTAMP},
			</if>
			<if test="pointPayCnclYn != null">
				point_pay_cncl_yn = #{pointPayCnclYn, jdbcType=CHAR},
			</if>
			<if test="pointPayCnclDtm != null">
				point_pay_cncl_dtm = #{pointPayCnclDtm, jdbcType=TIMESTAMP},
			</if>
			<if test="pointPayCnclrNo != null">
				point_pay_cnclr_no = #{pointPayCnclrNo, jdbcType=VARCHAR},
			</if>
			<if test="pointPayImpsbltYn != null">
				point_pay_impsblt_yn = #{pointPayImpsbltYn, jdbcType=CHAR},
			</if>
			<if test="plcySeq != null">
				plcy_seq = #{plcySeq, jdbcType=INTEGER},
			</if>
			<if test="bestYn != null">
				best_yn = #{bestYn, jdbcType=CHAR},
			</if>
			<if test="cnfrmYn != null">
				cnfrm_yn = #{cnfrmYn, jdbcType=CHAR},
			</if>
			<if test="cnfrmrNo != null">
				cnfrmr_no = #{cnfrmrNo, jdbcType=VARCHAR},
			</if>
			<if test="cnfrmDtm != null">
				cnfrm_dtm = #{cnfrmDtm, jdbcType=TIMESTAMP},
			</if>
			<if test="dispYn != null">
				disp_yn = #{dispYn, jdbcType=CHAR},
			</if>
			<if test="aswrStatCode != null">
				aswr_stat_code = #{aswrStatCode, jdbcType=VARCHAR},
			</if>
			<if test="aswrNo != null">
				aswr_no = #{aswrNo, jdbcType=VARCHAR},
			</if>
			<if test="aswrDtm != null">
				aswr_dtm = #{aswrDtm, jdbcType=TIMESTAMP},
			</if>
			<if test="moderNo != null">
				moder_no = #{moderNo, jdbcType=VARCHAR},
			</if>
			<if test="modDtm != null">
				mod_dtm = #{modDtm, jdbcType=TIMESTAMP},
			</if>
		</set>
		WHERE
			 prdt_rvw_seq = #{prdtRvwSeq, jdbcType=INTEGER}
    </update>

    <select id="selectReviewGroupCount" resultType="hashMap">
    	/*+ kr.co.abcmart.bo.product.repository.master.BdProductReviewDao.selectReviewGroupCount [BO 상품후기 미답변 갯수 조회] [횡성준] */
    	SELECT mmny_prdt_yn, COUNT(*) AS [count]
		FROM bd_product_review A WITH(NOLOCK)
		JOIN pd_product B WITH(NOLOCK)
		ON A.prdt_no = B.prdt_no
		WHERE A.aswr_stat_code = '10000'
		  AND A.WRITE_DTM BETWEEN CONVERT(DATETIME, CONCAT(
                                           CONVERT(CHAR(10), DATEADD(MM, -1, GETDATE()), 102), ' 00:00:00'))
                                       AND CONVERT(DATETIME, CONCAT(
                                           CONVERT(CHAR(10), GETDATE(), 102), ' 23:59:59'))
		GROUP BY B.mmny_prdt_yn
	</select>

    <select id="selectMemberReviewPointStats" parameterType="kr.co.abcmart.bo.product.model.master.BdProductReview" resultType="hashMap">
    	/*+ kr.co.abcmart.bo.product.repository.master.BdProductReviewDao.selectMemberReviewPointStats [후기 작성 포인트 지급 현황] [횡성준] */
    	SELECT
	   	    ISNULL(SUM(CASE WHEN A.ASWR_STAT_CODE = 10000 THEN 1 ELSE 0 END), 0) AS ASWR_STAT_CODE_10000
		  , ISNULL(SUM(CASE WHEN A.ASWR_STAT_CODE = 10001 THEN 1 ELSE 0 END), 0) AS ASWR_STAT_CODE_10001
		  , ISNULL(SUM(CASE WHEN A.ASWR_STAT_CODE = 10002 THEN 1 ELSE 0 END), 0) AS ASWR_STAT_CODE_10002
		  , ISNULL(SUM(CASE WHEN A.CNFRM_YN = 'Y' THEN 1 ELSE 0 END), 0) AS CNFRM_Y
		  , ISNULL(SUM(CASE WHEN A.CNFRM_YN = 'N' THEN 1 ELSE 0 END), 0) AS CNFRM_N
		FROM bd_product_review A WITH(NOLOCK)
		<where>
			AND A.member_no = #{memberNo, jdbcType=VARCHAR}
		</where>
    </select>

</mapper>