<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.abcmart.bo.product.repository.master.DpBrandDao">

    <!--
    	※ 경고
		이 select SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.

    -->
    <select id="selectByPrimaryKey" parameterType="Object" resultType="kr.co.abcmart.bo.product.model.master.DpBrand">
		/*+ kr.co.abcmart.bo.product.repository.master.DpBrandDao.selectByPrimaryKey [기본 PK 조회 쿼리] [Generator] */
		SELECT
			<include refid="select-columns" />
		FROM
			dp_brand WITH(NOLOCK)
		WHERE
			<include refid="pk-columns" />
    </select>

    <sql id="select-columns-alias-a">
		A.brand_no, A.brand_name, A.brand_en_name, A.site_no, A.brand_key_word_text, A.image_name, A.image_path_text, A.image_url, A.altrn_text, A.brand_group_no_text, A.aconnect_disp_yn, A.note_text, A.use_yn, A.rgster_no, A.rgst_dtm, A.moder_no, A.mod_dtm
    </sql>

    <sql id="select-columns-admin-info">
		, Y.login_id AS rgster_id
		, Y.admin_name AS rgster_name
		, Z.login_id AS moder_id
		, Z.admin_name AS moder_name
	</sql>

	<sql id="from-tables-sy-admin">
		LEFT OUTER JOIN sy_admin Y WITH(NOLOCK) ON A.rgster_no = Y.admin_no
		LEFT OUTER JOIN sy_admin Z WITH(NOLOCK) ON A.moder_no = Z.admin_no
	</sql>

    <sql id="from-vendor-brand">
    	INNER JOIN (
    		SELECT
    			vndr_no,
    			brand_no
    		FROM
    			vd_vendor_brand WITH(NOLOCK)
	    	WHERE
    			vndr_no = #{bean.vndrNo, jdbcType=VARCHAR}
    	) VBRAND
    	ON A.brand_no = VBRAND.brand_no
	</sql>

    <sql id="where-brand-search-vo-alias-a">
    	<where>
    		<!-- 브랜드 번호 -->
			<if test='bean.brandNo != null and bean.brandNo != ""'>
				AND A.brand_no = #{bean.brandNo, jdbcType=VARCHAR}
			</if>
			<!-- 브랜드이름 -->
			<if test='bean.brandName != null and bean.brandName != ""'>
				AND (
						A.brand_name like '%' + #{bean.brandName, jdbcType=VARCHAR} + '%'
						OR A.brand_en_name like '%' + #{bean.brandName, jdbcType=VARCHAR} + '%'
					)
			</if>
			<!-- 사용여부 -->
			<if test='bean.useYn != null and bean.useYn != ""'>
				AND A.use_yn = #{bean.useYn, jdbcType=VARCHAR}
			</if>
			<!-- A-Connect 전시여부 -->
			<if test='bean.aconnectDispYn != null and bean.aconnectDispYn != ""'>
				AND A.aconnect_disp_yn = #{bean.aconnectDispYn, jdbcType=VARCHAR}
			</if>
			<!-- 검색 -->
			<if test='bean.searchType != null and bean.searchType != "" and bean.searchWord != null and bean.searchWord != ""'>
				<if test='bean.searchType == "E"'>
					AND A.brand_en_name like '%' + #{bean.searchWord, jdbcType=VARCHAR} + '%'
				</if>
				<if test='bean.searchType == "K"'>
					AND A.brand_name like '%' + #{bean.searchWord, jdbcType=VARCHAR} + '%'
				</if>
				<if test='bean.searchType == "I"'>
					AND A.brand_no like '%' + #{bean.searchWord, jdbcType=VARCHAR} + '%'
				</if>
			</if>
			<!-- 사이트 번호 -->
			<if test='bean.siteNo != null and bean.siteNo != ""'>
				AND A.site_no = #{bean.siteNo, jdbcType=VARCHAR}
			</if>
			<!-- 대체텍스트 -->
			<if test='bean.altrnText != null and bean.altrnText != ""'>
				AND A.altrn_text = #{bean.altrnText, jdbcType=VARCHAR}
			</if>
			<!-- 온라인 코드 -->
			<if test='bean.brandGroupNoText != null and bean.brandGroupNoText != ""'>
				AND A.brand_group_no_text = #{bean.brandGroupNoText, jdbcType=VARCHAR}
			</if>
			<!-- 사이트 구분 -->
			<if test='bean.complateYn != null and bean.complateYn != ""'>
				<if test='bean.complateYn == "Y"'>
					AND A.brand_no IS NOT NULL
				</if>
				<if test='bean.complateYn == "N"'>
					AND A.brand_no IS NULL
				</if>
			</if>
			<!-- 자사가 아닌 입점사일경울 브랜드구분 -->
			<!-- <if test='bean.vndrGbnType != null and bean.vndrGbnType != "" and bean.vndrGbnType != "C"'>
				<if test='bean.vndrNo != null and bean.vndrNo != ""'>
					AND VBRAND.VNDR_NO = #{bean.vndrNo, jdbcType=VARCHAR}
				</if>
			</if> -->
		</where>
    </sql>

    <sql id="api-where-brand-search-vo-alias-a">
    	<where>
    		<!-- 브랜드 번호 -->
    		<if test='brandNo != null and brandNo != ""'>
				AND A.brand_no = #{brandNo, jdbcType=VARCHAR}
			</if>
			<!-- 브랜드이름 -->
    		<if test='brandName != null and brandName != ""'>
				AND (
						A.brand_name like '%' + #{brandName, jdbcType=VARCHAR} + '%'
						OR A.brand_en_name like '%' + #{brandName, jdbcType=VARCHAR} + '%'
					)
			</if>
			<!-- 사용여부 -->
			<if test='useYn != null and useYn != ""'>
				AND A.use_yn = #{useYn, jdbcType=VARCHAR}
			</if>
    	</where>
    </sql>

    <select id="selectBrandList" parameterType="pageable" resultType="kr.co.abcmart.bo.product.model.master.DpBrand">
		/*+ kr.co.abcmart.bo.product.repository.master.DpBrandDao.selectBrandList [브랜드 목록 조회 쿼리] [김세훈] */
    	SELECT
    		<include refid="select-columns-alias-a" />
    		<include refid="select-columns-admin-info" />
    		, 'L' AS pageType
			<!-- , CONCAT(B.login_id, '(', B.admin_name, ')') AS rgster_name
    	    , CONCAT(C.login_id, '(', C.admin_name, ')') AS moder_name -->
    	FROM
    		dp_brand A WITH(NOLOCK)
    		<include refid="from-tables-sy-admin" />
			<if test='bean.vndrNo != null and bean.vndrNo != ""'>
				<include refid="from-vendor-brand" />
			</if>
			<!-- LEFT OUTER JOIN sy_admin B WITH(NOLOCK) ON A.rgster_no = B.admin_no
			LEFT OUTER JOIN sy_admin C WITH(NOLOCK) ON A.moder_no = C.admin_no -->
    	<include refid="where-brand-search-vo-alias-a" />
		ORDER BY
			<choose>
				 <when test="sortColumn != null">
				 	<if test="sortColumn == 'brandName'.toString()">
				 		A.brand_name
				 	</if>
				 	<if test="sortColumn == 'brandEnName'.toString()">
				 		A.brand_en_name
				 	</if>
				 	<if test="sortColumn == 'rgstDtm'.toString()">
				 		A.rgst_dtm
				 	</if>
				 	<if test="sortColumn == 'modDtm'.toString()">
				 		A.mod_dtm
				 	</if>
				 	<if test="sortType == 'DESC'.toString()">
				 		DESC
				 	</if>
				 </when>
				 <otherwise>
				 	A.brand_no DESC
				 </otherwise>
			</choose>
			<include refid="Paging.mssql" />
    </select>

    <select id="selectBrandListCount" parameterType="pageable" resultType="java.lang.Integer">
		/*+ kr.co.abcmart.bo.product.repository.master.DpBrandDao.selectBrandCount [브랜드 목록 갯수 조회 쿼리] [김세훈] */
    	SELECT
    		<include refid="Paging.totalCount" />
    	FROM
    		dp_brand A WITH(NOLOCK)
    		<if test='bean.vndrNo != null and bean.vndrNo != ""'>
    			<include refid="from-vendor-brand" />
    		</if>
    	<include refid="where-brand-search-vo-alias-a" />
    </select>

    <select id="selectBrandApi" parameterType="kr.co.abcmart.bo.product.vo.DpBrandSearchVO" resultType="kr.co.abcmart.bo.product.model.master.DpBrand">
		/*+ kr.co.abcmart.bo.product.repository.master.DpBrandDao.selectBrandApi [브랜드 검색 API 쿼리] [김세훈] */
    	SELECT
    		A.brand_no,
    		A.brand_name,
    		A.brand_en_name,
    		A.use_yn
    	FROM
    		dp_brand A WITH(NOLOCK)
    	<include refid="api-where-brand-search-vo-alias-a" />
    	ORDER BY
    		A.brand_no ASC
    </select>

     <select id="selectBrand" parameterType="Object" resultType="kr.co.abcmart.bo.product.model.master.DpBrand">
		/*+ kr.co.abcmart.bo.product.repository.master.DpBrandDao.selectBrand [브랜드 조회] [박민우] */
		SELECT A.BRAND_NO
			 , A.BRAND_NAME
			 , A.BRAND_EN_NAME
			 , A.SITE_NO
			 , ISNULL (A.BRAND_PRDT_ART_DISP_YN, 'Y') AS BRAND_PRDT_ART_DISP_YN
			 , CASE WHEN ISNULL(A.SITE_NO, '10000') != '10001'
					THEN ISNULL(A.DFLT_MVMN_CHNNL, '10001')
					ELSE ''
				END AS DFLT_MVMN_CHNNL
			 , A.BRAND_KEY_WORD_TEXT
			 , A.IMAGE_NAME
			 , A.IMAGE_PATH_TEXT
			 , A.IMAGE_URL
			 , A.ALTRN_TEXT
			 , A.BRAND_GROUP_NO_TEXT
			 , A.ACONNECT_DISP_YN
			 , A.KOR_INITIAL_TEXT
			 , A.ENG_INITIAL_TEXT
			 , A.ETC_INITIAL_TEXT
			 , A.NOTE_TEXT
			 , A.USE_YN
			 , A.RGSTER_NO
			 , A.RGST_DTM
			 , A.MODER_NO
			 , A.MOD_DTM
			 , B.ADMIN_NAME AS RGSTER_NAME
			 , B.LOGIN_ID AS RGSTER_ID
			 , C.ADMIN_NAME AS MODER_NAME
			 , C.LOGIN_ID AS MODER_ID
		  FROM DP_BRAND A WITH (NOLOCK)
		  LEFT OUTER JOIN SY_ADMIN B WITH(NOLOCK)
			ON A.RGSTER_NO = B.ADMIN_NO
		  LEFT OUTER JOIN SY_ADMIN C WITH(NOLOCK)
			ON A.MODER_NO = C.ADMIN_NO
		 WHERE A.BRAND_NO = #{brandNo, jdbcType=VARCHAR}
    </select>

    <update id="updateBrand" parameterType="kr.co.abcmart.bo.product.model.master.DpBrand">
     /*+ kr.co.abcmart.bo.product.repository.master.DpBrandDao.updateBrand [브랜드 수정] [황성준] */

		UPDATE dp_brand
		<set>
			<if test="brandName != null">
				brand_name = #{brandName, jdbcType=VARCHAR},
			</if>
			<if test="brandEnName != null">
				brand_en_name = #{brandEnName, jdbcType=VARCHAR},
			</if>
			<if test='siteNo != null and siteNo != ""'>
				site_no = #{siteNo, jdbcType=VARCHAR},
			</if>
			<!-- 브랜드 공통은 null -->
			<if test='siteNo == null or siteNo == ""'>
				site_no = null,
			</if>
			<if test="brandKeyWordText != null">
				brand_key_word_text = #{brandKeyWordText, jdbcType=VARCHAR},
			</if>
			<if test="imageName != null">
				image_name = #{imageName, jdbcType=VARCHAR},
			</if>
			<if test="imagePathText != null">
				image_path_text = #{imagePathText, jdbcType=VARCHAR},
			</if>
			<if test="imageUrl != null">
				image_url = #{imageUrl, jdbcType=VARCHAR},
			</if>
			<if test="altrnText != null">
				altrn_text = #{altrnText, jdbcType=VARCHAR},
			</if>
			<if test="brandGroupNoText != null">
				brand_group_no_text = #{brandGroupNoText, jdbcType=VARCHAR},
			</if>
			<if test="aconnectDispYn != null">
				aconnect_disp_yn = #{aconnectDispYn, jdbcType=CHAR},
			</if>
			<choose>
				<when test ="korInitialText != null">
					kor_initial_text = #{korInitialText, jdbcType=VARCHAR},
				</when>
				<otherwise>
					kor_initial_text = null,
				</otherwise>
			</choose>
			<choose>
				<when test ="engInitialText != null">
					eng_initial_text = #{engInitialText, jdbcType=VARCHAR},
				</when>
				<otherwise>
					eng_initial_text = null,
				</otherwise>
			</choose>
			<choose>
				<when test ="etcInitialText != null">
					etc_initial_text = #{etcInitialText, jdbcType=VARCHAR},
				</when>
				<otherwise>
					etc_initial_text = null,
				</otherwise>
			</choose>
			<if test="noteText != null">
				note_text = #{noteText, jdbcType=VARCHAR},
			</if>
			<if test="useYn != null">
				use_yn = #{useYn, jdbcType=CHAR},
			</if>
			<if test="brandPrdtArtDispYn != null">
				brand_prdt_art_disp_yn = #{brandPrdtArtDispYn, jdbcType=CHAR},
			</if>
			<if test='dfltMvmnChnnl != null and dfltMvmnChnnl != ""'>
				dflt_mvmn_chnnl = #{dfltMvmnChnnl, jdbcType=VARCHAR},
			</if>
			<!-- 브랜드 공통은 null -->
			<if test='dfltMvmnChnnl == null or dfltMvmnChnnl == ""'>
				dflt_mvmn_chnnl = null,
			</if>
			<if test="moderNo != null">
				moder_no = #{moderNo, jdbcType=VARCHAR},
			</if>
				mod_dtm = GETDATE()
		</set>
		WHERE
			 brand_no = #{brandNo, jdbcType=VARCHAR}
    </update>

	<select id="selectBrandNoCount" parameterType="kr.co.abcmart.bo.product.model.master.DpBrand" resultType="int">
	/*+ kr.co.abcmart.bo.product.repository.master.DpBrandDao.selectBrandNoCount [브랜드 count] [유성민] */
		SELECT COUNT(*)
		  FROM DP_BRAND
		 WHERE  BRAND_NO = #{brandNo, jdbcType=VARCHAR}
	</select>

</mapper>