<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.abcmart.bo.product.repository.master.DpBrandVisualDao">

    <!--
    	※ 경고
		이 select SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    <sql id="select-columns-bramd-product">
    	, (SELECT COUNT(BRAND_NO)
    		FROM DP_BRAND_PRODUCT WITH(NOLOCK)
    		WHERE BRAND_NO = A.BRAND_NO AND BRAND_BANNER_SEQ = A.BRAND_BANNER_SEQ) AS product_count
    </sql>
    
    <sql id="select-columns-alias-a">
    	A.brand_no, A.brand_banner_seq, A.title_text, A.image_name, A.image_path_text, A.image_url, A.altrn_text, A.disp_yn, A.rgster_no, A.rgst_dtm, A.moder_no, A.mod_dtm
    </sql>
    
    <select id="selectByPrimaryKey" parameterType="Object" resultType="kr.co.abcmart.bo.product.model.master.DpBrandVisual">
    
     	/*+ kr.co.abcmart.bo.product.repository.master.DpBrandVisualDao.selectByPrimaryKey [기본 PK 조회 쿼리] [Generator] */  
		SELECT 
			<include refid="select-columns" />
		FROM 
			dp_brand_product_detail WITH(NOLOCK)
		WHERE 
			<include refid="pk-columns" /> 
    </select>
    
    <select id="selectBrandVisualList" parameterType="pageable" resultType="kr.co.abcmart.bo.product.model.master.DpBrandVisual">
    
 	   	/*+ kr.co.abcmart.bo.product.repository.master.DpBrandVisualDao.selectBrandVisualList [브랜드 비주얼 목록 조회 쿼리] [백인천] */
    	SELECT
    		<include refid="select-columns-alias-a" />
    		<include refid="select-columns-bramd-product" />
    		, image_url as image_preview
    	FROM
    		dp_brand_product_detail A WITH(NOLOCK)
    	<where> 
			<if test='bean.brandNo != null and bean.brandNo != ""'>
				AND A.brand_no = #{bean.brandNo, jdbcType=VARCHAR}
			</if>
		</where>
    	ORDER BY
			A.brand_banner_seq ASC
		<include refid="Paging.mssql" />
			
    </select>
    
    <select id="selectBrandVisualListCount" parameterType="pageable" resultType="java.lang.Integer">
    
    	/*+ kr.co.abcmart.bo.product.repository.master.DpBrandVisualDao.selectBrandVisualListCount [브랜드 비주얼 목록 갯수 조회 쿼리] [백인천] */
    	SELECT
    		<include refid="Paging.totalCount" />
    	FROM
    		dp_brand_product_detail WITH(NOLOCK)
    	<where> 
			<if test='bean.brandNo != null and bean.brandNo != ""'>
				AND brand_no = #{bean.brandNo, jdbcType=VARCHAR}
			</if>
		</where>
    
    </select>
    
    <insert id="insertBrandVisual" parameterType="kr.co.abcmart.bo.product.model.master.DpBrandVisual">	
		<selectKey resultType="java.lang.Integer" keyProperty="brandBannerSeq" order="BEFORE">
    		SELECT
    			ISNULL(MAX(brand_banner_seq) + 1, 1)
    		FROM
    			dp_brand_product_detail A WITH(NOLOCK)
    		WHERE
    			brand_no = #{brandNo, jdbcType=VARCHAR}
    	</selectKey>
     	/*+ kr.co.abcmart.bo.product.repository.master.DpBrandVisualDao.insert [브랜드 비주얼 저장 쿼리] [백인천] */
		INSERT INTO dp_brand_product_detail
			 ( brand_no, brand_banner_seq, title_text, image_name, image_path_text, image_url, altrn_text, disp_yn, rgster_no, rgst_dtm ) 

		VALUES 
			 ( #{brandNo, jdbcType=VARCHAR}, #{brandBannerSeq, jdbcType=INTEGER}, #{titleText, jdbcType=VARCHAR}, #{imageName, jdbcType=VARCHAR}, #{imagePathText, jdbcType=VARCHAR}, #{imageUrl, jdbcType=VARCHAR}, #{altrnText, jdbcType=VARCHAR}, #{dispYn, jdbcType=CHAR}, #{rgsterNo, jdbcType=VARCHAR}, <choose><when test="rgstDtm != null">#{rgstDtm, jdbcType=TIMESTAMP}</when><otherwise>getdate()</otherwise></choose> )  
    </insert>


    <select id="getBrandVisualInfo" parameterType="kr.co.abcmart.bo.product.model.master.DpBrandVisual" resultType="kr.co.abcmart.bo.product.model.master.DpBrandVisual">
    
    	/*+ kr.co.abcmart.bo.product.repository.master.DpBrandVisualDao.getBrandVisualInfo [브랜드 비주얼 전시정보 조회 쿼리] [백인천] */
    	SELECT
    		TOP(1) bpd.BRAND_NO, bpd.BRAND_BANNER_SEQ, bpd.TITLE_TEXT, bpd.IMAGE_NAME, bpd.IMAGE_PATH_TEXT, bpd.IMAGE_URL, bpd.ALTRN_TEXT, bpd.DISP_YN, bpd.RGST_DTM, bpd.MODER_NO, bpd.MOD_DTM
    	FROM
    		DP_BRAND_PRODUCT bp WITH(NOLOCK)
    		join dp_brand_product_detail bpd WITH(NOLOCK) on bp.BRAND_NO = bpd.BRAND_NO and bp.BRAND_BANNER_SEQ = bpd.BRAND_BANNER_SEQ
    	<where> 
    		AND bpd.DISP_YN = 'Y'
			<if test='brandNo != null and brandNo != ""'>
				AND bpd.brand_no = #{brandNo, jdbcType=VARCHAR}
			</if>
			<if test='prdtNo != null and prdtNo != ""'>
				AND bp.prdt_no = #{prdtNo, jdbcType=VARCHAR}
			</if>
		</where>
		ORDER BY bpd.BRAND_BANNER_SEQ DESC
    
    </select>

</mapper>