<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.abcmart.bo.product.repository.master.PdProductOptionStockDao">

    <!--
    	※ 경고
		이 select SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    <select id="selectByPrimaryKey" parameterType="Object" resultType="kr.co.abcmart.bo.product.model.master.PdProductOptionStock">
		/*+ kr.co.abcmart.bo.product.repository.master.PdProductOptionStockDao.selectByPrimaryKey [기본 PK 조회 쿼리] [Generator] */  
		SELECT 
			<include refid="select-columns" />
		FROM 
			pd_product_option_stock WITH(NOLOCK)
		WHERE 
			<include refid="pk-columns" /> 
    </select>
    
    <delete id="deleteContraryOptions">
		/*+ kr.co.abcmart.bo.product.repository.master.PdProductOptionStockDao.deleteContraryOptions [상품 옵션 목록에 존재하지 않는 옵션 삭제 쿼리] [김세훈] */
		DELETE
		FROM pd_product_option_stock
		WHERE
			prdt_no = #{prdtNo, jdbcType=VARCHAR}
			AND prdt_optn_no NOT IN
			<foreach collection="productOption" item="item" open="(" separator="," close=")">
				#{item.prdtOptnNo, jdbcType=VARCHAR}
			</foreach>
	</delete>

</mapper>