<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.abcmart.bo.product.repository.master.PdProductApprovalHistoryDao">

    <!--
    	※ 경고
		이 select SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.

    -->

	<sql id="select-columns-alias-a">
		A.prdt_no, A.prdt_aprv_hist_seq, A.prdt_aprv_req_code, A.reqtr_no, A.req_dtm, A.prdt_aprv_stat_code, A.return_rsn_text, A.aprver_no, A.aprver_dtm
	</sql>

    <select id="selectByPrimaryKey" parameterType="Object" resultType="kr.co.abcmart.bo.product.model.master.PdProductApprovalHistory">
		/*+ kr.co.abcmart.bo.product.repository.master.PdProductApprovalHistoryDao.selectByPrimaryKey [기본 PK 조회 쿼리] [Generator] */
		SELECT
			<include refid="select-columns" />
		FROM
			pd_product_approval_history WITH(NOLOCK)
		WHERE
			<include refid="pk-columns" />
    </select>

    <insert id="insertWithSelectKey" parameterType="kr.co.abcmart.bo.product.model.master.PdProductApprovalHistory">
    	<selectKey resultType="java.lang.Integer" keyProperty="prdtAprvHistSeq" order="BEFORE">
    		SELECT
    			ISNULL(MAX(prdt_aprv_hist_seq) + 1, 1)
    		FROM
    			pd_product_approval_history WITH(NOLOCK)
    		WHERE
    			prdt_no = #{prdtNo, jdbcType=VARCHAR}
    	</selectKey>
		/*+ kr.co.abcmart.bo.product.repository.master.PdProductApprovalHistoryDao.insertWithSelectKey [상품 승인 이력 등록 쿼리] [김세훈] */
		INSERT INTO pd_product_approval_history
			 ( prdt_no, prdt_aprv_hist_seq, prdt_aprv_req_code, reqtr_no, req_dtm, prdt_aprv_stat_code, return_rsn_text, aprver_no, aprver_dtm )
		VALUES
			 ( #{prdtNo, jdbcType=VARCHAR}, #{prdtAprvHistSeq, jdbcType=INTEGER}, #{prdtAprvReqCode, jdbcType=VARCHAR}, #{reqtrNo, jdbcType=VARCHAR}, <choose><when test="reqDtm != null">#{reqDtm, jdbcType=TIMESTAMP}</when><otherwise>getdate()</otherwise></choose>, #{prdtAprvStatCode, jdbcType=VARCHAR}, #{returnRsnText, jdbcType=VARCHAR}, #{aprverNo, jdbcType=VARCHAR}, <choose><when test="aprverDtm != null">#{aprverDtm, jdbcType=TIMESTAMP}</when><otherwise>getdate()</otherwise></choose> )
    </insert>

    <select id="selectWithDescentOrder" parameterType="java.lang.String" resultType="kr.co.abcmart.bo.product.model.master.PdProductApprovalHistory">
		/*+ kr.co.abcmart.bo.product.repository.master.PdProductApprovalHistoryDao.selectWithDescentOrder [상품 번호를 통한 승인 이력 역순 조회 쿼리] [김세훈] */
		SELECT
			TOP 1
			<include refid="select-columns" />
		FROM
			pd_product_approval_history WITH(NOLOCK)
		WHERE
			prdt_no = #{prdtNo, jdbcType=VARCHAR}
		ORDER BY
			prdt_aprv_hist_seq DESC
    </select>

    <select id="selectApprovalHistoryByPrdtNo" parameterType="kr.co.abcmart.bo.product.model.master.PdProductApprovalHistory" resultType="kr.co.abcmart.bo.product.model.master.PdProductApprovalHistory">
		/*+ kr.co.abcmart.bo.product.repository.master.PdProductApprovalHistoryDao.selectApprovalHistoryByPrdtNo [한 상품에 대한 이력 조회 쿼리] [김세훈] */
		<!-- 부가적인 정보를 조회함에 있어 외부조인을 사용함 -->
		SELECT
			<include refid="select-columns-alias-a" />
			, Y.login_id AS reqtr_id
			, Y.admin_name AS reqtr_name
			, Z.login_id AS aprver_id
			, Z.admin_name AS aprver_name
		FROM
			pd_product_approval_history A WITH(NOLOCK)
			LEFT OUTER JOIN sy_admin Y WITH(NOLOCK) ON A.reqtr_no = Y.admin_no
			LEFT OUTER JOIN sy_admin Z WITH(NOLOCK) ON A.aprver_no = Z.admin_no
		WHERE
			prdt_no = #{bean.prdtNo, jdbcType=VARCHAR}
		ORDER BY
			prdt_aprv_hist_seq DESC
		<include refid="Paging.mssql" />
    </select>

    <select id="selectApprovalHistoryByPrdtNoTotalCount" parameterType="kr.co.abcmart.bo.product.model.master.PdProductApprovalHistory" resultType="java.lang.Integer">
		/*+ kr.co.abcmart.bo.product.repository.master.PdProductApprovalHistoryDao.selectApprovalHistoryByPrdtNoTotalCount [한 상품에 대한 이력 전체 갯수 조회 쿼리] [김세훈] */
		SELECT
			<include refid="Paging.totalCount" />
		FROM
			pd_product_approval_history WITH(NOLOCK)
		WHERE
			prdt_no = #{bean.prdtNo, jdbcType=VARCHAR}
    </select>

	<select id="selectApplyingApprovalByPrdtNo" parameterType="kr.co.abcmart.bo.product.model.master.PdProductApprovalHistory" resultType="kr.co.abcmart.bo.product.model.master.PdProductApprovalHistory">
		/*+ kr.co.abcmart.bo.product.repository.master.PdProductApprovalHistoryDao.selectApplyingApprovalByPrdtNo [한 상품에 대한 최근 이력 조회 쿼리] [황성준] */
		SELECT
			<include refid="select-columns-alias-a" />
		FROM
			pd_product_approval_history A WITH(NOLOCK)
		<where>
			AND A.prdt_no = #{prdtNo, jdbcType=VARCHAR}
			AND A.prdt_aprv_hist_seq = (SELECT TOP 1 prdt_aprv_hist_seq FROM pd_product_approval_history WITH(NOLOCK) WHERE prdt_no = #{prdtNo, jdbcType=VARCHAR} ORDER BY prdt_aprv_hist_seq DESC)
		</where>
    </select>

    <delete id="deleteByPrdtNo" parameterType="java.lang.String">
		/*+ kr.co.abcmart.bo.product.repository.master.PdProductApprovalHistoryDao.deleteByPrdtNo [상품번호로 상품승인이력 삭제 쿼리] [황성준] */
		DELETE
			FROM pd_product_approval_history
		WHERE
			 prdt_no = #{prdtNo, jdbcType=VARCHAR}
    </delete>

</mapper>