<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.abcmart.bo.board.repository.master.BdFaqDao">

    <!--
    	※ 경고
		이 select SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    
    <sql id="select-columns">
    	faq_seq, cnsl_type_code, cnsl_type_dtl_code, faq_title_text, faq_cont_text, top10_setup_yn, top10_sort_seq, disp_yn, rgster_no, rgst_dtm, moder_no, mod_dtm
    </sql>
    
    <sql id="pk-columns">
    	faq_seq = #{faqSeq, jdbcType=INTEGER}
    </sql>
    
    <select id="select" parameterType="kr.co.abcmart.bo.board.model.master.BdFaq" resultType="kr.co.abcmart.bo.board.model.master.BdFaq">
    
     /*+ kr.co.abcmart.bo.board.repository.master.BdFaqDao.select [기본 조회 쿼리] [Generator] */
    
		SELECT 
			 <include refid="select-columns" />
		FROM 
			bd_faq WITH (NOLOCK)

		<where> 
			<if test="faqSeq != null"> 
				 faq_seq = #{faqSeq, jdbcType=INTEGER}
			</if> 
			<if test="cnslTypeCode != null"> 
				 AND cnsl_type_code = #{cnslTypeCode, jdbcType=VARCHAR}
			</if> 
			<if test="cnslTypeDtlCode != null"> 
				 AND cnsl_type_dtl_code = #{cnslTypeDtlCode, jdbcType=VARCHAR}
			</if> 
			<if test="faqTitleText != null"> 
				 AND faq_title_text = #{faqTitleText, jdbcType=VARCHAR}
			</if> 
			<if test="faqContText != null"> 
				 AND faq_cont_text = #{faqContText, jdbcType=VARCHAR}
			</if> 
			<if test="top10SetupYn != null"> 
				 AND top10_setup_yn = #{top10SetupYn, jdbcType=CHAR}
			</if> 
			<if test="top10SortSeq != null"> 
				 AND top10_sort_seq = #{top10SortSeq, jdbcType=INTEGER}
			</if> 
			<if test="dispYn != null"> 
				 AND disp_yn = #{dispYn, jdbcType=CHAR}
			</if> 
			<if test="rgsterNo != null"> 
				 AND rgster_no = #{rgsterNo, jdbcType=VARCHAR}
			</if> 
			<if test="rgstDtm != null"> 
				 AND rgst_dtm = #{rgstDtm, jdbcType=TIMESTAMP}
			</if> 
			<if test="moderNo != null"> 
				 AND moder_no = #{moderNo, jdbcType=VARCHAR}
			</if> 
			<if test="modDtm != null"> 
				 AND mod_dtm = #{modDtm, jdbcType=TIMESTAMP}
			</if> 
		</where>  
    </select>
    
    <!--
    	※ 경고
		이 insert SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    
	<insert id="insert" useGeneratedKeys="true" keyProperty="faqSeq">

     /*+ kr.co.abcmart.bo.board.repository.master.BdFaqDao.insert [기본 insert 쿼리] [Generator] */
    
		INSERT INTO bd_faq
			 ( cnsl_type_code, cnsl_type_dtl_code, faq_title_text, faq_cont_text, top10_setup_yn, top10_sort_seq, disp_yn, rgster_no, rgst_dtm, moder_no, mod_dtm ) 

		VALUES 
			 ( #{cnslTypeCode, jdbcType=VARCHAR}, #{cnslTypeDtlCode, jdbcType=VARCHAR}, #{faqTitleText, jdbcType=VARCHAR}, #{faqContText, jdbcType=VARCHAR}, #{top10SetupYn, jdbcType=CHAR}, #{top10SortSeq, jdbcType=INTEGER}, #{dispYn, jdbcType=CHAR}, #{rgsterNo, jdbcType=VARCHAR}, <choose><when test="rgstDtm != null">#{rgstDtm, jdbcType=TIMESTAMP}</when><otherwise>getdate()</otherwise></choose>, #{moderNo, jdbcType=VARCHAR}, <choose><when test="modDtm != null">#{modDtm, jdbcType=TIMESTAMP}</when><otherwise>getdate()</otherwise></choose> )  
    </insert>
    
    <!--
    	※ 경고
		이 update SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    <update id="update" parameterType="kr.co.abcmart.bo.board.model.master.BdFaq">
    
     /*+ kr.co.abcmart.bo.board.repository.master.BdFaqDao.update [기본 update 쿼리] [Generator] */
    
		UPDATE bd_faq
		<set> 
			<if test="faqSeq != null"> 
				faq_seq = #{faqSeq, jdbcType=INTEGER}, 
			</if> 
			<if test="cnslTypeCode != null"> 
				cnsl_type_code = #{cnslTypeCode, jdbcType=VARCHAR}, 
			</if> 
			<if test="cnslTypeDtlCode != null"> 
				cnsl_type_dtl_code = #{cnslTypeDtlCode, jdbcType=VARCHAR}, 
			</if> 
			<if test="faqTitleText != null"> 
				faq_title_text = #{faqTitleText, jdbcType=VARCHAR}, 
			</if> 
			<if test="faqContText != null"> 
				faq_cont_text = #{faqContText, jdbcType=VARCHAR}, 
			</if> 
			<if test="top10SetupYn != null"> 
				top10_setup_yn = #{top10SetupYn, jdbcType=CHAR}, 
			</if> 
			<if test="top10SortSeq != null"> 
				top10_sort_seq = #{top10SortSeq, jdbcType=INTEGER}, 
			</if> 
			<if test="dispYn != null"> 
				disp_yn = #{dispYn, jdbcType=CHAR}, 
			</if> 
			<if test="rgsterNo != null"> 
				rgster_no = #{rgsterNo, jdbcType=VARCHAR}, 
			</if> 
			<if test="rgstDtm != null"> 
				rgst_dtm = #{rgstDtm, jdbcType=TIMESTAMP}, 
			</if> 
			<if test="moderNo != null"> 
				moder_no = #{moderNo, jdbcType=VARCHAR}, 
			</if> 
			<if test="modDtm != null"> 
				mod_dtm = #{modDtm, jdbcType=TIMESTAMP}, 
			</if> 
		</set> 
		WHERE 
			 faq_seq = #{faqSeq, jdbcType=INTEGER}   
    </update>
    
    <!--
    	※ 경고
		이 delete SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    <delete id="delete" parameterType="kr.co.abcmart.bo.board.model.master.BdFaq">
    
     /*+ kr.co.abcmart.bo.board.repository.master.BdFaqDao.delete [기본 delete 쿼리] [Generator] */
    
		DELETE FROM bd_faq
		WHERE 
			 faq_seq = #{faqSeq, jdbcType=INTEGER}  
    </delete>
</mapper>