<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.abcmart.bo.board.repository.master.BdContactUsDao">

    <!--
    	※ 경고
		이 select SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    
    <sql id="select-columns">
    	contact_us_seq, member_no, site_no, cnsl_type_dtl_code, inqry_dtm, inqry_title_text, inqry_cont_text, indvdl_info_colct_agree_yn
    </sql>
    
    <sql id="pk-columns">
    	contact_us_seq = #{contactUsSeq, jdbcType=INTEGER}
    </sql>
    
    <select id="select" parameterType="kr.co.abcmart.bo.board.model.master.BdContactUs" resultType="kr.co.abcmart.bo.board.model.master.BdContactUs">
    
     /*+ kr.co.abcmart.bo.board.repository.master.BdContactUsDao.select [기본 조회 쿼리] [Generator] */
    
		SELECT 
			 <include refid="select-columns" />
		FROM 
			bd_contact_us WITH (NOLOCK)

		<where> 
			<if test="contactUsSeq != null"> 
				 contact_us_seq = #{contactUsSeq, jdbcType=INTEGER}
			</if> 
			<if test="memberNo != null"> 
				 AND member_no = #{memberNo, jdbcType=VARCHAR}
			</if> 
			<if test="siteNo != null"> 
				 AND site_no = #{siteNo, jdbcType=VARCHAR}
			</if> 
			<if test="cnslTypeDtlCode != null"> 
				 AND cnsl_type_dtl_code = #{cnslTypeDtlCode, jdbcType=VARCHAR}
			</if> 
			<if test="inqryDtm != null"> 
				 AND inqry_dtm = #{inqryDtm, jdbcType=TIMESTAMP}
			</if> 
			<if test="inqryTitleText != null"> 
				 AND inqry_title_text = #{inqryTitleText, jdbcType=VARCHAR}
			</if> 
			<if test="inqryContText != null"> 
				 AND inqry_cont_text = #{inqryContText, jdbcType=VARCHAR}
			</if> 
			<if test="indvdlInfoColctAgreeYn != null"> 
				 AND indvdl_info_colct_agree_yn = #{indvdlInfoColctAgreeYn, jdbcType=CHAR}
			</if> 
		</where>  
    </select>
    
    <!--
    	※ 경고
		이 insert SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    
	<insert id="insert" useGeneratedKeys="true" keyProperty="contactUsSeq">

     /*+ kr.co.abcmart.bo.board.repository.master.BdContactUsDao.insert [기본 insert 쿼리] [Generator] */
    
		INSERT INTO bd_contact_us
			 ( member_no, site_no, cnsl_type_dtl_code, inqry_dtm, inqry_title_text, inqry_cont_text, indvdl_info_colct_agree_yn ) 

		VALUES 
			 ( #{memberNo, jdbcType=VARCHAR}, #{siteNo, jdbcType=VARCHAR}, #{cnslTypeDtlCode, jdbcType=VARCHAR}, <choose><when test="inqryDtm != null">#{inqryDtm, jdbcType=TIMESTAMP}</when><otherwise>getdate()</otherwise></choose>, #{inqryTitleText, jdbcType=VARCHAR}, #{inqryContText, jdbcType=VARCHAR}, #{indvdlInfoColctAgreeYn, jdbcType=CHAR} )  
    </insert>
    
    <!--
    	※ 경고
		이 update SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    <update id="update" parameterType="kr.co.abcmart.bo.board.model.master.BdContactUs">
    
     /*+ kr.co.abcmart.bo.board.repository.master.BdContactUsDao.update [기본 update 쿼리] [Generator] */
    
		UPDATE bd_contact_us
		<set> 
			<if test="contactUsSeq != null"> 
				contact_us_seq = #{contactUsSeq, jdbcType=INTEGER}, 
			</if> 
			<if test="memberNo != null"> 
				member_no = #{memberNo, jdbcType=VARCHAR}, 
			</if> 
			<if test="siteNo != null"> 
				site_no = #{siteNo, jdbcType=VARCHAR}, 
			</if> 
			<if test="cnslTypeDtlCode != null"> 
				cnsl_type_dtl_code = #{cnslTypeDtlCode, jdbcType=VARCHAR}, 
			</if> 
			<if test="inqryDtm != null"> 
				inqry_dtm = #{inqryDtm, jdbcType=TIMESTAMP}, 
			</if> 
			<if test="inqryTitleText != null"> 
				inqry_title_text = #{inqryTitleText, jdbcType=VARCHAR}, 
			</if> 
			<if test="inqryContText != null"> 
				inqry_cont_text = #{inqryContText, jdbcType=VARCHAR}, 
			</if> 
			<if test="indvdlInfoColctAgreeYn != null"> 
				indvdl_info_colct_agree_yn = #{indvdlInfoColctAgreeYn, jdbcType=CHAR}, 
			</if> 
		</set> 
		WHERE 
			 contact_us_seq = #{contactUsSeq, jdbcType=INTEGER}   
    </update>
    
    <!--
    	※ 경고
		이 delete SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    <delete id="delete" parameterType="kr.co.abcmart.bo.board.model.master.BdContactUs">
    
     /*+ kr.co.abcmart.bo.board.repository.master.BdContactUsDao.delete [기본 delete 쿼리] [Generator] */
    
		DELETE FROM bd_contact_us
		WHERE 
			 contact_us_seq = #{contactUsSeq, jdbcType=INTEGER}  
    </delete>
</mapper>