// 폰트
$defaultFontSize: 12px;

// 레이아웃 사이즈

// 컬러
$defaultTextColor: #000;
$pointColorRed: #ed1c24;
$pointColorLightRed: #fff4f5;
$pointColorBlue: #3d78db;
$defaultBorderColor: #ddd;

// 버튼

// 사이즈
$headerHeight: 80px;

// 트렌지션
$transLNBTime: .23s;
$transLNBEase: ease-out;
