<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.abcmart.bo.member.repository.master.MbMemberCrtfcHistoryDao">

    <!--
    	※ 경고
		이 select SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    <select id="selectByPrimaryKey" parameterType="Object" resultType="kr.co.abcmart.bo.member.model.master.MbMemberCrtfcHistory">
    
     /*+ kr.co.abcmart.bo.member.repository.master.MbMemberCrtfcHistoryDao.selectByPrimaryKey [기본 PK 조회 쿼리] [Generator] */  
    
		SELECT 
			<include refid="select-columns" />
		FROM 
			mb_member_crtfc_history with (nolock)
		WHERE 
			<include refid="pk-columns" /> 
    </select>
    
    <select id="selectCertifyHistoryListCount" parameterType="pageable" resultType="Integer">
    	/*+ kr.co.abcmart.bo.member.repository.master.MbMemberCrtfcHistoryDao.selectCertifyHistoryListCount [페이지 카운트] [김영현] */
    	SELECT 
			<include refid="Paging.totalCount" />
		FROM 
			mb_member_certification_history a with (nolock)
		WHERE 
			member_no = #{bean.memberNo, jdbcType=VARCHAR}
		<if test='@kr.co.abcmart.common.util.UtilsText@isNotBlank(bean.crtfcTypeCode)'>
			AND crtfc_type_code = (#{bean.crtfcTypeCode, jdbcType=VARCHAR})
		</if>
		<if test='@kr.co.abcmart.common.util.UtilsText@isNotBlank(bean.crtfcPathCode)'>
			AND crtfc_path_code = (#{bean.crtfcPathCode, jdbcType=VARCHAR})
		</if>
		<if test='@kr.co.abcmart.common.util.UtilsText@isNotBlank(bean.crtfcSuccessYn)'>
			AND crtfc_success_yn = (#{bean.crtfcSuccessYn, jdbcType=VARCHAR})
		</if>
		<if test='bean.fromDate != null and bean.toDate != null'>
			<![CDATA[
			AND (crtfc_dtm >= #{bean.fromDate} AND crtfc_dtm < #{bean.toDate})
			]]>
		</if> 
    </select>
    
    <select id="selectCertifyHistoryList" parameterType="pageable" resultType="kr.co.abcmart.bo.member.model.master.MbMemberCrtfcHistory">
    	/*+ kr.co.abcmart.bo.member.repository.master.MbMemberCrtfcHistoryDao.selectCertifyHistoryList [페이지 조회] [김영현] */
    	SELECT 
			<include refid="select-columns" />
		FROM 
			mb_member_certification_history a with (nolock)
		WHERE 
			member_no = #{bean.memberNo, jdbcType=VARCHAR}
		<if test='@kr.co.abcmart.common.util.UtilsText@isNotBlank(bean.crtfcTypeCode)'>
			AND crtfc_type_code = (#{bean.crtfcTypeCode, jdbcType=VARCHAR})
		</if>
		<if test='@kr.co.abcmart.common.util.UtilsText@isNotBlank(bean.crtfcPathCode)'>
			AND crtfc_path_code = (#{bean.crtfcPathCode, jdbcType=VARCHAR})
		</if>
		<if test='@kr.co.abcmart.common.util.UtilsText@isNotBlank(bean.crtfcSuccessYn)'>
			AND crtfc_success_yn = (#{bean.crtfcSuccessYn, jdbcType=VARCHAR})
		</if>
		<if test='bean.fromDate != null and bean.toDate != null'>
			<![CDATA[
			AND (crtfc_dtm >= #{bean.fromDate} AND crtfc_dtm < #{bean.toDate})
			]]>
		</if>
		<choose>
			 <when test="sortColumn != null">
			 	ORDER BY
			 	<if test="sortColumn == 'crtfcDtm'.toString()">
			 		crtfc_dtm
			 	</if>
			 	<if test="sortType == 'DESC'.toString()">
			 		DESC
			 	</if>
			 </when>
			 <otherwise>
			 	ORDER BY crtfc_hist_seq DESC
			 </otherwise>
		</choose>
		<include refid="Paging.mssql" /> 
    </select>

</mapper>