<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.abcmart.bo.member.repository.master.MbMemberChangeHistoryDao">

    <!--
    	※ 경고
		이 select SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    <select id="selectByPrimaryKey" parameterType="Object" resultType="kr.co.abcmart.bo.member.model.master.MbMemberChangeHistory">
    
     /*+ kr.co.abcmart.bo.member.repository.master.MbMemberChangeHistoryDao.selectByPrimaryKey [기본 PK 조회 쿼리] [Generator] */  
    
		SELECT 
			<include refid="select-columns" />
		FROM 
			mb_member_change_history with (nolock)
		WHERE 
			<include refid="pk-columns" /> 
    </select>
    
    <select id="selectChangeHistoryListCount" parameterType="pageable" resultType="Integer">
    	/*+ kr.co.abcmart.bo.member.repository.master.MbMemberChangeHistoryDao.selectChangeHistoryListCount [페이지 카운트] [김영현] */
    	SELECT 
			<include refid="Paging.totalCount" />
		FROM 
			mb_member_change_history a with (nolock)
		WHERE 
			member_no = #{bean.memberNo, jdbcType=VARCHAR}
		<if test='@kr.co.abcmart.util.UtilsText@isNotBlank(bean.changeGroup) and @kr.co.abcmart.util.UtilsText@isNotBlank(bean.changeFieldArray)'>
			AND chng_field in
			<foreach collection="bean.changeFieldArray" item="item" index="index" separator="," open="(" close=")">
				#{item}
			</foreach>
		</if>
		<if test='bean.fromDate != null and bean.toDate != null'>
			<![CDATA[
			AND (rgst_dtm >= #{bean.fromDate} AND rgst_dtm < #{bean.toDate})
			]]>
		</if>
    </select>
    
    <select id="selectChangeHistoryList" parameterType="pageable" resultType="kr.co.abcmart.bo.member.model.master.MbMemberChangeHistory">
    	/*+ kr.co.abcmart.bo.member.repository.master.MbMemberChangeHistoryDao.selectChangeHistoryList [페이지 조회] [김영현] */
    	SELECT 
			mch.member_no,
			mch.chng_hist_seq,
			mch.chng_field,
			mch.chng_field_name,
			mch.chng_before_field_value,
			mch.chng_after_field_value,
			mch.note_text,
			mch.rgster_no,
			mch.rgst_dtm,
			(
				SELECT sa.login_id + '(' + sa.admin_name + ')'
				FROM sy_admin sa
				WHERE sa.admin_no = mch.rgster_no
				UNION ALL
				SELECT  mm.login_id + '(' + mm.member_name + ')'
				FROM mb_member mm
				WHERE mm.member_no = mch.rgster_no
			) as rgster_display_name
		FROM 
			mb_member_change_history mch with (nolock)
		WHERE 
			mch.member_no = #{bean.memberNo, jdbcType=VARCHAR}
		<if test='@kr.co.abcmart.util.UtilsText@isNotBlank(bean.changeGroup) and @kr.co.abcmart.util.UtilsText@isNotBlank(bean.changeFieldArray)'>
			AND chng_field in
			<foreach collection="bean.changeFieldArray" item="item" index="index" separator="," open="(" close=")">
				#{item}
			</foreach>
		</if>
		<if test='bean.fromDate != null and bean.toDate != null'>
			<![CDATA[
			AND (rgst_dtm >= #{bean.fromDate} AND rgst_dtm < #{bean.toDate})
			]]>
		</if>
		<choose>
			 <when test="sortColumn != null">
			 	ORDER BY
			 	<if test="sortColumn == 'rgstDtm'.toString()">
			 		rgst_dtm
			 	</if>
			 	<if test="sortType == 'DESC'.toString()">
			 		DESC
			 	</if>
			 </when>
			 <otherwise>
			 	ORDER BY chng_hist_seq DESC
			 </otherwise>
		</choose>
		<include refid="Paging.mssql" /> 
    </select>
    
    <insert id="insertMemberHistory" parameterType="kr.co.abcmart.bo.member.model.master.MbMemberChangeHistory">
    	/*+ kr.co.abcmart.bo.member.repository.master.MbMemberChangeHistoryDao.insertMemberHistory [회원 변경이력 등록] [이동엽] */
    	<selectKey resultType="int" keyProperty="chngHistSeq" order="BEFORE">
    		SELECT ISNULL(MAX(CHNG_HIST_SEQ), 0) + 1
    		  FROM MB_MEMBER_CHANGE_HISTORY
    		 WHERE MEMBER_NO = #{memberNo}
    	</selectKey>
    	
    	INSERT INTO MB_MEMBER_CHANGE_HISTORY(
			   MEMBER_NO
			 , CHNG_HIST_SEQ
			 , CHNG_FIELD
			 , CHNG_FIELD_NAME
			 , CHNG_BEFORE_FIELD_VALUE
			 , CHNG_AFTER_FIELD_VALUE
			 , RGSTER_NO
			 , RGST_DTM
		)VALUES(
			   #{memberNo, jdbcType=VARCHAR}
			 , #{chngHistSeq, jdbcType=INTEGER}
			 , #{chngField, jdbcType=VARCHAR}
			 , #{chngFieldName, jdbcType=VARCHAR}
			 , #{chngBeforeFieldValue, jdbcType=VARCHAR}
			 , #{chngAfterFieldValue, jdbcType=VARCHAR}
			 , #{rgsterNo, jdbcType=VARCHAR}
			 , GETDATE()
		)
    </insert>

</mapper>