<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.abcmart.bo.promotion.repository.master.PrCouponApplyBrandDao">

    <!--
    	※ 경고
		이 select SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    <select id="selectByPrimaryKey" parameterType="Object" resultType="kr.co.abcmart.bo.promotion.model.master.PrCouponApplyBrand">
    
     /*+ kr.co.abcmart.bo.promotion.repository.master.PrCouponApplyBrandDao.selectByPrimaryKey [기본 PK 조회 쿼리] [Generator] */  
    
		SELECT 
			<include refid="select-columns" />
		FROM 
			PR_COUPON_APPLY_BRAND
		WHERE 
			<include refid="pk-columns" /> 
    </select>
    
    <select id="selectPrCouponApplyBrandListByCpnNo" parameterType="String" resultType="kr.co.abcmart.bo.promotion.model.master.PrCouponApplyBrand">
    	SELECT 
			<include refid="select-columns" />
			,(SELECT BRAND_NAME FROM DP_BRAND WHERE BRAND_NO = PCAB.BRAND_NO) AS BRAND_NAME
		FROM 
			PR_COUPON_APPLY_BRAND PCAB WITH(NOLOCK)
		WHERE 
			CPN_NO = #{cpnNo, jdbcType=VARCHAR} 
    </select>
    
    <delete id="deleteByCpnNo" parameterType="String">
    	DELETE FROM PR_COUPON_APPLY_BRAND
    	WHERE CPN_NO = #{cpnNo, jdbcType=VARCHAR}
    </delete>

</mapper>