<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.abcmart.bo.promotion.repository.master.PrCouponApplyStoreDao">

    <!--
    	※ 경고
		이 select SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    <select id="selectByPrimaryKey" parameterType="Object" resultType="kr.co.abcmart.bo.promotion.model.master.PrCouponApplyStore">
    
     /*+ kr.co.abcmart.bo.promotion.repository.master.PrCouponApplyStoreDao.selectByPrimaryKey [기본 PK 조회 쿼리] [Generator] */  
    
		SELECT 
			<include refid="select-columns" />
		FROM 
			PR_COUPON_APPLY_STORE
		WHERE 
			<include refid="pk-columns" /> 
    </select>
    
    <select id="selectPrCouponApplyStoreListByCpnNo" parameterType="String" resultType="kr.co.abcmart.bo.promotion.model.master.PrCouponApplyStore">
    	SELECT 
    		PCAS.CPN_NO 
    		,PCAS.STORE_NO
    		,(SELECT STORE_NAME FROM CM_STORE WHERE STORE_NO = PCAS.STORE_NO) AS STORE_NAME
		FROM 
			PR_COUPON_APPLY_STORE PCAS WITH(NOLOCK)
		WHERE 
			PCAS.CPN_NO = #{cpnNo, jdbcType=VARCHAR}
    </select>
    
    <delete id="deleteByCpnNo" parameterType="String">
    /*+ kr.co.abcmart.bo.promotion.repository.master.PrCouponApplyStoreDao.deleteByCpnNo [쿠폰 매장 삭제 쿼리] [이지훈] */
    	DELETE FROM PR_COUPON_APPLY_STORE
    	WHERE CPN_NO = #{cpnNo, jdbcType=VARCHAR}
    </delete>

</mapper>