<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.abcmart.bo.promotion.repository.master.PrPromotionMultiBuyDiscountDao">

    <!--
    	※ 경고
		이 select SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    <select id="selectByPrimaryKey" parameterType="Object" resultType="kr.co.abcmart.bo.promotion.model.master.PrPromotionMultiBuyDiscount">
    
     /*+ kr.co.abcmart.bo.promotion.repository.master.PrPromotionMultiBuyDiscountDao.selectByPrimaryKey [기본 PK 조회 쿼리] [Generator] */  
    
		SELECT 
			<include refid="select-columns" />
		FROM 
			PR_PROMOTION_MULTI_BUY_DISCOUNT
		WHERE 
			<include refid="pk-columns" /> 
    </select>
    
    <select id="selectPromotionMultiBuyDiscountListByPromoNo" parameterType="String" resultType="kr.co.abcmart.bo.promotion.model.master.PrPromotionMultiBuyDiscount">
    
     /*+ kr.co.abcmart.bo.promotion.repository.master.PrPromotionMultiBuyDiscountDao.selectPrPromotionCategoryListByPromoNo [프로모션 다족구매 조회 쿼리] [이지훈] */
     	SELECT 
			<include refid="select-columns" />
		FROM 
			PR_PROMOTION_MULTI_BUY_DISCOUNT WITH(NOLOCK)
		WHERE 
    		PROMO_NO = #{promoNo, jdbcType=VARCHAR}
    </select>
    
    <delete id="deleteByPromoNo" parameterType="String">
    /*+ kr.co.abcmart.bo.promotion.repository.master.PrPromotionMultiBuyDiscountDao.deleteByPromoNo [프로모션 연계테이블 삭제 쿼리] [이지훈] */
    	DELETE FROM PR_PROMOTION_MULTI_BUY_DISCOUNT
		WHERE 
			PROMO_NO = #{promoNo, jdbcType=VARCHAR}
    </delete>

</mapper>