<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.abcmart.bo.order.repository.master.OcReturnTargetDao">

    <!--
    	※ 경고
		이 select SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    
    <sql id="select-columns">
    	rtn_trgt_seq, org_order_no, clm_no, member_no, rgster_no, rgst_dtm, send_yn, send_dtm
    </sql>
    
    <sql id="pk-columns">
    	rtn_trgt_seq = #{rtnTrgtSeq, jdbcType=BIGINT}
    </sql>
    
    <select id="select" parameterType="kr.co.abcmart.bo.order.model.master.OcReturnTarget" resultType="kr.co.abcmart.bo.order.model.master.OcReturnTarget">
    
     /*+ kr.co.abcmart.bo.order.repository.master.OcReturnTargetDao.select [기본 조회 쿼리] [Generator] */
    
		SELECT 
			 <include refid="select-columns" />
		FROM 
			OC_RETURN_TARGET
		<where> 
			<if test="rtnTrgtSeq != null"> 
				 rtn_trgt_seq = #{rtnTrgtSeq, jdbcType=BIGINT}
			</if> 
			<if test="orgOrderNo != null"> 
				 AND org_order_no = #{orgOrderNo, jdbcType=VARCHAR}
			</if> 
			<if test="clmNo != null"> 
				 AND clm_no = #{clmNo, jdbcType=VARCHAR}
			</if> 
			<if test="memberNo != null"> 
				 AND member_no = #{memberNo, jdbcType=VARCHAR}
			</if> 
			<if test="rgsterNo != null"> 
				 AND rgster_no = #{rgsterNo, jdbcType=VARCHAR}
			</if> 
			<if test="rgstDtm != null"> 
				 AND rgst_dtm = #{rgstDtm, jdbcType=TIMESTAMP}
			</if> 
			<if test="sendYn != null"> 
				 AND send_yn = #{sendYn, jdbcType=CHAR}
			</if> 
			<if test="sendDtm != null"> 
				 AND send_dtm = #{sendDtm, jdbcType=TIMESTAMP}
			</if> 
		</where>  
    </select>
    
    <!--
    	※ 경고
		이 insert SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    
	<insert id="insert" useGeneratedKeys="true" keyProperty="rtnTrgtSeq">

     /*+ kr.co.abcmart.bo.order.repository.master.OcReturnTargetDao.insert [기본 insert 쿼리] [Generator] */
    
		INSERT INTO OC_RETURN_TARGET
			 ( org_order_no, clm_no, member_no, rgster_no, rgst_dtm, send_yn, send_dtm ) 

		VALUES 
			 ( #{orgOrderNo, jdbcType=VARCHAR}, #{clmNo, jdbcType=VARCHAR}, #{memberNo, jdbcType=VARCHAR}, #{rgsterNo, jdbcType=VARCHAR}, <choose><when test="rgstDtm != null">#{rgstDtm, jdbcType=TIMESTAMP}</when><otherwise>getdate()</otherwise></choose>, #{sendYn, jdbcType=CHAR}, <choose><when test="sendDtm != null">#{sendDtm, jdbcType=TIMESTAMP}</when><otherwise>getdate()</otherwise></choose> )  
    </insert>
    
    <!--
    	※ 경고
		이 update SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    <update id="update" parameterType="kr.co.abcmart.bo.order.model.master.OcReturnTarget">
    
     /*+ kr.co.abcmart.bo.order.repository.master.OcReturnTargetDao.update [기본 update 쿼리] [Generator] */
    
		UPDATE OC_RETURN_TARGET
		<set> 
			<if test="rtnTrgtSeq != null"> 
				rtn_trgt_seq = #{rtnTrgtSeq, jdbcType=BIGINT}, 
			</if> 
			<if test="orgOrderNo != null"> 
				org_order_no = #{orgOrderNo, jdbcType=VARCHAR}, 
			</if> 
			<if test="clmNo != null"> 
				clm_no = #{clmNo, jdbcType=VARCHAR}, 
			</if> 
			<if test="memberNo != null"> 
				member_no = #{memberNo, jdbcType=VARCHAR}, 
			</if> 
			<if test="rgsterNo != null"> 
				rgster_no = #{rgsterNo, jdbcType=VARCHAR}, 
			</if> 
			<if test="rgstDtm != null"> 
				rgst_dtm = #{rgstDtm, jdbcType=TIMESTAMP}, 
			</if> 
			<if test="sendYn != null"> 
				send_yn = #{sendYn, jdbcType=CHAR}, 
			</if> 
			<if test="sendDtm != null"> 
				send_dtm = #{sendDtm, jdbcType=TIMESTAMP}, 
			</if> 
		</set> 
		WHERE 
			 rtn_trgt_seq = #{rtnTrgtSeq, jdbcType=BIGINT}   
    </update>
    
    <!--
    	※ 경고
		이 delete SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    <delete id="delete" parameterType="kr.co.abcmart.bo.order.model.master.OcReturnTarget">
    
     /*+ kr.co.abcmart.bo.order.repository.master.OcReturnTargetDao.delete [기본 delete 쿼리] [Generator] */
    
		DELETE FROM OC_RETURN_TARGET
		WHERE 
			 rtn_trgt_seq = #{rtnTrgtSeq, jdbcType=BIGINT}  
    </delete>
</mapper>