<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.abcmart.bo.order.repository.master.OcOrderCrtfcHistoryDao">

    <!--
    	※ 경고
		이 select SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    
    <sql id="select-columns">
    	order_no, crtfc_hist_seq, crtfc_path_code, crtfc_type_code, access_ip_text, session_id, crtfc_success_yn, rgster_no, rgst_dtm
    </sql>
    
    <sql id="pk-columns">
    	crtfc_hist_seq = #{crtfcHistSeq, jdbcType=INTEGER} AND order_no = #{orderNo, jdbcType=VARCHAR}
    </sql>
    
    <select id="select" parameterType="kr.co.abcmart.bo.order.model.master.OcOrderCrtfcHistory" resultType="kr.co.abcmart.bo.order.model.master.OcOrderCrtfcHistory">
    
     /*+ kr.co.abcmart.bo.order.repository.master.OcOrderCrtfcHistoryDao.select [기본 조회 쿼리] [Generator] */
    
		SELECT 
			 <include refid="select-columns" />
		FROM 
			OC_ORDER_CRTFC_HISTORY
		<where> 
			<if test="orderNo != null"> 
				 order_no = #{orderNo, jdbcType=VARCHAR}
			</if> 
			<if test="crtfcHistSeq != null"> 
				 AND crtfc_hist_seq = #{crtfcHistSeq, jdbcType=INTEGER}
			</if> 
			<if test="crtfcPathCode != null"> 
				 AND crtfc_path_code = #{crtfcPathCode, jdbcType=VARCHAR}
			</if> 
			<if test="crtfcTypeCode != null"> 
				 AND crtfc_type_code = #{crtfcTypeCode, jdbcType=VARCHAR}
			</if> 
			<if test="accessIpText != null"> 
				 AND access_ip_text = #{accessIpText, jdbcType=VARCHAR}
			</if> 
			<if test="sessionId != null"> 
				 AND session_id = #{sessionId, jdbcType=VARCHAR}
			</if> 
			<if test="crtfcSuccessYn != null"> 
				 AND crtfc_success_yn = #{crtfcSuccessYn, jdbcType=CHAR}
			</if> 
			<if test="rgsterNo != null"> 
				 AND rgster_no = #{rgsterNo, jdbcType=VARCHAR}
			</if> 
			<if test="rgstDtm != null"> 
				 AND rgst_dtm = #{rgstDtm, jdbcType=TIMESTAMP}
			</if> 
		</where>  
    </select>
    
    <!--
    	※ 경고
		이 insert SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    
    <insert id="insert" parameterType="kr.co.abcmart.bo.order.model.master.OcOrderCrtfcHistory">	

     /*+ kr.co.abcmart.bo.order.repository.master.OcOrderCrtfcHistoryDao.insert [기본 insert 쿼리] [Generator] */
    
		INSERT INTO OC_ORDER_CRTFC_HISTORY
			 ( order_no, crtfc_hist_seq, crtfc_path_code, crtfc_type_code, access_ip_text, session_id, crtfc_success_yn, rgster_no, rgst_dtm ) 

		VALUES 
			 ( #{orderNo, jdbcType=VARCHAR}, #{crtfcHistSeq, jdbcType=INTEGER}, #{crtfcPathCode, jdbcType=VARCHAR}, #{crtfcTypeCode, jdbcType=VARCHAR}, #{accessIpText, jdbcType=VARCHAR}, #{sessionId, jdbcType=VARCHAR}, #{crtfcSuccessYn, jdbcType=CHAR}, #{rgsterNo, jdbcType=VARCHAR}, <choose><when test="rgstDtm != null">#{rgstDtm, jdbcType=TIMESTAMP}</when><otherwise>getdate()</otherwise></choose> )  
    </insert>
    
    <!--
    	※ 경고
		이 update SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    <update id="update" parameterType="kr.co.abcmart.bo.order.model.master.OcOrderCrtfcHistory">
    
     /*+ kr.co.abcmart.bo.order.repository.master.OcOrderCrtfcHistoryDao.update [기본 update 쿼리] [Generator] */
    
		UPDATE OC_ORDER_CRTFC_HISTORY
		<set> 
			<if test="orderNo != null"> 
				order_no = #{orderNo, jdbcType=VARCHAR}, 
			</if> 
			<if test="crtfcHistSeq != null"> 
				crtfc_hist_seq = #{crtfcHistSeq, jdbcType=INTEGER}, 
			</if> 
			<if test="crtfcPathCode != null"> 
				crtfc_path_code = #{crtfcPathCode, jdbcType=VARCHAR}, 
			</if> 
			<if test="crtfcTypeCode != null"> 
				crtfc_type_code = #{crtfcTypeCode, jdbcType=VARCHAR}, 
			</if> 
			<if test="accessIpText != null"> 
				access_ip_text = #{accessIpText, jdbcType=VARCHAR}, 
			</if> 
			<if test="sessionId != null"> 
				session_id = #{sessionId, jdbcType=VARCHAR}, 
			</if> 
			<if test="crtfcSuccessYn != null"> 
				crtfc_success_yn = #{crtfcSuccessYn, jdbcType=CHAR}, 
			</if> 
			<if test="rgsterNo != null"> 
				rgster_no = #{rgsterNo, jdbcType=VARCHAR}, 
			</if> 
			<if test="rgstDtm != null"> 
				rgst_dtm = #{rgstDtm, jdbcType=TIMESTAMP}, 
			</if> 
		</set> 
		WHERE 
			 crtfc_hist_seq = #{crtfcHistSeq, jdbcType=INTEGER} AND order_no = #{orderNo, jdbcType=VARCHAR}   
    </update>
    
    <!--
    	※ 경고
		이 delete SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    <delete id="delete" parameterType="kr.co.abcmart.bo.order.model.master.OcOrderCrtfcHistory">
    
     /*+ kr.co.abcmart.bo.order.repository.master.OcOrderCrtfcHistoryDao.delete [기본 delete 쿼리] [Generator] */
    
		DELETE FROM OC_ORDER_CRTFC_HISTORY
		WHERE 
			 crtfc_hist_seq = #{crtfcHistSeq, jdbcType=INTEGER} AND order_no = #{orderNo, jdbcType=VARCHAR}  
    </delete>
</mapper>