<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.abcmart.bo.order.repository.master.OcOrderProductApplyPromotionDao">

    <!--
    	※ 경고
		이 select SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    
    <sql id="select-columns">
    	order_no, order_prdt_seq, apply_promo_seq, promo_no, promo_type_code, dscnt_type, dscnt_value, dscnt_amt, clm_no, chng_dscnt_value, chng_dscnt_amt
    </sql>
    
    <sql id="pk-columns">
    	apply_promo_seq = #{applyPromoSeq, jdbcType=TINYINT} AND order_no = #{orderNo, jdbcType=VARCHAR} AND order_prdt_seq = #{orderPrdtSeq, jdbcType=INTEGER}
    </sql>
    
    <select id="select" parameterType="kr.co.abcmart.bo.order.model.master.OcOrderProductApplyPromotion" resultType="kr.co.abcmart.bo.order.model.master.OcOrderProductApplyPromotion">
    
     /*+ kr.co.abcmart.bo.order.repository.master.OcOrderProductApplyPromotionDao.select [기본 조회 쿼리] [Generator] */
    
		SELECT 
			 <include refid="select-columns" />
		FROM 
			OC_ORDER_PRODUCT_APPLY_PROMOTION
		<where> 
			<if test="orderNo != null"> 
				 order_no = #{orderNo, jdbcType=VARCHAR}
			</if> 
			<if test="orderPrdtSeq != null"> 
				 AND order_prdt_seq = #{orderPrdtSeq, jdbcType=INTEGER}
			</if> 
			<if test="applyPromoSeq != null"> 
				 AND apply_promo_seq = #{applyPromoSeq, jdbcType=TINYINT}
			</if> 
			<if test="promoNo != null"> 
				 AND promo_no = #{promoNo, jdbcType=VARCHAR}
			</if> 
			<if test="promoTypeCode != null"> 
				 AND promo_type_code = #{promoTypeCode, jdbcType=VARCHAR}
			</if> 
			<if test="dscntType != null"> 
				 AND dscnt_type = #{dscntType, jdbcType=CHAR}
			</if> 
			<if test="dscntValue != null"> 
				 AND dscnt_value = #{dscntValue, jdbcType=INTEGER}
			</if> 
			<if test="dscntAmt != null"> 
				 AND dscnt_amt = #{dscntAmt, jdbcType=INTEGER}
			</if> 
			<if test="clmNo != null"> 
				 AND clm_no = #{clmNo, jdbcType=VARCHAR}
			</if> 
			<if test="chngDscntValue != null"> 
				 AND chng_dscnt_value = #{chngDscntValue, jdbcType=INTEGER}
			</if> 
			<if test="chngDscntAmt != null"> 
				 AND chng_dscnt_amt = #{chngDscntAmt, jdbcType=INTEGER}
			</if> 
		</where>  
    </select>
    
    <!--
    	※ 경고
		이 insert SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    
    <insert id="insert" parameterType="kr.co.abcmart.bo.order.model.master.OcOrderProductApplyPromotion">	

     /*+ kr.co.abcmart.bo.order.repository.master.OcOrderProductApplyPromotionDao.insert [기본 insert 쿼리] [Generator] */
    
		INSERT INTO OC_ORDER_PRODUCT_APPLY_PROMOTION
			 ( order_no, order_prdt_seq, apply_promo_seq, promo_no, promo_type_code, dscnt_type, dscnt_value, dscnt_amt, clm_no, chng_dscnt_value, chng_dscnt_amt ) 

		VALUES 
			 ( #{orderNo, jdbcType=VARCHAR}, #{orderPrdtSeq, jdbcType=INTEGER}, #{applyPromoSeq, jdbcType=TINYINT}, #{promoNo, jdbcType=VARCHAR}, #{promoTypeCode, jdbcType=VARCHAR}, #{dscntType, jdbcType=CHAR}, #{dscntValue, jdbcType=INTEGER}, #{dscntAmt, jdbcType=INTEGER}, #{clmNo, jdbcType=VARCHAR}, #{chngDscntValue, jdbcType=INTEGER}, #{chngDscntAmt, jdbcType=INTEGER} )  
    </insert>
    
    <!--
    	※ 경고
		이 update SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    <update id="update" parameterType="kr.co.abcmart.bo.order.model.master.OcOrderProductApplyPromotion">
    
     /*+ kr.co.abcmart.bo.order.repository.master.OcOrderProductApplyPromotionDao.update [기본 update 쿼리] [Generator] */
    
		UPDATE OC_ORDER_PRODUCT_APPLY_PROMOTION
		<set> 
			<if test="orderNo != null"> 
				order_no = #{orderNo, jdbcType=VARCHAR}, 
			</if> 
			<if test="orderPrdtSeq != null"> 
				order_prdt_seq = #{orderPrdtSeq, jdbcType=INTEGER}, 
			</if> 
			<if test="applyPromoSeq != null"> 
				apply_promo_seq = #{applyPromoSeq, jdbcType=TINYINT}, 
			</if> 
			<if test="promoNo != null"> 
				promo_no = #{promoNo, jdbcType=VARCHAR}, 
			</if> 
			<if test="promoTypeCode != null"> 
				promo_type_code = #{promoTypeCode, jdbcType=VARCHAR}, 
			</if> 
			<if test="dscntType != null"> 
				dscnt_type = #{dscntType, jdbcType=CHAR}, 
			</if> 
			<if test="dscntValue != null"> 
				dscnt_value = #{dscntValue, jdbcType=INTEGER}, 
			</if> 
			<if test="dscntAmt != null"> 
				dscnt_amt = #{dscntAmt, jdbcType=INTEGER}, 
			</if> 
			<if test="clmNo != null"> 
				clm_no = #{clmNo, jdbcType=VARCHAR}, 
			</if> 
			<if test="chngDscntValue != null"> 
				chng_dscnt_value = #{chngDscntValue, jdbcType=INTEGER}, 
			</if> 
			<if test="chngDscntAmt != null"> 
				chng_dscnt_amt = #{chngDscntAmt, jdbcType=INTEGER}, 
			</if> 
		</set> 
		WHERE 
			 apply_promo_seq = #{applyPromoSeq, jdbcType=TINYINT} AND order_no = #{orderNo, jdbcType=VARCHAR} AND order_prdt_seq = #{orderPrdtSeq, jdbcType=INTEGER}   
    </update>
    
    <!--
    	※ 경고
		이 delete SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    <delete id="delete" parameterType="kr.co.abcmart.bo.order.model.master.OcOrderProductApplyPromotion">
    
     /*+ kr.co.abcmart.bo.order.repository.master.OcOrderProductApplyPromotionDao.delete [기본 delete 쿼리] [Generator] */
    
		DELETE FROM OC_ORDER_PRODUCT_APPLY_PROMOTION
		WHERE 
			 apply_promo_seq = #{applyPromoSeq, jdbcType=TINYINT} AND order_no = #{orderNo, jdbcType=VARCHAR} AND order_prdt_seq = #{orderPrdtSeq, jdbcType=INTEGER}  
    </delete>
</mapper>