<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.abcmart.bo.order.repository.master.OcGiftCardInterlockHistoryDao">

    <!--
    	※ 경고
		이 select SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    
    <sql id="select-columns">
    	gift_card_order_no, gift_card_intrlk_hist_seq, gift_card_order_type_code, send_info, rspns_info, rgst_dtm
    </sql>
    
    <sql id="pk-columns">
    	gift_card_intrlk_hist_seq = #{giftCardIntrlkHistSeq, jdbcType=TINYINT} AND gift_card_order_no = #{giftCardOrderNo, jdbcType=VARCHAR}
    </sql>
    
    <select id="select" parameterType="kr.co.abcmart.bo.order.model.master.OcGiftCardInterlockHistory" resultType="kr.co.abcmart.bo.order.model.master.OcGiftCardInterlockHistory">
    
     /*+ kr.co.abcmart.bo.order.repository.master.OcGiftCardInterlockHistoryDao.select [기본 조회 쿼리] [Generator] */
    
		SELECT 
			 <include refid="select-columns" />
		FROM 
			oc_gift_card_interlock_history
		<where> 
			<if test="giftCardOrderNo != null"> 
				 gift_card_order_no = #{giftCardOrderNo, jdbcType=VARCHAR}
			</if> 
			<if test="giftCardIntrlkHistSeq != null"> 
				 AND gift_card_intrlk_hist_seq = #{giftCardIntrlkHistSeq, jdbcType=TINYINT}
			</if> 
			<if test="giftCardOrderTypeCode != null"> 
				 AND gift_card_order_type_code = #{giftCardOrderTypeCode, jdbcType=VARCHAR}
			</if> 
			<if test="sendInfo != null"> 
				 AND send_info = #{sendInfo, jdbcType=VARCHAR}
			</if> 
			<if test="rspnsInfo != null"> 
				 AND rspns_info = #{rspnsInfo, jdbcType=VARCHAR}
			</if> 
			<if test="rgstDtm != null"> 
				 AND rgst_dtm = #{rgstDtm, jdbcType=TIMESTAMP}
			</if> 
		</where>  
    </select>
    
    <!--
    	※ 경고
		이 insert SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    
    <insert id="insert" parameterType="kr.co.abcmart.bo.order.model.master.OcGiftCardInterlockHistory">	

     /*+ kr.co.abcmart.bo.order.repository.master.OcGiftCardInterlockHistoryDao.insert [기본 insert 쿼리] [Generator] */
    
		INSERT INTO oc_gift_card_interlock_history
			 ( gift_card_order_no, gift_card_intrlk_hist_seq, gift_card_order_type_code, send_info, rspns_info, rgst_dtm ) 

		VALUES 
			 ( #{giftCardOrderNo, jdbcType=VARCHAR}, #{giftCardIntrlkHistSeq, jdbcType=TINYINT}, #{giftCardOrderTypeCode, jdbcType=VARCHAR}, #{sendInfo, jdbcType=VARCHAR}, #{rspnsInfo, jdbcType=VARCHAR}, <choose><when test="rgstDtm != null">#{rgstDtm, jdbcType=TIMESTAMP}</when><otherwise>getdate()</otherwise></choose> )  
    </insert>
    
    <!--
    	※ 경고
		이 update SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    <update id="update" parameterType="kr.co.abcmart.bo.order.model.master.OcGiftCardInterlockHistory">
    
     /*+ kr.co.abcmart.bo.order.repository.master.OcGiftCardInterlockHistoryDao.update [기본 update 쿼리] [Generator] */
    
		UPDATE oc_gift_card_interlock_history
		<set> 
			<if test="giftCardOrderNo != null"> 
				gift_card_order_no = #{giftCardOrderNo, jdbcType=VARCHAR}, 
			</if> 
			<if test="giftCardIntrlkHistSeq != null"> 
				gift_card_intrlk_hist_seq = #{giftCardIntrlkHistSeq, jdbcType=TINYINT}, 
			</if> 
			<if test="giftCardOrderTypeCode != null"> 
				gift_card_order_type_code = #{giftCardOrderTypeCode, jdbcType=VARCHAR}, 
			</if> 
			<if test="sendInfo != null"> 
				send_info = #{sendInfo, jdbcType=VARCHAR}, 
			</if> 
			<if test="rspnsInfo != null"> 
				rspns_info = #{rspnsInfo, jdbcType=VARCHAR}, 
			</if> 
			<if test="rgstDtm != null"> 
				rgst_dtm = #{rgstDtm, jdbcType=TIMESTAMP}, 
			</if> 
		</set> 
		WHERE 
			 gift_card_intrlk_hist_seq = #{giftCardIntrlkHistSeq, jdbcType=TINYINT} AND gift_card_order_no = #{giftCardOrderNo, jdbcType=VARCHAR}   
    </update>
    
    <!--
    	※ 경고
		이 delete SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    <delete id="delete" parameterType="kr.co.abcmart.bo.order.model.master.OcGiftCardInterlockHistory">
    
     /*+ kr.co.abcmart.bo.order.repository.master.OcGiftCardInterlockHistoryDao.delete [기본 delete 쿼리] [Generator] */
    
		DELETE FROM oc_gift_card_interlock_history
		WHERE 
			 gift_card_intrlk_hist_seq = #{giftCardIntrlkHistSeq, jdbcType=TINYINT} AND gift_card_order_no = #{giftCardOrderNo, jdbcType=VARCHAR}  
    </delete>
</mapper>