<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.abcmart.bo.order.repository.master.OcOrderZeroBankbookFailureDetailsDao">

    <!--
    	※ 경고
		이 select SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    
    <sql id="select-columns">
    	order_no, order_pymnt_seq, pymnt_amt, pymnt_organ_name, pymnt_organ_code_text, pymnt_organ_no_text, acnt_hldr_name, proc_yn, opetr_no, proc_dtm, rgster_no, rgst_dtm, moder_no, mod_dtm
    </sql>
    
    <sql id="pk-columns">
    	order_no = #{orderNo, jdbcType=VARCHAR} AND order_pymnt_seq = #{orderPymntSeq, jdbcType=TINYINT}
    </sql>
    
    <select id="select" parameterType="kr.co.abcmart.bo.order.model.master.OcOrderZeroBankbookFailureDetails" resultType="kr.co.abcmart.bo.order.model.master.OcOrderZeroBankbookFailureDetails">
    
     /*+ kr.co.abcmart.bo.order.repository.master.OcOrderZeroBankbookFailureDetailsDao.select [기본 조회 쿼리] [Generator] */
    
		SELECT 
			 <include refid="select-columns" />
		FROM 
			OC_ORDER_ZERO_BANKBOOK_FAILURE_DETAILS
		<where> 
			<if test="orderNo != null"> 
				 order_no = #{orderNo, jdbcType=VARCHAR}
			</if> 
			<if test="orderPymntSeq != null"> 
				 AND order_pymnt_seq = #{orderPymntSeq, jdbcType=TINYINT}
			</if> 
			<if test="pymntAmt != null"> 
				 AND pymnt_amt = #{pymntAmt, jdbcType=INTEGER}
			</if> 
			<if test="pymntOrganName != null"> 
				 AND pymnt_organ_name = #{pymntOrganName, jdbcType=VARCHAR}
			</if> 
			<if test="pymntOrganCodeText != null"> 
				 AND pymnt_organ_code_text = #{pymntOrganCodeText, jdbcType=VARCHAR}
			</if> 
			<if test="pymntOrganNoText != null"> 
				 AND pymnt_organ_no_text = #{pymntOrganNoText, jdbcType=VARCHAR}
			</if> 
			<if test="acntHldrName != null"> 
				 AND acnt_hldr_name = #{acntHldrName, jdbcType=VARCHAR}
			</if> 
			<if test="procYn != null"> 
				 AND proc_yn = #{procYn, jdbcType=CHAR}
			</if> 
			<if test="opetrNo != null"> 
				 AND opetr_no = #{opetrNo, jdbcType=VARCHAR}
			</if> 
			<if test="procDtm != null"> 
				 AND proc_dtm = #{procDtm, jdbcType=TIMESTAMP}
			</if> 
			<if test="rgsterNo != null"> 
				 AND rgster_no = #{rgsterNo, jdbcType=VARCHAR}
			</if> 
			<if test="rgstDtm != null"> 
				 AND rgst_dtm = #{rgstDtm, jdbcType=TIMESTAMP}
			</if> 
			<if test="moderNo != null"> 
				 AND moder_no = #{moderNo, jdbcType=VARCHAR}
			</if> 
			<if test="modDtm != null"> 
				 AND mod_dtm = #{modDtm, jdbcType=TIMESTAMP}
			</if> 
		</where>  
    </select>
    
    <!--
    	※ 경고
		이 insert SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    
    <insert id="insert" parameterType="kr.co.abcmart.bo.order.model.master.OcOrderZeroBankbookFailureDetails">	

     /*+ kr.co.abcmart.bo.order.repository.master.OcOrderZeroBankbookFailureDetailsDao.insert [기본 insert 쿼리] [Generator] */
    
		INSERT INTO OC_ORDER_ZERO_BANKBOOK_FAILURE_DETAILS
			 ( order_no, order_pymnt_seq, pymnt_amt, pymnt_organ_name, pymnt_organ_code_text, pymnt_organ_no_text, acnt_hldr_name, proc_yn, opetr_no, proc_dtm, rgster_no, rgst_dtm, moder_no, mod_dtm ) 

		VALUES 
			 ( #{orderNo, jdbcType=VARCHAR}, #{orderPymntSeq, jdbcType=TINYINT}, #{pymntAmt, jdbcType=INTEGER}, #{pymntOrganName, jdbcType=VARCHAR}, #{pymntOrganCodeText, jdbcType=VARCHAR}, #{pymntOrganNoText, jdbcType=VARCHAR}, #{acntHldrName, jdbcType=VARCHAR}, #{procYn, jdbcType=CHAR}, #{opetrNo, jdbcType=VARCHAR}, <choose><when test="procDtm != null">#{procDtm, jdbcType=TIMESTAMP}</when><otherwise>getdate()</otherwise></choose>, #{rgsterNo, jdbcType=VARCHAR}, <choose><when test="rgstDtm != null">#{rgstDtm, jdbcType=TIMESTAMP}</when><otherwise>getdate()</otherwise></choose>, #{moderNo, jdbcType=VARCHAR}, <choose><when test="modDtm != null">#{modDtm, jdbcType=TIMESTAMP}</when><otherwise>getdate()</otherwise></choose> )  
    </insert>
    
    <!--
    	※ 경고
		이 update SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    <update id="update" parameterType="kr.co.abcmart.bo.order.model.master.OcOrderZeroBankbookFailureDetails">
    
     /*+ kr.co.abcmart.bo.order.repository.master.OcOrderZeroBankbookFailureDetailsDao.update [기본 update 쿼리] [Generator] */
    
		UPDATE OC_ORDER_ZERO_BANKBOOK_FAILURE_DETAILS
		<set> 
			<if test="orderNo != null"> 
				order_no = #{orderNo, jdbcType=VARCHAR}, 
			</if> 
			<if test="orderPymntSeq != null"> 
				order_pymnt_seq = #{orderPymntSeq, jdbcType=TINYINT}, 
			</if> 
			<if test="pymntAmt != null"> 
				pymnt_amt = #{pymntAmt, jdbcType=INTEGER}, 
			</if> 
			<if test="pymntOrganName != null"> 
				pymnt_organ_name = #{pymntOrganName, jdbcType=VARCHAR}, 
			</if> 
			<if test="pymntOrganCodeText != null"> 
				pymnt_organ_code_text = #{pymntOrganCodeText, jdbcType=VARCHAR}, 
			</if> 
			<if test="pymntOrganNoText != null"> 
				pymnt_organ_no_text = #{pymntOrganNoText, jdbcType=VARCHAR}, 
			</if> 
			<if test="acntHldrName != null"> 
				acnt_hldr_name = #{acntHldrName, jdbcType=VARCHAR}, 
			</if> 
			<if test="procYn != null"> 
				proc_yn = #{procYn, jdbcType=CHAR}, 
			</if> 
			<if test="opetrNo != null"> 
				opetr_no = #{opetrNo, jdbcType=VARCHAR}, 
			</if> 
			<if test="procDtm != null"> 
				proc_dtm = #{procDtm, jdbcType=TIMESTAMP}, 
			</if> 
			<if test="rgsterNo != null"> 
				rgster_no = #{rgsterNo, jdbcType=VARCHAR}, 
			</if> 
			<if test="rgstDtm != null"> 
				rgst_dtm = #{rgstDtm, jdbcType=TIMESTAMP}, 
			</if> 
			<if test="moderNo != null"> 
				moder_no = #{moderNo, jdbcType=VARCHAR}, 
			</if> 
			<if test="modDtm != null"> 
				mod_dtm = #{modDtm, jdbcType=TIMESTAMP}, 
			</if> 
		</set> 
		WHERE 
			 order_no = #{orderNo, jdbcType=VARCHAR} AND order_pymnt_seq = #{orderPymntSeq, jdbcType=TINYINT}   
    </update>
    
    <!--
    	※ 경고
		이 delete SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    <delete id="delete" parameterType="kr.co.abcmart.bo.order.model.master.OcOrderZeroBankbookFailureDetails">
    
     /*+ kr.co.abcmart.bo.order.repository.master.OcOrderZeroBankbookFailureDetailsDao.delete [기본 delete 쿼리] [Generator] */
    
		DELETE FROM OC_ORDER_ZERO_BANKBOOK_FAILURE_DETAILS
		WHERE 
			 order_no = #{orderNo, jdbcType=VARCHAR} AND order_pymnt_seq = #{orderPymntSeq, jdbcType=TINYINT}  
    </delete>
</mapper>