<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.abcmart.bo.settlement.repository.master.SeExactCalculationDeliveryAmountDao">

    <!--
    	※ 경고
		이 select SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    
    <sql id="select-columns">
    	excclc_seq, order_no, order_prdt_seq, sales_cncl_gbn_type, order_amt
    </sql>
    
    <sql id="pk-columns">
    	excclc_seq = #{excclcSeq, jdbcType=INTEGER} AND order_no = #{orderNo, jdbcType=VARCHAR} AND order_prdt_seq = #{orderPrdtSeq, jdbcType=TINYINT}
    </sql>
    
    <select id="select" parameterType="kr.co.abcmart.bo.settlement.model.master.SeExactCalculationDeliveryAmount" resultType="kr.co.abcmart.bo.settlement.model.master.SeExactCalculationDeliveryAmount">
    
     /*+ kr.co.abcmart.bo.settlement.repository.master.SeExactCalculationDeliveryAmountDao.select [기본 조회 쿼리] [Generator] */
    
		SELECT 
			 <include refid="select-columns" />
		FROM 
			SE_EXACT_CALCULATION_DELIVERY_AMOUNT
		<where> 
			<if test="excclcSeq != null"> 
				 excclc_seq = #{excclcSeq, jdbcType=INTEGER}
			</if> 
			<if test="orderNo != null"> 
				 AND order_no = #{orderNo, jdbcType=VARCHAR}
			</if> 
			<if test="orderPrdtSeq != null"> 
				 AND order_prdt_seq = #{orderPrdtSeq, jdbcType=TINYINT}
			</if> 
			<if test="salesCnclGbnType != null"> 
				 AND sales_cncl_gbn_type = #{salesCnclGbnType, jdbcType=CHAR}
			</if> 
			<if test="orderAmt != null"> 
				 AND order_amt = #{orderAmt, jdbcType=INTEGER}
			</if> 
		</where>  
    </select>
    
    <!--
    	※ 경고
		이 insert SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    
    <insert id="insert" parameterType="kr.co.abcmart.bo.settlement.model.master.SeExactCalculationDeliveryAmount">	

     /*+ kr.co.abcmart.bo.settlement.repository.master.SeExactCalculationDeliveryAmountDao.insert [기본 insert 쿼리] [Generator] */
    
		INSERT INTO SE_EXACT_CALCULATION_DELIVERY_AMOUNT
			 ( excclc_seq, order_no, order_prdt_seq, sales_cncl_gbn_type, order_amt ) 

		VALUES 
			 ( #{excclcSeq, jdbcType=INTEGER}, #{orderNo, jdbcType=VARCHAR}, #{orderPrdtSeq, jdbcType=TINYINT}, #{salesCnclGbnType, jdbcType=CHAR}, #{orderAmt, jdbcType=INTEGER} )  
    </insert>
    
    <!--
    	※ 경고
		이 update SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    <update id="update" parameterType="kr.co.abcmart.bo.settlement.model.master.SeExactCalculationDeliveryAmount">
    
     /*+ kr.co.abcmart.bo.settlement.repository.master.SeExactCalculationDeliveryAmountDao.update [기본 update 쿼리] [Generator] */
    
		UPDATE SE_EXACT_CALCULATION_DELIVERY_AMOUNT
		<set> 
			<if test="excclcSeq != null"> 
				excclc_seq = #{excclcSeq, jdbcType=INTEGER}, 
			</if> 
			<if test="orderNo != null"> 
				order_no = #{orderNo, jdbcType=VARCHAR}, 
			</if> 
			<if test="orderPrdtSeq != null"> 
				order_prdt_seq = #{orderPrdtSeq, jdbcType=INTEGER}, 
			</if> 
			<if test="salesCnclGbnType != null"> 
				sales_cncl_gbn_type = #{salesCnclGbnType, jdbcType=CHAR}, 
			</if> 
			<if test="orderAmt != null"> 
				order_amt = #{orderAmt, jdbcType=INTEGER}, 
			</if> 
		</set> 
		WHERE 
			 excclc_seq = #{excclcSeq, jdbcType=INTEGER} AND order_no = #{orderNo, jdbcType=VARCHAR} AND order_prdt_seq = #{orderPrdtSeq, jdbcType=INTEGER}   
    </update>
    
    <!--
    	※ 경고
		이 delete SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    <delete id="delete" parameterType="kr.co.abcmart.bo.settlement.model.master.SeExactCalculationDeliveryAmount">
    
     /*+ kr.co.abcmart.bo.settlement.repository.master.SeExactCalculationDeliveryAmountDao.delete [기본 delete 쿼리] [Generator] */
    
		DELETE FROM SE_EXACT_CALCULATION_DELIVERY_AMOUNT
		WHERE 
			 excclc_seq = #{excclcSeq, jdbcType=INTEGER} AND order_no = #{orderNo, jdbcType=VARCHAR} AND order_prdt_seq = #{orderPrdtSeq, jdbcType=INTEGER}  
    </delete>
</mapper>