<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.abcmart.bo.afterService.repository.master.OcAsAcceptMemoDao">

    <!--
    	※ 경고
		이 select SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    
    <sql id="select-columns">
    	as_accept_no, as_memo_seq, as_accept_prdt_seq, memo_text, del_yn, rgster_no, rgst_dtm
    </sql>
    
    <sql id="pk-columns">
    	as_accept_no = #{asAcceptNo, jdbcType=VARCHAR} AND as_memo_seq = #{asMemoSeq, jdbcType=INTEGER}
    </sql>
    
    <select id="select" parameterType="kr.co.abcmart.bo.afterService.model.master.OcAsAcceptMemo" resultType="kr.co.abcmart.bo.afterService.model.master.OcAsAcceptMemo">
    
     /*+ kr.co.abcmart.bo.afterService.repository.master.OcAsAcceptMemoDao.select [기본 조회 쿼리] [Generator] */
    
		SELECT 
			 <include refid="select-columns" />
		FROM 
			OC_AS_ACCEPT_MEMO
		<where> 
			<if test="asAcceptNo != null"> 
				 as_accept_no = #{asAcceptNo, jdbcType=VARCHAR}
			</if> 
			<if test="asMemoSeq != null"> 
				 AND as_memo_seq = #{asMemoSeq, jdbcType=INTEGER}
			</if> 
			<if test="asAcceptPrdtSeq != null"> 
				 AND as_accept_prdt_seq = #{asAcceptPrdtSeq, jdbcType=TINYINT}
			</if> 
			<if test="memoText != null"> 
				 AND memo_text = #{memoText, jdbcType=VARCHAR}
			</if> 
			<if test="delYn != null"> 
				 AND del_yn = #{delYn, jdbcType=CHAR}
			</if> 
			<if test="rgsterNo != null"> 
				 AND rgster_no = #{rgsterNo, jdbcType=VARCHAR}
			</if> 
			<if test="rgstDtm != null"> 
				 AND rgst_dtm = #{rgstDtm, jdbcType=TIMESTAMP}
			</if> 
		</where>  
    </select>
    
    <!--
    	※ 경고
		이 insert SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    
    <insert id="insert" parameterType="kr.co.abcmart.bo.afterService.model.master.OcAsAcceptMemo">	

     /*+ kr.co.abcmart.bo.afterService.repository.master.OcAsAcceptMemoDao.insert [기본 insert 쿼리] [Generator] */
    
		INSERT INTO OC_AS_ACCEPT_MEMO
			 ( as_accept_no, as_memo_seq, as_accept_prdt_seq, memo_text, del_yn, rgster_no, rgst_dtm ) 

		VALUES 
			 ( #{asAcceptNo, jdbcType=VARCHAR}, #{asMemoSeq, jdbcType=INTEGER}, #{asAcceptPrdtSeq, jdbcType=TINYINT}, #{memoText, jdbcType=VARCHAR}, #{delYn, jdbcType=CHAR}, #{rgsterNo, jdbcType=VARCHAR}, <choose><when test="rgstDtm != null">#{rgstDtm, jdbcType=TIMESTAMP}</when><otherwise>getdate()</otherwise></choose> )  
    </insert>
    
    <!--
    	※ 경고
		이 update SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    <update id="update" parameterType="kr.co.abcmart.bo.afterService.model.master.OcAsAcceptMemo">
    
     /*+ kr.co.abcmart.bo.afterService.repository.master.OcAsAcceptMemoDao.update [기본 update 쿼리] [Generator] */
    
		UPDATE OC_AS_ACCEPT_MEMO
		<set> 
			<if test="asAcceptNo != null"> 
				as_accept_no = #{asAcceptNo, jdbcType=VARCHAR}, 
			</if> 
			<if test="asMemoSeq != null"> 
				as_memo_seq = #{asMemoSeq, jdbcType=INTEGER}, 
			</if> 
			<if test="asAcceptPrdtSeq != null"> 
				as_accept_prdt_seq = #{asAcceptPrdtSeq, jdbcType=TINYINT}, 
			</if> 
			<if test="memoText != null"> 
				memo_text = #{memoText, jdbcType=VARCHAR}, 
			</if> 
			<if test="delYn != null"> 
				del_yn = #{delYn, jdbcType=CHAR}, 
			</if> 
			<if test="rgsterNo != null"> 
				rgster_no = #{rgsterNo, jdbcType=VARCHAR}, 
			</if> 
			<if test="rgstDtm != null"> 
				rgst_dtm = #{rgstDtm, jdbcType=TIMESTAMP}, 
			</if> 
		</set> 
		WHERE 
			 as_accept_no = #{asAcceptNo, jdbcType=VARCHAR} AND as_memo_seq = #{asMemoSeq, jdbcType=INTEGER}   
    </update>
    
    <!--
    	※ 경고
		이 delete SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    <delete id="delete" parameterType="kr.co.abcmart.bo.afterService.model.master.OcAsAcceptMemo">
    
     /*+ kr.co.abcmart.bo.afterService.repository.master.OcAsAcceptMemoDao.delete [기본 delete 쿼리] [Generator] */
    
		DELETE FROM OC_AS_ACCEPT_MEMO
		WHERE 
			 as_accept_no = #{asAcceptNo, jdbcType=VARCHAR} AND as_memo_seq = #{asMemoSeq, jdbcType=INTEGER}  
    </delete>
</mapper>