<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.abcmart.bo.cmm.repository.master.CmEmailTemplateDao">

    <!--
    	※ 경고
		이 select SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    
    <sql id="select-columns">
    	email_tmpl_seq, site_no, email_tmpl_yn, email_type_code, email_tmpl_name, email_title_text, email_cont_text, email_key_text, email_id, send_dtm, send_proc_gbn_type, email_cnfrm_count, rgster_no, rgst_dtm, moder_no, mod_dtm
    </sql>
    
    <sql id="pk-columns">
    	email_tmpl_seq = #{emailTmplSeq, jdbcType=INTEGER}
    </sql>
    
    <select id="select" parameterType="kr.co.abcmart.bo.cmm.model.master.CmEmailTemplate" resultType="kr.co.abcmart.bo.cmm.model.master.CmEmailTemplate">
    
     /*+ kr.co.abcmart.bo.cmm.repository.master.CmEmailTemplateDao.select [기본 조회 쿼리] [Generator] */
    
		SELECT 
			 <include refid="select-columns" />
		FROM 
			cm_email_template WITH (NOLOCK)

		<where> 
			<if test="emailTmplSeq != null"> 
				 email_tmpl_seq = #{emailTmplSeq, jdbcType=INTEGER}
			</if> 
			<if test="siteNo != null"> 
				 AND site_no = #{siteNo, jdbcType=VARCHAR}
			</if> 
			<if test="emailTmplYn != null"> 
				 AND email_tmpl_yn = #{emailTmplYn, jdbcType=CHAR}
			</if> 
			<if test="emailTypeCode != null"> 
				 AND email_type_code = #{emailTypeCode, jdbcType=VARCHAR}
			</if> 
			<if test="emailTmplName != null"> 
				 AND email_tmpl_name = #{emailTmplName, jdbcType=VARCHAR}
			</if> 
			<if test="emailTitleText != null"> 
				 AND email_title_text = #{emailTitleText, jdbcType=VARCHAR}
			</if> 
			<if test="emailContText != null"> 
				 AND email_cont_text = #{emailContText, jdbcType=VARCHAR}
			</if> 
			<if test="emailKeyText != null"> 
				 AND email_key_text = #{emailKeyText, jdbcType=VARCHAR}
			</if> 
			<if test="emailId != null"> 
				 AND email_id = #{emailId, jdbcType=VARCHAR}
			</if> 
			<if test="sendDtm != null"> 
				 AND send_dtm = #{sendDtm, jdbcType=TIMESTAMP}
			</if> 
			<if test="sendProcGbnType != null"> 
				 AND send_proc_gbn_type = #{sendProcGbnType, jdbcType=CHAR}
			</if> 
			<if test="emailCnfrmCount != null"> 
				 AND email_cnfrm_count = #{emailCnfrmCount, jdbcType=INTEGER}
			</if> 
			<if test="rgsterNo != null"> 
				 AND rgster_no = #{rgsterNo, jdbcType=VARCHAR}
			</if> 
			<if test="rgstDtm != null"> 
				 AND rgst_dtm = #{rgstDtm, jdbcType=TIMESTAMP}
			</if> 
			<if test="moderNo != null"> 
				 AND moder_no = #{moderNo, jdbcType=VARCHAR}
			</if> 
			<if test="modDtm != null"> 
				 AND mod_dtm = #{modDtm, jdbcType=TIMESTAMP}
			</if> 
		</where>  
    </select>
    
    <!--
    	※ 경고
		이 insert SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    
	<insert id="insert" useGeneratedKeys="true" keyProperty="emailTmplSeq">

     /*+ kr.co.abcmart.bo.cmm.repository.master.CmEmailTemplateDao.insert [기본 insert 쿼리] [Generator] */
    
		INSERT INTO cm_email_template
			 ( site_no, email_tmpl_yn, email_type_code, email_tmpl_name, email_title_text, email_cont_text, email_key_text, email_id, send_dtm, send_proc_gbn_type, email_cnfrm_count, rgster_no, rgst_dtm, moder_no, mod_dtm ) 

		VALUES 
			 ( #{siteNo, jdbcType=VARCHAR}, #{emailTmplYn, jdbcType=CHAR}, #{emailTypeCode, jdbcType=VARCHAR}, #{emailTmplName, jdbcType=VARCHAR}, #{emailTitleText, jdbcType=VARCHAR}, #{emailContText, jdbcType=VARCHAR}, #{emailKeyText, jdbcType=VARCHAR}, #{emailId, jdbcType=VARCHAR}, <choose><when test="sendDtm != null">#{sendDtm, jdbcType=TIMESTAMP}</when><otherwise>getdate()</otherwise></choose>, #{sendProcGbnType, jdbcType=CHAR}, #{emailCnfrmCount, jdbcType=INTEGER}, #{rgsterNo, jdbcType=VARCHAR}, <choose><when test="rgstDtm != null">#{rgstDtm, jdbcType=TIMESTAMP}</when><otherwise>getdate()</otherwise></choose>, #{moderNo, jdbcType=VARCHAR}, <choose><when test="modDtm != null">#{modDtm, jdbcType=TIMESTAMP}</when><otherwise>getdate()</otherwise></choose> )  
    </insert>
    
    <!--
    	※ 경고
		이 update SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    <update id="update" parameterType="kr.co.abcmart.bo.cmm.model.master.CmEmailTemplate">
    
     /*+ kr.co.abcmart.bo.cmm.repository.master.CmEmailTemplateDao.update [기본 update 쿼리] [Generator] */
    
		UPDATE cm_email_template
		<set> 
			<if test="emailTmplSeq != null"> 
				email_tmpl_seq = #{emailTmplSeq, jdbcType=INTEGER}, 
			</if> 
			<if test="siteNo != null"> 
				site_no = #{siteNo, jdbcType=VARCHAR}, 
			</if> 
			<if test="emailTmplYn != null"> 
				email_tmpl_yn = #{emailTmplYn, jdbcType=CHAR}, 
			</if> 
			<if test="emailTypeCode != null"> 
				email_type_code = #{emailTypeCode, jdbcType=VARCHAR}, 
			</if> 
			<if test="emailTmplName != null"> 
				email_tmpl_name = #{emailTmplName, jdbcType=VARCHAR}, 
			</if> 
			<if test="emailTitleText != null"> 
				email_title_text = #{emailTitleText, jdbcType=VARCHAR}, 
			</if> 
			<if test="emailContText != null"> 
				email_cont_text = #{emailContText, jdbcType=VARCHAR}, 
			</if> 
			<if test="emailKeyText != null"> 
				email_key_text = #{emailKeyText, jdbcType=VARCHAR}, 
			</if> 
			<if test="emailId != null"> 
				email_id = #{emailId, jdbcType=VARCHAR}, 
			</if> 
			<if test="sendDtm != null"> 
				send_dtm = #{sendDtm, jdbcType=TIMESTAMP}, 
			</if> 
			<if test="sendProcGbnType != null"> 
				send_proc_gbn_type = #{sendProcGbnType, jdbcType=CHAR}, 
			</if> 
			<if test="emailCnfrmCount != null"> 
				email_cnfrm_count = #{emailCnfrmCount, jdbcType=INTEGER}, 
			</if> 
			<if test="rgsterNo != null"> 
				rgster_no = #{rgsterNo, jdbcType=VARCHAR}, 
			</if> 
			<if test="rgstDtm != null"> 
				rgst_dtm = #{rgstDtm, jdbcType=TIMESTAMP}, 
			</if> 
			<if test="moderNo != null"> 
				moder_no = #{moderNo, jdbcType=VARCHAR}, 
			</if> 
			<if test="modDtm != null"> 
				mod_dtm = #{modDtm, jdbcType=TIMESTAMP}, 
			</if> 
		</set> 
		WHERE 
			 email_tmpl_seq = #{emailTmplSeq, jdbcType=INTEGER}   
    </update>
    
    <!--
    	※ 경고
		이 delete SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    <delete id="delete" parameterType="kr.co.abcmart.bo.cmm.model.master.CmEmailTemplate">
    
     /*+ kr.co.abcmart.bo.cmm.repository.master.CmEmailTemplateDao.delete [기본 delete 쿼리] [Generator] */
    
		DELETE FROM cm_email_template
		WHERE 
			 email_tmpl_seq = #{emailTmplSeq, jdbcType=INTEGER}  
    </delete>
</mapper>