<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.abcmart.bo.cmm.repository.master.CmOnlineMemberPolicyCouponDao">

    <!--
    	※ 경고
		이 select SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    
    <sql id="select-columns">
    	plcy_seq, plcy_dtl_seq, cpn_no, pay_qty, rgster_no, rgst_dtm
    </sql>
    
    <sql id="pk-columns">
    	cpn_no = #{cpnNo, jdbcType=VARCHAR} AND plcy_dtl_seq = #{plcyDtlSeq, jdbcType=INTEGER} AND plcy_seq = #{plcySeq, jdbcType=INTEGER}
    </sql>
    
    <select id="select" parameterType="kr.co.abcmart.bo.cmm.model.master.CmOnlineMemberPolicyCoupon" resultType="kr.co.abcmart.bo.cmm.model.master.CmOnlineMemberPolicyCoupon">
    
     /*+ kr.co.abcmart.bo.cmm.repository.master.CmOnlineMemberPolicyCouponDao.select [기본 조회 쿼리] [Generator] */
    
		SELECT 
			 <include refid="select-columns" />
		FROM 
			cm_online_member_policy_coupon WITH (NOLOCK)

		<where> 
			<if test="plcySeq != null"> 
				 plcy_seq = #{plcySeq, jdbcType=INTEGER}
			</if> 
			<if test="plcyDtlSeq != null"> 
				 AND plcy_dtl_seq = #{plcyDtlSeq, jdbcType=INTEGER}
			</if> 
			<if test="cpnNo != null"> 
				 AND cpn_no = #{cpnNo, jdbcType=VARCHAR}
			</if> 
			<if test="payQty != null"> 
				 AND pay_qty = #{payQty, jdbcType=INTEGER}
			</if> 
			<if test="rgsterNo != null"> 
				 AND rgster_no = #{rgsterNo, jdbcType=VARCHAR}
			</if> 
			<if test="rgstDtm != null"> 
				 AND rgst_dtm = #{rgstDtm, jdbcType=TIMESTAMP}
			</if> 
		</where>  
    </select>
    
    <!--
    	※ 경고
		이 insert SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    
    <insert id="insert" parameterType="kr.co.abcmart.bo.cmm.model.master.CmOnlineMemberPolicyCoupon">	

     /*+ kr.co.abcmart.bo.cmm.repository.master.CmOnlineMemberPolicyCouponDao.insert [기본 insert 쿼리] [Generator] */
    
		INSERT INTO cm_online_member_policy_coupon
			 ( plcy_seq, plcy_dtl_seq, cpn_no, pay_qty, rgster_no, rgst_dtm ) 

		VALUES 
			 ( #{plcySeq, jdbcType=INTEGER}, #{plcyDtlSeq, jdbcType=INTEGER}, #{cpnNo, jdbcType=VARCHAR}, #{payQty, jdbcType=INTEGER}, #{rgsterNo, jdbcType=VARCHAR}, <choose><when test="rgstDtm != null">#{rgstDtm, jdbcType=TIMESTAMP}</when><otherwise>getdate()</otherwise></choose> )  
    </insert>
    
    <!--
    	※ 경고
		이 update SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    <update id="update" parameterType="kr.co.abcmart.bo.cmm.model.master.CmOnlineMemberPolicyCoupon">
    
     /*+ kr.co.abcmart.bo.cmm.repository.master.CmOnlineMemberPolicyCouponDao.update [기본 update 쿼리] [Generator] */
    
		UPDATE cm_online_member_policy_coupon
		<set> 
			<if test="plcySeq != null"> 
				plcy_seq = #{plcySeq, jdbcType=INTEGER}, 
			</if> 
			<if test="plcyDtlSeq != null"> 
				plcy_dtl_seq = #{plcyDtlSeq, jdbcType=INTEGER}, 
			</if> 
			<if test="cpnNo != null"> 
				cpn_no = #{cpnNo, jdbcType=VARCHAR}, 
			</if> 
			<if test="payQty != null"> 
				pay_qty = #{payQty, jdbcType=INTEGER}, 
			</if> 
			<if test="rgsterNo != null"> 
				rgster_no = #{rgsterNo, jdbcType=VARCHAR}, 
			</if> 
			<if test="rgstDtm != null"> 
				rgst_dtm = #{rgstDtm, jdbcType=TIMESTAMP}, 
			</if> 
		</set> 
		WHERE 
			 cpn_no = #{cpnNo, jdbcType=VARCHAR} AND plcy_dtl_seq = #{plcyDtlSeq, jdbcType=INTEGER} AND plcy_seq = #{plcySeq, jdbcType=INTEGER}   
    </update>
    
    <!--
    	※ 경고
		이 delete SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    <delete id="delete" parameterType="kr.co.abcmart.bo.cmm.model.master.CmOnlineMemberPolicyCoupon">
    
     /*+ kr.co.abcmart.bo.cmm.repository.master.CmOnlineMemberPolicyCouponDao.delete [기본 delete 쿼리] [Generator] */
    
		DELETE FROM cm_online_member_policy_coupon
		WHERE 
			 cpn_no = #{cpnNo, jdbcType=VARCHAR} AND plcy_dtl_seq = #{plcyDtlSeq, jdbcType=INTEGER} AND plcy_seq = #{plcySeq, jdbcType=INTEGER}  
    </delete>
</mapper>