<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.abcmart.bo.product.repository.master.SyStandardCategoryDao">

    <!--
    	※ 경고
		이 select SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    
    <sql id="select-columns">
    	std_ctgr_no, up_std_ctgr_no, std_ctgr_name, item_code, leaf_ctgr_yn, sabangnet_ctgr1_text, sabangnet_ctgr2_text, sabangnet_ctgr3_text, sabangnet_ctgr4_text, sabangnet_prdt_attr_text, insd_mgmt_info_text, sort_seq, use_yn, rgster_no, rgst_dtm, moder_no, mod_dtm
    </sql>
    
    <sql id="pk-columns">
    	std_ctgr_no = #{stdCtgrNo, jdbcType=VARCHAR}
    </sql>
    
    <select id="select" parameterType="kr.co.abcmart.bo.product.model.master.SyStandardCategory" resultType="kr.co.abcmart.bo.product.model.master.SyStandardCategory">
    
     /*+ kr.co.abcmart.bo.product.repository.master.SyStandardCategoryDao.select [기본 조회 쿼리] [Generator] */
    
		SELECT 
			 <include refid="select-columns" />
		FROM 
			SY_STANDARD_CATEGORY
		<where> 
			<if test="stdCtgrNo != null"> 
				 std_ctgr_no = #{stdCtgrNo, jdbcType=VARCHAR}
			</if> 
			<if test="upStdCtgrNo != null"> 
				 AND up_std_ctgr_no = #{upStdCtgrNo, jdbcType=VARCHAR}
			</if> 
			<if test="stdCtgrName != null"> 
				 AND std_ctgr_name = #{stdCtgrName, jdbcType=VARCHAR}
			</if> 
			<if test="itemCode != null"> 
				 AND item_code = #{itemCode, jdbcType=VARCHAR}
			</if> 
			<if test="leafCtgrYn != null"> 
				 AND leaf_ctgr_yn = #{leafCtgrYn, jdbcType=CHAR}
			</if> 
			<if test="sabangnetCtgr1Text != null"> 
				 AND sabangnet_ctgr1_text = #{sabangnetCtgr1Text, jdbcType=VARCHAR}
			</if> 
			<if test="sabangnetCtgr2Text != null"> 
				 AND sabangnet_ctgr2_text = #{sabangnetCtgr2Text, jdbcType=VARCHAR}
			</if> 
			<if test="sabangnetCtgr3Text != null"> 
				 AND sabangnet_ctgr3_text = #{sabangnetCtgr3Text, jdbcType=VARCHAR}
			</if> 
			<if test="sabangnetCtgr4Text != null"> 
				 AND sabangnet_ctgr4_text = #{sabangnetCtgr4Text, jdbcType=VARCHAR}
			</if> 
			<if test="sabangnetPrdtAttrText != null"> 
				 AND sabangnet_prdt_attr_text = #{sabangnetPrdtAttrText, jdbcType=VARCHAR}
			</if> 
			<if test="insdMgmtInfoText != null"> 
				 AND insd_mgmt_info_text = #{insdMgmtInfoText, jdbcType=VARCHAR}
			</if> 
			<if test="sortSeq != null"> 
				 AND sort_seq = #{sortSeq, jdbcType=INTEGER}
			</if> 
			<if test="useYn != null"> 
				 AND use_yn = #{useYn, jdbcType=CHAR}
			</if> 
			<if test="rgsterNo != null"> 
				 AND rgster_no = #{rgsterNo, jdbcType=VARCHAR}
			</if> 
			<if test="rgstDtm != null"> 
				 AND rgst_dtm = #{rgstDtm, jdbcType=TIMESTAMP}
			</if> 
			<if test="moderNo != null"> 
				 AND moder_no = #{moderNo, jdbcType=VARCHAR}
			</if> 
			<if test="modDtm != null"> 
				 AND mod_dtm = #{modDtm, jdbcType=TIMESTAMP}
			</if> 
		</where>  
    </select>
    
    <!--
    	※ 경고
		이 insert SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    
    <insert id="insert" parameterType="kr.co.abcmart.bo.product.model.master.SyStandardCategory">	

     /*+ kr.co.abcmart.bo.product.repository.master.SyStandardCategoryDao.insert [기본 insert 쿼리] [Generator] */
    
		INSERT INTO SY_STANDARD_CATEGORY
			 ( std_ctgr_no, up_std_ctgr_no, std_ctgr_name, item_code, leaf_ctgr_yn, sabangnet_ctgr1_text, sabangnet_ctgr2_text, sabangnet_ctgr3_text, sabangnet_ctgr4_text, sabangnet_prdt_attr_text, insd_mgmt_info_text, sort_seq, use_yn, rgster_no, rgst_dtm, moder_no, mod_dtm ) 

		VALUES 
			 ( #{stdCtgrNo, jdbcType=VARCHAR}, #{upStdCtgrNo, jdbcType=VARCHAR}, #{stdCtgrName, jdbcType=VARCHAR}, #{itemCode, jdbcType=VARCHAR}, #{leafCtgrYn, jdbcType=CHAR}, #{sabangnetCtgr1Text, jdbcType=VARCHAR}, #{sabangnetCtgr2Text, jdbcType=VARCHAR}, #{sabangnetCtgr3Text, jdbcType=VARCHAR}, #{sabangnetCtgr4Text, jdbcType=VARCHAR}, #{sabangnetPrdtAttrText, jdbcType=VARCHAR}, #{insdMgmtInfoText, jdbcType=VARCHAR}, #{sortSeq, jdbcType=INTEGER}, #{useYn, jdbcType=CHAR}, #{rgsterNo, jdbcType=VARCHAR}, <choose><when test="rgstDtm != null">#{rgstDtm, jdbcType=TIMESTAMP}</when><otherwise>getdate()</otherwise></choose>, #{moderNo, jdbcType=VARCHAR}, <choose><when test="modDtm != null">#{modDtm, jdbcType=TIMESTAMP}</when><otherwise>getdate()</otherwise></choose> )  
    </insert>
    
    <!--
    	※ 경고
		이 update SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    <update id="update" parameterType="kr.co.abcmart.bo.product.model.master.SyStandardCategory">
    
     /*+ kr.co.abcmart.bo.product.repository.master.SyStandardCategoryDao.update [기본 update 쿼리] [Generator] */
    
		UPDATE SY_STANDARD_CATEGORY
		<set> 
			<if test="stdCtgrNo != null"> 
				std_ctgr_no = #{stdCtgrNo, jdbcType=VARCHAR}, 
			</if> 
			<if test="upStdCtgrNo != null"> 
				up_std_ctgr_no = #{upStdCtgrNo, jdbcType=VARCHAR}, 
			</if> 
			<if test="stdCtgrName != null"> 
				std_ctgr_name = #{stdCtgrName, jdbcType=VARCHAR}, 
			</if> 
			<if test="itemCode != null"> 
				item_code = #{itemCode, jdbcType=VARCHAR}, 
			</if> 
			<if test="leafCtgrYn != null"> 
				leaf_ctgr_yn = #{leafCtgrYn, jdbcType=CHAR}, 
			</if> 
			<if test="sabangnetCtgr1Text != null"> 
				sabangnet_ctgr1_text = #{sabangnetCtgr1Text, jdbcType=VARCHAR}, 
			</if> 
			<if test="sabangnetCtgr2Text != null"> 
				sabangnet_ctgr2_text = #{sabangnetCtgr2Text, jdbcType=VARCHAR}, 
			</if> 
			<if test="sabangnetCtgr3Text != null"> 
				sabangnet_ctgr3_text = #{sabangnetCtgr3Text, jdbcType=VARCHAR}, 
			</if> 
			<if test="sabangnetCtgr4Text != null"> 
				sabangnet_ctgr4_text = #{sabangnetCtgr4Text, jdbcType=VARCHAR}, 
			</if> 
			<if test="sabangnetPrdtAttrText != null"> 
				sabangnet_prdt_attr_text = #{sabangnetPrdtAttrText, jdbcType=VARCHAR}, 
			</if> 
			<if test="insdMgmtInfoText != null"> 
				insd_mgmt_info_text = #{insdMgmtInfoText, jdbcType=VARCHAR}, 
			</if> 
			<if test="sortSeq != null"> 
				sort_seq = #{sortSeq, jdbcType=INTEGER}, 
			</if> 
			<if test="useYn != null"> 
				use_yn = #{useYn, jdbcType=CHAR}, 
			</if> 
			<if test="rgsterNo != null"> 
				rgster_no = #{rgsterNo, jdbcType=VARCHAR}, 
			</if> 
			<if test="rgstDtm != null"> 
				rgst_dtm = #{rgstDtm, jdbcType=TIMESTAMP}, 
			</if> 
			<if test="moderNo != null"> 
				moder_no = #{moderNo, jdbcType=VARCHAR}, 
			</if> 
			<if test="modDtm != null"> 
				mod_dtm = #{modDtm, jdbcType=TIMESTAMP}, 
			</if> 
		</set> 
		WHERE 
			 std_ctgr_no = #{stdCtgrNo, jdbcType=VARCHAR}   
    </update>
    
    <!--
    	※ 경고
		이 delete SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    <delete id="delete" parameterType="kr.co.abcmart.bo.product.model.master.SyStandardCategory">
    
     /*+ kr.co.abcmart.bo.product.repository.master.SyStandardCategoryDao.delete [기본 delete 쿼리] [Generator] */
    
		DELETE FROM SY_STANDARD_CATEGORY
		WHERE 
			 std_ctgr_no = #{stdCtgrNo, jdbcType=VARCHAR}  
    </delete>
</mapper>