<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.abcmart.bo.product.repository.master.PdGiftCardDao">

    <!--
    	※ 경고
		이 select SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    
    <sql id="select-columns">
    	gift_card_no, gift_card_name, gift_card_type_code, gift_card_gbn_type, valid_term_type, image_name, image_path_text, image_url, altrn_text, sell_amt, mgmt_no_text, use_yn, rgster_no, rgst_dtm, moder_no, mod_dtm
    </sql>
    
    <sql id="pk-columns">
    	gift_card_no = #{giftCardNo, jdbcType=VARCHAR}
    </sql>
    
    <select id="select" parameterType="kr.co.abcmart.bo.product.model.master.PdGiftCard" resultType="kr.co.abcmart.bo.product.model.master.PdGiftCard">
    
     /*+ kr.co.abcmart.bo.product.repository.master.PdGiftCardDao.select [기본 조회 쿼리] [Generator] */
    
		SELECT 
			 <include refid="select-columns" />
		FROM 
			pd_gift_card
		<where> 
			<if test="giftCardNo != null"> 
				 gift_card_no = #{giftCardNo, jdbcType=VARCHAR}
			</if> 
			<if test="giftCardName != null"> 
				 AND gift_card_name = #{giftCardName, jdbcType=VARCHAR}
			</if> 
			<if test="giftCardTypeCode != null"> 
				 AND gift_card_type_code = #{giftCardTypeCode, jdbcType=VARCHAR}
			</if> 
			<if test="giftCardGbnType != null"> 
				 AND gift_card_gbn_type = #{giftCardGbnType, jdbcType=CHAR}
			</if> 
			<if test="validTermType != null"> 
				 AND valid_term_type = #{validTermType, jdbcType=CHAR}
			</if> 
			<if test="imageName != null"> 
				 AND image_name = #{imageName, jdbcType=VARCHAR}
			</if> 
			<if test="imagePathText != null"> 
				 AND image_path_text = #{imagePathText, jdbcType=VARCHAR}
			</if> 
			<if test="imageUrl != null"> 
				 AND image_url = #{imageUrl, jdbcType=VARCHAR}
			</if> 
			<if test="altrnText != null"> 
				 AND altrn_text = #{altrnText, jdbcType=VARCHAR}
			</if> 
			<if test="sellAmt != null"> 
				 AND sell_amt = #{sellAmt, jdbcType=INTEGER}
			</if> 
			<if test="mgmtNoText != null"> 
				 AND mgmt_no_text = #{mgmtNoText, jdbcType=VARCHAR}
			</if> 
			<if test="useYn != null"> 
				 AND use_yn = #{useYn, jdbcType=CHAR}
			</if> 
			<if test="rgsterNo != null"> 
				 AND rgster_no = #{rgsterNo, jdbcType=VARCHAR}
			</if> 
			<if test="rgstDtm != null"> 
				 AND rgst_dtm = #{rgstDtm, jdbcType=TIMESTAMP}
			</if> 
			<if test="moderNo != null"> 
				 AND moder_no = #{moderNo, jdbcType=VARCHAR}
			</if> 
			<if test="modDtm != null"> 
				 AND mod_dtm = #{modDtm, jdbcType=TIMESTAMP}
			</if> 
		</where>  
    </select>
    
    <!--
    	※ 경고
		이 insert SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    
    <insert id="insert" parameterType="kr.co.abcmart.bo.product.model.master.PdGiftCard">	

     /*+ kr.co.abcmart.bo.product.repository.master.PdGiftCardDao.insert [기본 insert 쿼리] [Generator] */
    
		INSERT INTO pd_gift_card
			 ( gift_card_no, gift_card_name, gift_card_type_code, gift_card_gbn_type, valid_term_type, image_name, image_path_text, image_url, altrn_text, sell_amt, mgmt_no_text, use_yn, rgster_no, rgst_dtm, moder_no, mod_dtm ) 

		VALUES 
			 ( #{giftCardNo, jdbcType=VARCHAR}, #{giftCardName, jdbcType=VARCHAR}, #{giftCardTypeCode, jdbcType=VARCHAR}, #{giftCardGbnType, jdbcType=CHAR}, #{validTermType, jdbcType=CHAR}, #{imageName, jdbcType=VARCHAR}, #{imagePathText, jdbcType=VARCHAR}, #{imageUrl, jdbcType=VARCHAR}, #{altrnText, jdbcType=VARCHAR}, #{sellAmt, jdbcType=INTEGER}, #{mgmtNoText, jdbcType=VARCHAR}, #{useYn, jdbcType=CHAR}, #{rgsterNo, jdbcType=VARCHAR}, <choose><when test="rgstDtm != null">#{rgstDtm, jdbcType=TIMESTAMP}</when><otherwise>getdate()</otherwise></choose>, #{moderNo, jdbcType=VARCHAR}, <choose><when test="modDtm != null">#{modDtm, jdbcType=TIMESTAMP}</when><otherwise>getdate()</otherwise></choose> )  
    </insert>
    
    <!--
    	※ 경고
		이 update SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    <update id="update" parameterType="kr.co.abcmart.bo.product.model.master.PdGiftCard">
    
     /*+ kr.co.abcmart.bo.product.repository.master.PdGiftCardDao.update [기본 update 쿼리] [Generator] */
    
		UPDATE pd_gift_card
		<set> 
			<if test="giftCardNo != null"> 
				gift_card_no = #{giftCardNo, jdbcType=VARCHAR}, 
			</if> 
			<if test="giftCardName != null"> 
				gift_card_name = #{giftCardName, jdbcType=VARCHAR}, 
			</if> 
			<if test="giftCardTypeCode != null"> 
				gift_card_type_code = #{giftCardTypeCode, jdbcType=VARCHAR}, 
			</if> 
			<if test="giftCardGbnType != null"> 
				gift_card_gbn_type = #{giftCardGbnType, jdbcType=CHAR}, 
			</if> 
			<if test="validTermType != null"> 
				valid_term_type = #{validTermType, jdbcType=CHAR}, 
			</if> 
			<if test="imageName != null"> 
				image_name = #{imageName, jdbcType=VARCHAR}, 
			</if> 
			<if test="imagePathText != null"> 
				image_path_text = #{imagePathText, jdbcType=VARCHAR}, 
			</if> 
			<if test="imageUrl != null"> 
				image_url = #{imageUrl, jdbcType=VARCHAR}, 
			</if> 
			<if test="altrnText != null"> 
				altrn_text = #{altrnText, jdbcType=VARCHAR}, 
			</if> 
			<if test="sellAmt != null"> 
				sell_amt = #{sellAmt, jdbcType=INTEGER}, 
			</if> 
			<if test="mgmtNoText != null"> 
				mgmt_no_text = #{mgmtNoText, jdbcType=VARCHAR}, 
			</if> 
			<if test="useYn != null"> 
				use_yn = #{useYn, jdbcType=CHAR}, 
			</if> 
			<if test="rgsterNo != null"> 
				rgster_no = #{rgsterNo, jdbcType=VARCHAR}, 
			</if> 
			<if test="rgstDtm != null"> 
				rgst_dtm = #{rgstDtm, jdbcType=TIMESTAMP}, 
			</if> 
			<if test="moderNo != null"> 
				moder_no = #{moderNo, jdbcType=VARCHAR}, 
			</if> 
			<if test="modDtm != null"> 
				mod_dtm = #{modDtm, jdbcType=TIMESTAMP}, 
			</if> 
		</set> 
		WHERE 
			 gift_card_no = #{giftCardNo, jdbcType=VARCHAR}   
    </update>
    
    <!--
    	※ 경고
		이 delete SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    <delete id="delete" parameterType="kr.co.abcmart.bo.product.model.master.PdGiftCard">
    
     /*+ kr.co.abcmart.bo.product.repository.master.PdGiftCardDao.delete [기본 delete 쿼리] [Generator] */
    
		DELETE FROM pd_gift_card
		WHERE 
			 gift_card_no = #{giftCardNo, jdbcType=VARCHAR}  
    </delete>
</mapper>