<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.abcmart.bo.product.repository.master.PdProductColorDao">

    <!--
    	※ 경고
		이 select SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    
    <sql id="select-columns">
    	prdt_no, prdt_color_code, use_yn, rgster_no, rgst_dtm, moder_no, mod_dtm
    </sql>
    
    <sql id="pk-columns">
    	prdt_color_code = #{prdtColorCode, jdbcType=VARCHAR} AND prdt_no = #{prdtNo, jdbcType=VARCHAR}
    </sql>
    
    <select id="select" parameterType="kr.co.abcmart.bo.product.model.master.PdProductColor" resultType="kr.co.abcmart.bo.product.model.master.PdProductColor">
    
     /*+ kr.co.abcmart.bo.product.repository.master.PdProductColorDao.select [기본 조회 쿼리] [Generator] */
    
		SELECT 
			 <include refid="select-columns" />
		FROM 
			PD_PRODUCT_COLOR WITH (NOLOCK)

		<where> 
			<if test="prdtNo != null"> 
				 prdt_no = #{prdtNo, jdbcType=VARCHAR}
			</if> 
			<if test="prdtColorCode != null"> 
				 AND prdt_color_code = #{prdtColorCode, jdbcType=VARCHAR}
			</if> 
			<if test="useYn != null"> 
				 AND use_yn = #{useYn, jdbcType=CHAR}
			</if> 
			<if test="rgsterNo != null"> 
				 AND rgster_no = #{rgsterNo, jdbcType=VARCHAR}
			</if> 
			<if test="rgstDtm != null"> 
				 AND rgst_dtm = #{rgstDtm, jdbcType=TIMESTAMP}
			</if> 
			<if test="moderNo != null"> 
				 AND moder_no = #{moderNo, jdbcType=VARCHAR}
			</if> 
			<if test="modDtm != null"> 
				 AND mod_dtm = #{modDtm, jdbcType=TIMESTAMP}
			</if> 
		</where>  
    </select>
    
    <!--
    	※ 경고
		이 insert SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    
    <insert id="insert" parameterType="kr.co.abcmart.bo.product.model.master.PdProductColor">	

     /*+ kr.co.abcmart.bo.product.repository.master.PdProductColorDao.insert [기본 insert 쿼리] [Generator] */
    
		INSERT INTO PD_PRODUCT_COLOR
			 ( prdt_no, prdt_color_code, use_yn, rgster_no, rgst_dtm, moder_no, mod_dtm ) 

		VALUES 
			 ( #{prdtNo, jdbcType=VARCHAR}, #{prdtColorCode, jdbcType=VARCHAR}, #{useYn, jdbcType=CHAR}, #{rgsterNo, jdbcType=VARCHAR}, <choose><when test="rgstDtm != null">#{rgstDtm, jdbcType=TIMESTAMP}</when><otherwise>getdate()</otherwise></choose>, #{moderNo, jdbcType=VARCHAR}, <choose><when test="modDtm != null">#{modDtm, jdbcType=TIMESTAMP}</when><otherwise>getdate()</otherwise></choose> )  
    </insert>
    
    <!--
    	※ 경고
		이 update SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    <update id="update" parameterType="kr.co.abcmart.bo.product.model.master.PdProductColor">
    
     /*+ kr.co.abcmart.bo.product.repository.master.PdProductColorDao.update [기본 update 쿼리] [Generator] */
    
		UPDATE PD_PRODUCT_COLOR
		<set> 
			<if test="prdtNo != null"> 
				prdt_no = #{prdtNo, jdbcType=VARCHAR}, 
			</if> 
			<if test="prdtColorCode != null"> 
				prdt_color_code = #{prdtColorCode, jdbcType=VARCHAR}, 
			</if> 
			<if test="useYn != null"> 
				use_yn = #{useYn, jdbcType=CHAR}, 
			</if> 
			<if test="rgsterNo != null"> 
				rgster_no = #{rgsterNo, jdbcType=VARCHAR}, 
			</if> 
			<if test="rgstDtm != null"> 
				rgst_dtm = #{rgstDtm, jdbcType=TIMESTAMP}, 
			</if> 
			<if test="moderNo != null"> 
				moder_no = #{moderNo, jdbcType=VARCHAR}, 
			</if> 
			<if test="modDtm != null"> 
				mod_dtm = #{modDtm, jdbcType=TIMESTAMP}, 
			</if> 
		</set> 
		WHERE 
			 prdt_color_code = #{prdtColorCode, jdbcType=VARCHAR} AND prdt_no = #{prdtNo, jdbcType=VARCHAR}   
    </update>
    
    <!--
    	※ 경고
		이 delete SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    <delete id="delete" parameterType="kr.co.abcmart.bo.product.model.master.PdProductColor">
    
     /*+ kr.co.abcmart.bo.product.repository.master.PdProductColorDao.delete [기본 delete 쿼리] [Generator] */
    
		DELETE FROM PD_PRODUCT_COLOR
		WHERE 
			 prdt_color_code = #{prdtColorCode, jdbcType=VARCHAR} AND prdt_no = #{prdtNo, jdbcType=VARCHAR}  
    </delete>
</mapper>