<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.abcmart.bo.product.repository.master.DpBrandDao">

    <!--
    	※ 경고
		이 select SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    
    <sql id="select-columns">
    	brand_no, brand_name, brand_en_name, site_no, brand_key_word_text, image_name, image_path_text, image_url, altrn_text, brand_group_no_text, aconnect_disp_yn, kor_initial_text, eng_initial_text, etc_initial_text, insd_mgmt_info_text, brand_prdt_art_disp_yn, dflt_mvmn_chnnl, note_text, use_yn, rgster_no, rgst_dtm, moder_no, mod_dtm
    </sql>
    
    <sql id="pk-columns">
    	brand_no = #{brandNo, jdbcType=VARCHAR}
    </sql>
    
    <select id="select" parameterType="kr.co.abcmart.bo.product.model.master.DpBrand" resultType="kr.co.abcmart.bo.product.model.master.DpBrand">
    
     /*+ kr.co.abcmart.bo.product.repository.master.DpBrandDao.select [기본 조회 쿼리] [Generator] */
    
		SELECT 
			 <include refid="select-columns" />
		FROM 
			dp_brand
		<where> 
			<if test="brandNo != null"> 
				 brand_no = #{brandNo, jdbcType=VARCHAR}
			</if> 
			<if test="brandName != null"> 
				 AND brand_name = #{brandName, jdbcType=VARCHAR}
			</if> 
			<if test="brandEnName != null"> 
				 AND brand_en_name = #{brandEnName, jdbcType=VARCHAR}
			</if> 
			<if test="siteNo != null"> 
				 AND site_no = #{siteNo, jdbcType=VARCHAR}
			</if> 
			<if test="brandKeyWordText != null"> 
				 AND brand_key_word_text = #{brandKeyWordText, jdbcType=VARCHAR}
			</if> 
			<if test="imageName != null"> 
				 AND image_name = #{imageName, jdbcType=VARCHAR}
			</if> 
			<if test="imagePathText != null"> 
				 AND image_path_text = #{imagePathText, jdbcType=VARCHAR}
			</if> 
			<if test="imageUrl != null"> 
				 AND image_url = #{imageUrl, jdbcType=VARCHAR}
			</if> 
			<if test="altrnText != null"> 
				 AND altrn_text = #{altrnText, jdbcType=VARCHAR}
			</if> 
			<if test="brandGroupNoText != null"> 
				 AND brand_group_no_text = #{brandGroupNoText, jdbcType=VARCHAR}
			</if> 
			<if test="aconnectDispYn != null"> 
				 AND aconnect_disp_yn = #{aconnectDispYn, jdbcType=CHAR}
			</if> 
			<if test="korInitialText != null"> 
				 AND kor_initial_text = #{korInitialText, jdbcType=CHAR}
			</if> 
			<if test="engInitialText != null"> 
				 AND eng_initial_text = #{engInitialText, jdbcType=CHAR}
			</if> 
			<if test="etcInitialText != null"> 
				 AND etc_initial_text = #{etcInitialText, jdbcType=CHAR}
			</if> 
			<if test="insdMgmtInfoText != null"> 
				 AND insd_mgmt_info_text = #{insdMgmtInfoText, jdbcType=VARCHAR}
			</if> 
			<if test="brandPrdtArtDispYn != null"> 
				 AND brand_prdt_art_disp_yn = #{brandPrdtArtDispYn, jdbcType=CHAR}
			</if> 
			<if test="dfltMvmnChnnl != null"> 
				 AND dflt_mvmn_chnnl = #{dfltMvmnChnnl, jdbcType=VARCHAR}
			</if> 
			<if test="noteText != null"> 
				 AND note_text = #{noteText, jdbcType=VARCHAR}
			</if> 
			<if test="useYn != null"> 
				 AND use_yn = #{useYn, jdbcType=CHAR}
			</if> 
			<if test="rgsterNo != null"> 
				 AND rgster_no = #{rgsterNo, jdbcType=VARCHAR}
			</if> 
			<if test="rgstDtm != null"> 
				 AND rgst_dtm = #{rgstDtm, jdbcType=TIMESTAMP}
			</if> 
			<if test="moderNo != null"> 
				 AND moder_no = #{moderNo, jdbcType=VARCHAR}
			</if> 
			<if test="modDtm != null"> 
				 AND mod_dtm = #{modDtm, jdbcType=TIMESTAMP}
			</if> 
		</where>  
    </select>
    
    <!--
    	※ 경고
		이 insert SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    
    <insert id="insert" parameterType="kr.co.abcmart.bo.product.model.master.DpBrand">	

     /*+ kr.co.abcmart.bo.product.repository.master.DpBrandDao.insert [기본 insert 쿼리] [Generator] */
    
		INSERT INTO dp_brand
			 ( brand_no, brand_name, brand_en_name, site_no, brand_key_word_text, image_name, image_path_text, image_url, altrn_text, brand_group_no_text, aconnect_disp_yn, kor_initial_text, eng_initial_text, etc_initial_text, insd_mgmt_info_text, brand_prdt_art_disp_yn, dflt_mvmn_chnnl, note_text, use_yn, rgster_no, rgst_dtm, moder_no, mod_dtm ) 

		VALUES 
			 ( #{brandNo, jdbcType=VARCHAR}, #{brandName, jdbcType=VARCHAR}, #{brandEnName, jdbcType=VARCHAR}, #{siteNo, jdbcType=VARCHAR}, #{brandKeyWordText, jdbcType=VARCHAR}, #{imageName, jdbcType=VARCHAR}, #{imagePathText, jdbcType=VARCHAR}, #{imageUrl, jdbcType=VARCHAR}, #{altrnText, jdbcType=VARCHAR}, #{brandGroupNoText, jdbcType=VARCHAR}, #{aconnectDispYn, jdbcType=CHAR}, #{korInitialText, jdbcType=CHAR}, #{engInitialText, jdbcType=CHAR}, #{etcInitialText, jdbcType=CHAR}, #{insdMgmtInfoText, jdbcType=VARCHAR}, #{brandPrdtArtDispYn, jdbcType=CHAR}, #{dfltMvmnChnnl, jdbcType=VARCHAR}, #{noteText, jdbcType=VARCHAR}, #{useYn, jdbcType=CHAR}, #{rgsterNo, jdbcType=VARCHAR}, <choose><when test="rgstDtm != null">#{rgstDtm, jdbcType=TIMESTAMP}</when><otherwise>getdate()</otherwise></choose>, #{moderNo, jdbcType=VARCHAR}, <choose><when test="modDtm != null">#{modDtm, jdbcType=TIMESTAMP}</when><otherwise>getdate()</otherwise></choose> )  
    </insert>
    
    <!--
    	※ 경고
		이 update SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    <update id="update" parameterType="kr.co.abcmart.bo.product.model.master.DpBrand">
    
     /*+ kr.co.abcmart.bo.product.repository.master.DpBrandDao.update [기본 update 쿼리] [Generator] */
    
		UPDATE dp_brand
		<set> 
			<if test="brandNo != null"> 
				brand_no = #{brandNo, jdbcType=VARCHAR}, 
			</if> 
			<if test="brandName != null"> 
				brand_name = #{brandName, jdbcType=VARCHAR}, 
			</if> 
			<if test="brandEnName != null"> 
				brand_en_name = #{brandEnName, jdbcType=VARCHAR}, 
			</if> 
			<if test="siteNo != null"> 
				site_no = #{siteNo, jdbcType=VARCHAR}, 
			</if> 
			<if test="brandKeyWordText != null"> 
				brand_key_word_text = #{brandKeyWordText, jdbcType=VARCHAR}, 
			</if> 
			<if test="imageName != null"> 
				image_name = #{imageName, jdbcType=VARCHAR}, 
			</if> 
			<if test="imagePathText != null"> 
				image_path_text = #{imagePathText, jdbcType=VARCHAR}, 
			</if> 
			<if test="imageUrl != null"> 
				image_url = #{imageUrl, jdbcType=VARCHAR}, 
			</if> 
			<if test="altrnText != null"> 
				altrn_text = #{altrnText, jdbcType=VARCHAR}, 
			</if> 
			<if test="brandGroupNoText != null"> 
				brand_group_no_text = #{brandGroupNoText, jdbcType=VARCHAR}, 
			</if> 
			<if test="aconnectDispYn != null"> 
				aconnect_disp_yn = #{aconnectDispYn, jdbcType=CHAR}, 
			</if> 
			<if test="korInitialText != null"> 
				kor_initial_text = #{korInitialText, jdbcType=CHAR}, 
			</if> 
			<if test="engInitialText != null"> 
				eng_initial_text = #{engInitialText, jdbcType=CHAR}, 
			</if> 
			<if test="etcInitialText != null"> 
				etc_initial_text = #{etcInitialText, jdbcType=CHAR}, 
			</if> 
			<if test="insdMgmtInfoText != null"> 
				insd_mgmt_info_text = #{insdMgmtInfoText, jdbcType=VARCHAR}, 
			</if> 
			<if test="brandPrdtArtDispYn != null"> 
				brand_prdt_art_disp_yn = #{brandPrdtArtDispYn, jdbcType=CHAR}, 
			</if> 
			<if test="dfltMvmnChnnl != null"> 
				dflt_mvmn_chnnl = #{dfltMvmnChnnl, jdbcType=VARCHAR}, 
			</if> 
			<if test="noteText != null"> 
				note_text = #{noteText, jdbcType=VARCHAR}, 
			</if> 
			<if test="useYn != null"> 
				use_yn = #{useYn, jdbcType=CHAR}, 
			</if> 
			<if test="rgsterNo != null"> 
				rgster_no = #{rgsterNo, jdbcType=VARCHAR}, 
			</if> 
			<if test="rgstDtm != null"> 
				rgst_dtm = #{rgstDtm, jdbcType=TIMESTAMP}, 
			</if> 
			<if test="moderNo != null"> 
				moder_no = #{moderNo, jdbcType=VARCHAR}, 
			</if> 
			<if test="modDtm != null"> 
				mod_dtm = #{modDtm, jdbcType=TIMESTAMP}, 
			</if> 
		</set> 
		WHERE 
			 brand_no = #{brandNo, jdbcType=VARCHAR}   
    </update>
    
    <!--
    	※ 경고
		이 delete SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    <delete id="delete" parameterType="kr.co.abcmart.bo.product.model.master.DpBrand">
    
     /*+ kr.co.abcmart.bo.product.repository.master.DpBrandDao.delete [기본 delete 쿼리] [Generator] */
    
		DELETE FROM dp_brand
		WHERE 
			 brand_no = #{brandNo, jdbcType=VARCHAR}  
    </delete>
</mapper>