<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.abcmart.bo.product.repository.master.PdProductOptionPriceHistoryDao">

    <!--
    	※ 경고
		이 select SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    
    <sql id="select-columns">
    	prdt_no, prdt_optn_no, sell_price_hist_seq, optn_add_amt, apply_start_dtm, apply_end_dtm, rgster_no, rgst_dtm
    </sql>
    
    <sql id="pk-columns">
    	prdt_no = #{prdtNo, jdbcType=VARCHAR} AND prdt_optn_no = #{prdtOptnNo, jdbcType=VARCHAR} AND sell_price_hist_seq = #{sellPriceHistSeq, jdbcType=INTEGER}
    </sql>
    
    <select id="select" parameterType="kr.co.abcmart.bo.product.model.master.PdProductOptionPriceHistory" resultType="kr.co.abcmart.bo.product.model.master.PdProductOptionPriceHistory">
    
     /*+ kr.co.abcmart.bo.product.repository.master.PdProductOptionPriceHistoryDao.select [기본 조회 쿼리] [Generator] */
    
		SELECT 
			 <include refid="select-columns" />
		FROM 
			PD_PRODUCT_OPTION_PRICE_HISTORY WITH (NOLOCK)

		<where> 
			<if test="prdtNo != null"> 
				 prdt_no = #{prdtNo, jdbcType=VARCHAR}
			</if> 
			<if test="prdtOptnNo != null"> 
				 AND prdt_optn_no = #{prdtOptnNo, jdbcType=VARCHAR}
			</if> 
			<if test="sellPriceHistSeq != null"> 
				 AND sell_price_hist_seq = #{sellPriceHistSeq, jdbcType=INTEGER}
			</if> 
			<if test="optnAddAmt != null"> 
				 AND optn_add_amt = #{optnAddAmt, jdbcType=INTEGER}
			</if> 
			<if test="applyStartDtm != null"> 
				 AND apply_start_dtm = #{applyStartDtm, jdbcType=TIMESTAMP}
			</if> 
			<if test="applyEndDtm != null"> 
				 AND apply_end_dtm = #{applyEndDtm, jdbcType=TIMESTAMP}
			</if> 
			<if test="rgsterNo != null"> 
				 AND rgster_no = #{rgsterNo, jdbcType=VARCHAR}
			</if> 
			<if test="rgstDtm != null"> 
				 AND rgst_dtm = #{rgstDtm, jdbcType=TIMESTAMP}
			</if> 
		</where>  
    </select>
    
    <!--
    	※ 경고
		이 insert SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    
    <insert id="insert" parameterType="kr.co.abcmart.bo.product.model.master.PdProductOptionPriceHistory">	

     /*+ kr.co.abcmart.bo.product.repository.master.PdProductOptionPriceHistoryDao.insert [기본 insert 쿼리] [Generator] */
    
		INSERT INTO PD_PRODUCT_OPTION_PRICE_HISTORY
			 ( prdt_no, prdt_optn_no, sell_price_hist_seq, optn_add_amt, apply_start_dtm, apply_end_dtm, rgster_no, rgst_dtm ) 

		VALUES 
			 ( #{prdtNo, jdbcType=VARCHAR}, #{prdtOptnNo, jdbcType=VARCHAR}, #{sellPriceHistSeq, jdbcType=INTEGER}, #{optnAddAmt, jdbcType=INTEGER}, <choose><when test="applyStartDtm != null">#{applyStartDtm, jdbcType=TIMESTAMP}</when><otherwise>getdate()</otherwise></choose>, <choose><when test="applyEndDtm != null">#{applyEndDtm, jdbcType=TIMESTAMP}</when><otherwise>getdate()</otherwise></choose>, #{rgsterNo, jdbcType=VARCHAR}, <choose><when test="rgstDtm != null">#{rgstDtm, jdbcType=TIMESTAMP}</when><otherwise>getdate()</otherwise></choose> )  
    </insert>
    
    <!--
    	※ 경고
		이 update SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    <update id="update" parameterType="kr.co.abcmart.bo.product.model.master.PdProductOptionPriceHistory">
    
     /*+ kr.co.abcmart.bo.product.repository.master.PdProductOptionPriceHistoryDao.update [기본 update 쿼리] [Generator] */
    
		UPDATE PD_PRODUCT_OPTION_PRICE_HISTORY
		<set> 
			<if test="prdtNo != null"> 
				prdt_no = #{prdtNo, jdbcType=VARCHAR}, 
			</if> 
			<if test="prdtOptnNo != null"> 
				prdt_optn_no = #{prdtOptnNo, jdbcType=VARCHAR}, 
			</if> 
			<if test="sellPriceHistSeq != null"> 
				sell_price_hist_seq = #{sellPriceHistSeq, jdbcType=INTEGER}, 
			</if> 
			<if test="optnAddAmt != null"> 
				optn_add_amt = #{optnAddAmt, jdbcType=INTEGER}, 
			</if> 
			<if test="applyStartDtm != null"> 
				apply_start_dtm = #{applyStartDtm, jdbcType=TIMESTAMP}, 
			</if> 
			<if test="applyEndDtm != null"> 
				apply_end_dtm = #{applyEndDtm, jdbcType=TIMESTAMP}, 
			</if> 
			<if test="rgsterNo != null"> 
				rgster_no = #{rgsterNo, jdbcType=VARCHAR}, 
			</if> 
			<if test="rgstDtm != null"> 
				rgst_dtm = #{rgstDtm, jdbcType=TIMESTAMP}, 
			</if> 
		</set> 
		WHERE 
			 prdt_no = #{prdtNo, jdbcType=VARCHAR} AND prdt_optn_no = #{prdtOptnNo, jdbcType=VARCHAR} AND sell_price_hist_seq = #{sellPriceHistSeq, jdbcType=INTEGER}   
    </update>
    
    <!--
    	※ 경고
		이 delete SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    <delete id="delete" parameterType="kr.co.abcmart.bo.product.model.master.PdProductOptionPriceHistory">
    
     /*+ kr.co.abcmart.bo.product.repository.master.PdProductOptionPriceHistoryDao.delete [기본 delete 쿼리] [Generator] */
    
		DELETE FROM PD_PRODUCT_OPTION_PRICE_HISTORY
		WHERE 
			 prdt_no = #{prdtNo, jdbcType=VARCHAR} AND prdt_optn_no = #{prdtOptnNo, jdbcType=VARCHAR} AND sell_price_hist_seq = #{sellPriceHistSeq, jdbcType=INTEGER}  
    </delete>
</mapper>