<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.abcmart.bo.product.repository.master.PdProductMemoDao">

    <!--
    	※ 경고
		이 select SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    
    <sql id="select-columns">
    	prdt_no, prdt_memo_seq, memo_text, rgster_no, rgst_dtm
    </sql>
    
    <sql id="pk-columns">
    	prdt_memo_seq = #{prdtMemoSeq, jdbcType=INTEGER} AND prdt_no = #{prdtNo, jdbcType=VARCHAR}
    </sql>
    
    <select id="select" parameterType="kr.co.abcmart.bo.product.model.master.PdProductMemo" resultType="kr.co.abcmart.bo.product.model.master.PdProductMemo">
    
     /*+ kr.co.abcmart.bo.product.repository.master.PdProductMemoDao.select [기본 조회 쿼리] [Generator] */
    
		SELECT 
			 <include refid="select-columns" />
		FROM 
			PD_PRODUCT_MEMO WITH (NOLOCK)

		<where> 
			<if test="prdtNo != null"> 
				 prdt_no = #{prdtNo, jdbcType=VARCHAR}
			</if> 
			<if test="prdtMemoSeq != null"> 
				 AND prdt_memo_seq = #{prdtMemoSeq, jdbcType=INTEGER}
			</if> 
			<if test="memoText != null"> 
				 AND memo_text = #{memoText, jdbcType=VARCHAR}
			</if> 
			<if test="rgsterNo != null"> 
				 AND rgster_no = #{rgsterNo, jdbcType=VARCHAR}
			</if> 
			<if test="rgstDtm != null"> 
				 AND rgst_dtm = #{rgstDtm, jdbcType=TIMESTAMP}
			</if> 
		</where>  
    </select>
    
    <!--
    	※ 경고
		이 insert SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    
    <insert id="insert" parameterType="kr.co.abcmart.bo.product.model.master.PdProductMemo">	

     /*+ kr.co.abcmart.bo.product.repository.master.PdProductMemoDao.insert [기본 insert 쿼리] [Generator] */
    
		INSERT INTO PD_PRODUCT_MEMO
			 ( prdt_no, prdt_memo_seq, memo_text, rgster_no, rgst_dtm ) 

		VALUES 
			 ( #{prdtNo, jdbcType=VARCHAR}, #{prdtMemoSeq, jdbcType=INTEGER}, #{memoText, jdbcType=VARCHAR}, #{rgsterNo, jdbcType=VARCHAR}, <choose><when test="rgstDtm != null">#{rgstDtm, jdbcType=TIMESTAMP}</when><otherwise>getdate()</otherwise></choose> )  
    </insert>
    
    <!--
    	※ 경고
		이 update SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    <update id="update" parameterType="kr.co.abcmart.bo.product.model.master.PdProductMemo">
    
     /*+ kr.co.abcmart.bo.product.repository.master.PdProductMemoDao.update [기본 update 쿼리] [Generator] */
    
		UPDATE PD_PRODUCT_MEMO
		<set> 
			<if test="prdtNo != null"> 
				prdt_no = #{prdtNo, jdbcType=VARCHAR}, 
			</if> 
			<if test="prdtMemoSeq != null"> 
				prdt_memo_seq = #{prdtMemoSeq, jdbcType=INTEGER}, 
			</if> 
			<if test="memoText != null"> 
				memo_text = #{memoText, jdbcType=VARCHAR}, 
			</if> 
			<if test="rgsterNo != null"> 
				rgster_no = #{rgsterNo, jdbcType=VARCHAR}, 
			</if> 
			<if test="rgstDtm != null"> 
				rgst_dtm = #{rgstDtm, jdbcType=TIMESTAMP}, 
			</if> 
		</set> 
		WHERE 
			 prdt_memo_seq = #{prdtMemoSeq, jdbcType=INTEGER} AND prdt_no = #{prdtNo, jdbcType=VARCHAR}   
    </update>
    
    <!--
    	※ 경고
		이 delete SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    <delete id="delete" parameterType="kr.co.abcmart.bo.product.model.master.PdProductMemo">
    
     /*+ kr.co.abcmart.bo.product.repository.master.PdProductMemoDao.delete [기본 delete 쿼리] [Generator] */
    
		DELETE FROM PD_PRODUCT_MEMO
		WHERE 
			 prdt_memo_seq = #{prdtMemoSeq, jdbcType=INTEGER} AND prdt_no = #{prdtNo, jdbcType=VARCHAR}  
    </delete>
</mapper>