<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.abcmart.bo.product.repository.master.CmProductIconDao">

    <!--
    	※ 경고
		이 select SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    
    <sql id="select-columns">
    	prdt_icon_seq, site_no, disp_icon_name, icon_name, icon_path_text, icon_url, altrn_text, apply_prior, auto_apply_yn, insd_mgmt_info_text, use_yn, rgster_no, rgst_dtm, moder_no, mod_dtm
    </sql>
    
    <sql id="pk-columns">
    	prdt_icon_seq = #{prdtIconSeq, jdbcType=INTEGER}
    </sql>
    
    <select id="select" parameterType="kr.co.abcmart.bo.product.model.master.CmProductIcon" resultType="kr.co.abcmart.bo.product.model.master.CmProductIcon">
    
     /*+ kr.co.abcmart.bo.product.repository.master.CmProductIconDao.select [기본 조회 쿼리] [Generator] */
    
		SELECT 
			 <include refid="select-columns" />
		FROM 
			CM_PRODUCT_ICON
		<where> 
			<if test="prdtIconSeq != null"> 
				 prdt_icon_seq = #{prdtIconSeq, jdbcType=INTEGER}
			</if> 
			<if test="siteNo != null"> 
				 AND site_no = #{siteNo, jdbcType=VARCHAR}
			</if> 
			<if test="dispIconName != null"> 
				 AND disp_icon_name = #{dispIconName, jdbcType=VARCHAR}
			</if> 
			<if test="iconName != null"> 
				 AND icon_name = #{iconName, jdbcType=VARCHAR}
			</if> 
			<if test="iconPathText != null"> 
				 AND icon_path_text = #{iconPathText, jdbcType=VARCHAR}
			</if> 
			<if test="iconUrl != null"> 
				 AND icon_url = #{iconUrl, jdbcType=VARCHAR}
			</if> 
			<if test="altrnText != null"> 
				 AND altrn_text = #{altrnText, jdbcType=VARCHAR}
			</if> 
			<if test="applyPrior != null"> 
				 AND apply_prior = #{applyPrior, jdbcType=TINYINT}
			</if> 
			<if test="autoApplyYn != null"> 
				 AND auto_apply_yn = #{autoApplyYn, jdbcType=CHAR}
			</if> 
			<if test="insdMgmtInfoText != null"> 
				 AND insd_mgmt_info_text = #{insdMgmtInfoText, jdbcType=VARCHAR}
			</if> 
			<if test="useYn != null"> 
				 AND use_yn = #{useYn, jdbcType=CHAR}
			</if> 
			<if test="rgsterNo != null"> 
				 AND rgster_no = #{rgsterNo, jdbcType=VARCHAR}
			</if> 
			<if test="rgstDtm != null"> 
				 AND rgst_dtm = #{rgstDtm, jdbcType=TIMESTAMP}
			</if> 
			<if test="moderNo != null"> 
				 AND moder_no = #{moderNo, jdbcType=VARCHAR}
			</if> 
			<if test="modDtm != null"> 
				 AND mod_dtm = #{modDtm, jdbcType=TIMESTAMP}
			</if> 
		</where>  
    </select>
    
    <!--
    	※ 경고
		이 insert SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    
	<insert id="insert" useGeneratedKeys="true" keyProperty="prdtIconSeq">

     /*+ kr.co.abcmart.bo.product.repository.master.CmProductIconDao.insert [기본 insert 쿼리] [Generator] */
    
		INSERT INTO CM_PRODUCT_ICON
			 ( site_no, disp_icon_name, icon_name, icon_path_text, icon_url, altrn_text, apply_prior, auto_apply_yn, insd_mgmt_info_text, use_yn, rgster_no, rgst_dtm, moder_no, mod_dtm ) 

		VALUES 
			 ( #{siteNo, jdbcType=VARCHAR}, #{dispIconName, jdbcType=VARCHAR}, #{iconName, jdbcType=VARCHAR}, #{iconPathText, jdbcType=VARCHAR}, #{iconUrl, jdbcType=VARCHAR}, #{altrnText, jdbcType=VARCHAR}, #{applyPrior, jdbcType=TINYINT}, #{autoApplyYn, jdbcType=CHAR}, #{insdMgmtInfoText, jdbcType=VARCHAR}, #{useYn, jdbcType=CHAR}, #{rgsterNo, jdbcType=VARCHAR}, <choose><when test="rgstDtm != null">#{rgstDtm, jdbcType=TIMESTAMP}</when><otherwise>getdate()</otherwise></choose>, #{moderNo, jdbcType=VARCHAR}, <choose><when test="modDtm != null">#{modDtm, jdbcType=TIMESTAMP}</when><otherwise>getdate()</otherwise></choose> )  
    </insert>
    
    <!--
    	※ 경고
		이 update SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    <update id="update" parameterType="kr.co.abcmart.bo.product.model.master.CmProductIcon">
    
     /*+ kr.co.abcmart.bo.product.repository.master.CmProductIconDao.update [기본 update 쿼리] [Generator] */
    
		UPDATE CM_PRODUCT_ICON
		<set> 
			<if test="prdtIconSeq != null"> 
				prdt_icon_seq = #{prdtIconSeq, jdbcType=INTEGER}, 
			</if> 
			<if test="siteNo != null"> 
				site_no = #{siteNo, jdbcType=VARCHAR}, 
			</if> 
			<if test="dispIconName != null"> 
				disp_icon_name = #{dispIconName, jdbcType=VARCHAR}, 
			</if> 
			<if test="iconName != null"> 
				icon_name = #{iconName, jdbcType=VARCHAR}, 
			</if> 
			<if test="iconPathText != null"> 
				icon_path_text = #{iconPathText, jdbcType=VARCHAR}, 
			</if> 
			<if test="iconUrl != null"> 
				icon_url = #{iconUrl, jdbcType=VARCHAR}, 
			</if> 
			<if test="altrnText != null"> 
				altrn_text = #{altrnText, jdbcType=VARCHAR}, 
			</if> 
			<if test="applyPrior != null"> 
				apply_prior = #{applyPrior, jdbcType=TINYINT}, 
			</if> 
			<if test="autoApplyYn != null"> 
				auto_apply_yn = #{autoApplyYn, jdbcType=CHAR}, 
			</if> 
			<if test="insdMgmtInfoText != null"> 
				insd_mgmt_info_text = #{insdMgmtInfoText, jdbcType=VARCHAR}, 
			</if> 
			<if test="useYn != null"> 
				use_yn = #{useYn, jdbcType=CHAR}, 
			</if> 
			<if test="rgsterNo != null"> 
				rgster_no = #{rgsterNo, jdbcType=VARCHAR}, 
			</if> 
			<if test="rgstDtm != null"> 
				rgst_dtm = #{rgstDtm, jdbcType=TIMESTAMP}, 
			</if> 
			<if test="moderNo != null"> 
				moder_no = #{moderNo, jdbcType=VARCHAR}, 
			</if> 
			<if test="modDtm != null"> 
				mod_dtm = #{modDtm, jdbcType=TIMESTAMP}, 
			</if> 
		</set> 
		WHERE 
			 prdt_icon_seq = #{prdtIconSeq, jdbcType=INTEGER}   
    </update>
    
    <!--
    	※ 경고
		이 delete SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    <delete id="delete" parameterType="kr.co.abcmart.bo.product.model.master.CmProductIcon">
    
     /*+ kr.co.abcmart.bo.product.repository.master.CmProductIconDao.delete [기본 delete 쿼리] [Generator] */
    
		DELETE FROM CM_PRODUCT_ICON
		WHERE 
			 prdt_icon_seq = #{prdtIconSeq, jdbcType=INTEGER}  
    </delete>
</mapper>