<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.abcmart.bo.product.repository.master.SyHandlingPrecautionDao">

    <!--
    	※ 경고
		이 select SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    
    <sql id="select-columns">
    	handl_precau_seq, std_ctgr_no, title_text, cont_text, rgster_no, rgst_dtm, moder_no, mod_dtm
    </sql>
    
    <sql id="pk-columns">
    	handl_precau_seq = #{handlPrecauSeq, jdbcType=INTEGER}
    </sql>
    
    <select id="select" parameterType="kr.co.abcmart.bo.product.model.master.SyHandlingPrecaution" resultType="kr.co.abcmart.bo.product.model.master.SyHandlingPrecaution">
    
     /*+ kr.co.abcmart.bo.product.repository.master.SyHandlingPrecautionDao.select [기본 조회 쿼리] [Generator] */
    
		SELECT 
			 <include refid="select-columns" />
		FROM 
			SY_HANDLING_PRECAUTION
		<where> 
			<if test="handlPrecauSeq != null"> 
				 handl_precau_seq = #{handlPrecauSeq, jdbcType=INTEGER}
			</if> 
			<if test="stdCtgrNo != null"> 
				 AND std_ctgr_no = #{stdCtgrNo, jdbcType=VARCHAR}
			</if> 
			<if test="titleText != null"> 
				 AND title_text = #{titleText, jdbcType=VARCHAR}
			</if> 
			<if test="contText != null"> 
				 AND cont_text = #{contText, jdbcType=VARCHAR}
			</if> 
			<if test="rgsterNo != null"> 
				 AND rgster_no = #{rgsterNo, jdbcType=VARCHAR}
			</if> 
			<if test="rgstDtm != null"> 
				 AND rgst_dtm = #{rgstDtm, jdbcType=TIMESTAMP}
			</if> 
			<if test="moderNo != null"> 
				 AND moder_no = #{moderNo, jdbcType=VARCHAR}
			</if> 
			<if test="modDtm != null"> 
				 AND mod_dtm = #{modDtm, jdbcType=TIMESTAMP}
			</if> 
		</where>  
    </select>
    
    <!--
    	※ 경고
		이 insert SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    
	<insert id="insert" useGeneratedKeys="true" keyProperty="handlPrecauSeq">

     /*+ kr.co.abcmart.bo.product.repository.master.SyHandlingPrecautionDao.insert [기본 insert 쿼리] [Generator] */
    
		INSERT INTO SY_HANDLING_PRECAUTION
			 ( std_ctgr_no, title_text, cont_text, rgster_no, rgst_dtm, moder_no, mod_dtm ) 

		VALUES 
			 ( #{stdCtgrNo, jdbcType=VARCHAR}, #{titleText, jdbcType=VARCHAR}, #{contText, jdbcType=VARCHAR}, #{rgsterNo, jdbcType=VARCHAR}, <choose><when test="rgstDtm != null">#{rgstDtm, jdbcType=TIMESTAMP}</when><otherwise>getdate()</otherwise></choose>, #{moderNo, jdbcType=VARCHAR}, <choose><when test="modDtm != null">#{modDtm, jdbcType=TIMESTAMP}</when><otherwise>getdate()</otherwise></choose> )  
    </insert>
    
    <!--
    	※ 경고
		이 update SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    <update id="update" parameterType="kr.co.abcmart.bo.product.model.master.SyHandlingPrecaution">
    
     /*+ kr.co.abcmart.bo.product.repository.master.SyHandlingPrecautionDao.update [기본 update 쿼리] [Generator] */
    
		UPDATE SY_HANDLING_PRECAUTION
		<set> 
			<if test="handlPrecauSeq != null"> 
				handl_precau_seq = #{handlPrecauSeq, jdbcType=INTEGER}, 
			</if> 
			<if test="stdCtgrNo != null"> 
				std_ctgr_no = #{stdCtgrNo, jdbcType=VARCHAR}, 
			</if> 
			<if test="titleText != null"> 
				title_text = #{titleText, jdbcType=VARCHAR}, 
			</if> 
			<if test="contText != null"> 
				cont_text = #{contText, jdbcType=VARCHAR}, 
			</if> 
			<if test="rgsterNo != null"> 
				rgster_no = #{rgsterNo, jdbcType=VARCHAR}, 
			</if> 
			<if test="rgstDtm != null"> 
				rgst_dtm = #{rgstDtm, jdbcType=TIMESTAMP}, 
			</if> 
			<if test="moderNo != null"> 
				moder_no = #{moderNo, jdbcType=VARCHAR}, 
			</if> 
			<if test="modDtm != null"> 
				mod_dtm = #{modDtm, jdbcType=TIMESTAMP}, 
			</if> 
		</set> 
		WHERE 
			 handl_precau_seq = #{handlPrecauSeq, jdbcType=INTEGER}   
    </update>
    
    <!--
    	※ 경고
		이 delete SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    <delete id="delete" parameterType="kr.co.abcmart.bo.product.model.master.SyHandlingPrecaution">
    
     /*+ kr.co.abcmart.bo.product.repository.master.SyHandlingPrecautionDao.delete [기본 delete 쿼리] [Generator] */
    
		DELETE FROM SY_HANDLING_PRECAUTION
		WHERE 
			 handl_precau_seq = #{handlPrecauSeq, jdbcType=INTEGER}  
    </delete>
</mapper>