<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.abcmart.bo.order.repository.master.OcCashReceiptDao">

    <!--
    	※ 경고
		이 select SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    <select id="selectByPrimaryKey" parameterType="Object" resultType="kr.co.abcmart.bo.order.model.master.OcCashReceipt">
    
     /*+ kr.co.abcmart.bo.order.repository.master.OcCashReceiptDao.selectByPrimaryKey [기본 PK 조회 쿼리] [Generator] */  
    
		SELECT 
			<include refid="select-columns" />
		FROM 
			OC_CASH_RECEIPT
		WHERE 
			<include refid="pk-columns" /> 
    </select>

	<insert id="insertCashReceipt" parameterType="kr.co.abcmart.bo.order.model.master.OcCashReceipt">
		/*+ kr.co.abcmart.bo.order.repository.master.OcCashReceiptDao.insertCashReceipt [현금영수증 정보 insert] [KTH] */
		INSERT INTO OC_CASH_RECEIPT
			 (
			   RCPT_TYPE
			<if test="rcptIssueAmt != null">
			 , RCPT_ISSUE_AMT
			</if>
			 , RCPT_ISSUE_INFO
			 , RCPT_APRV_NO_TEXT
			 , RCPT_APRV_DTM
			 , RCPT_CNCL_DTM
			 , ORDER_NO
			 , ORG_ORDER_NO
			 , CLM_NO
			 , PYMNT_ORGAN_NO_TEXT
			 , PYMNT_APRV_NO_TEXT
			 , OCRNC_AMT
			<if test="cnclTrgtCashRcptSeq != null">
			 , CNCL_TRGT_CASH_RCPT_SEQ
			</if>
			<if test="delYn != null">
			 , DEL_YN
			</if>
			 , RCPT_PROC_STAT_CODE
			 , RGSTER_NO
			 , RGST_DTM
			 ) 
		VALUES 
			 (
			   #{rcptType, jdbcType=CHAR}
			<if test="rcptIssueAmt != null">
			 , #{rcptIssueAmt, jdbcType=INTEGER}
			</if>
			 , #{rcptIssueInfo, jdbcType=VARCHAR}
			 , #{rcptAprvNoText, jdbcType=VARCHAR}
			 , #{rcptAprvDtm, jdbcType=TIMESTAMP}
			 , #{rcptCnclDtm, jdbcType=TIMESTAMP}
			 , #{orderNo, jdbcType=VARCHAR}
			 , #{orgOrderNo, jdbcType=VARCHAR}
			 , #{clmNo, jdbcType=VARCHAR}
			 , #{pymntOrganNoText, jdbcType=VARCHAR}
			 , #{pymntAprvNoText, jdbcType=VARCHAR}
			 , #{ocrncAmt, jdbcType=INTEGER}
			<if test="cnclTrgtCashRcptSeq != null">
			 , #{cnclTrgtCashRcptSeq, jdbcType=INTEGER}
			</if>
			<if test="delYn != null">
			 , #{delYn, jdbcType=CHAR}
			</if>
			 , #{rcptProcStatCode, jdbcType=VARCHAR}
			 , #{rgsterNo, jdbcType=VARCHAR}
			 , GETDATE() 
			 )  
    </insert>
	<select id="getGiftCashReceipt" parameterType="kr.co.abcmart.bo.order.model.master.OcCashReceipt" resultType="kr.co.abcmart.bo.order.model.master.OcCashReceipt">
	/*+ kr.co.abcmart.bo.order.repository.master.OcCashReceiptDao.getGiftCashReceipt [giftCart 현금영수증 번호 조회] */  
	
		SELECT CASH_RCPT_SEQ
			 , RCPT_TYPE		
			 , RCPT_ISSUE_AMT		
			 , RCPT_ISSUE_INFO		
			 , RCPT_APRV_NO_TEXT	
			 , RCPT_DEAL_NO_TEXT	
			 , RCPT_APRV_DTM		
			 , RCPT_CNCL_DTM		
			 , ORDER_NO		
			 , ORG_ORDER_NO		
			 , CLM_NO			
			 , PYMNT_ORGAN_NO_TEXT	
			 , PYMNT_APRV_NO_TEXT	
			 , OCRNC_AMT		
			 , CNCL_TRGT_CASH_RCPT_SEQ	
			 , DEL_YN			
			 , RCPT_PROC_STAT_CODE	
		  FROM OC_CASH_RECEIPT
		 WHERE ORG_ORDER_NO = ORDER_NO
		   AND ORDER_NO = #{orderNo, jdbcType=VARCHAR}
		   AND RCPT_PROC_STAT_CODE ='10001' -- 발행
		   AND DEL_YN ='N'		
    </select>    
    
    
</mapper>