<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.abcmart.bo.order.repository.master.OcGiftCardOrderPaymentDao">

    <!--
    	※ 경고
		이 select SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    <select id="selectByPrimaryKey" parameterType="Object" resultType="kr.co.abcmart.bo.order.model.master.OcGiftCardOrderPayment">
    
     /*+ kr.co.abcmart.bo.order.repository.master.OcGiftCardOrderPaymentDao.selectByPrimaryKey [기본 PK 조회 쿼리] [Generator] */  
    
		SELECT 
			<include refid="select-columns" />
		FROM 
			oc_gift_card_order_payment
		WHERE 
			<include refid="pk-columns" /> 
    </select>
    
     <update id="updateGiftCardPaymentCancelStat" parameterType="kr.co.abcmart.bo.order.model.master.OcGiftCardOrderPayment">
    
    /*+ kr.co.abcmart.bo.order.model.master.OcGiftCardOrderPaymentDao.updateGiftCardPaymentCancelStat [kcp payment update 쿼리] [LSH] */
    
    	UPDATE oc_gift_card_order_payment
		<set> 
			<if test="pymntStatCode != null"> 
				pymnt_stat_code = #{pymntStatCode, jdbcType=VARCHAR}, 
			</if> 
			<if test="moderNo != null"> 
				moder_no = #{moderNo, jdbcType=VARCHAR}, 
			</if> 
			<if test="modDtm != null"> 
				mod_dtm = #{modDtm, jdbcType=TIMESTAMP}, 
			</if> 
		</set> 
		WHERE 
			 gift_card_order_no = #{giftCardOrderNo, jdbcType=VARCHAR}   
    </update>

</mapper>