<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.abcmart.bo.order.repository.master.OcOrderConvenienceStoreDao">

    <!--
    	※ 경고
		이 select SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    <select id="selectByPrimaryKey" parameterType="Object" resultType="kr.co.abcmart.bo.order.model.master.OcOrderConvenienceStore">
    
     /*+ kr.co.abcmart.bo.order.repository.master.OcOrderConvenienceStoreDao.selectByPrimaryKey [기본 PK 조회 쿼리] [Generator] */  
    
		SELECT 
			<include refid="select-columns" />
		FROM 
			OC_ORDER_CONVENIENCE_STORE
		WHERE 
			<include refid="pk-columns" /> 
    </select>
    
    <select id="selectConvenienceStore" parameterType="kr.co.abcmart.bo.order.model.master.OcOrderConvenienceStore" resultType="kr.co.abcmart.bo.order.model.master.OcOrderConvenienceStore">
     /*+ kr.co.abcmart.bo.order.repository.master.OcOrderConvenienceStoreDao.selectConvenienceStore [기본 PK 조회 쿼리] [Generator] */  
		SELECT 
			<include refid="select-columns" />
		  FROM OC_ORDER_CONVENIENCE_STORE
		 WHERE ORDER_NO	= #{orderNo, jdbcType=VARCHAR} 
			
    </select>
    
    <insert id="insertConvenienceStore" parameterType="kr.co.abcmart.bo.order.model.master.OcOrderConvenienceStore">
     /*+ kr.co.abcmart.bo.order.repository.master.OcOrderConvenienceStoreDao.insertConvenienceStore [주문편의점  insert] */
		<selectKey keyProperty="cvnstrSeq" resultType="short" order="BEFORE">
			SELECT ISNULL(MAX(CVNSTR_SEQ) + 1, 1) AS cvnstrSeq
    		  FROM OC_ORDER_CONVENIENCE_STORE
    		 WHERE ORDER_NO = #{orderNo, jdbcType=VARCHAR}
		</selectKey>
		
		INSERT INTO OC_ORDER_CONVENIENCE_STORE (
			   ORDER_NO
			 , CVNSTR_SEQ
			 , CVNSTR_CODE
			 , CVNSTR_NO_TEXT
			 , CVNSTR_NAME
			 , TEL_NO_TEXT
			 , POST_CODE_TEXT
			 , POST_ADDR_TEXT
			 , DTL_ADDR_TEXT
			 , ARVL_STORE_CODE_TEXT
			 , ARVL_STORE_BRCD_TEXT
			 , DONG_NAME_CODE_TEXT
			 , ARVL_DONG_NAME
			 , DLVY_PLACE_YN
			 , ho_code
		) VALUES (
			   #{orderNo, jdbcType=VARCHAR }
			 , #{cvnstrSeq, jdbcType=TINYINT } 
			 , #{cvnstrCode, jdbcType=VARCHAR }
			 , #{cvnstrNoText, jdbcType=VARCHAR }
			 , #{cvnstrName, jdbcType=VARCHAR }
			 , #{telNoText, jdbcType=VARCHAR }
			 , #{postCodeText, jdbcType=VARCHAR }
			 , #{postAddrText, jdbcType=VARCHAR }
			 , #{dtlAddrText, jdbcType=VARCHAR }
			 , #{arvlStoreCodeText, jdbcType=VARCHAR }
			 , #{arvlStoreBrcdText, jdbcType=VARCHAR }
			 , #{dongNameCodeText, jdbcType=VARCHAR }
			 , #{arvlDongName, jdbcType=VARCHAR }
			 , #{dlvyPlaceYn, jdbcType=VARCHAR }
			 , #{hoCode, jdbcType=VARCHAR}
	</insert >

</mapper>