<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.abcmart.bo.afterService.repository.master.OcAsAcceptProductStatusHistoryDao">

    <!--
    	※ 경고
		이 select SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    <select id="selectByPrimaryKey" parameterType="Object" resultType="kr.co.abcmart.bo.afterService.model.master.OcAsAcceptProductStatusHistory">
    
     /*+ kr.co.abcmart.bo.afterService.repository.master.OcAsAcceptProductStatusHistoryDao.selectByPrimaryKey [기본 PK 조회 쿼리] [Generator] */  
    
		SELECT 
			<include refid="select-columns" />
		FROM 
			OC_AS_ACCEPT_PRODUCT_STATUS_HISTORY WITH (NOLOCK)
		WHERE 
			<include refid="pk-columns" /> 
    </select>
    
    <select id="selectAsAcceptPrdtStatHistSeqNextVal" parameterType="kr.co.abcmart.bo.afterService.model.master.OcAsAcceptProductStatusHistory" resultType="String">
		/*+ kr.co.abcmart.bo.system.repository.afterservice.OcAsAcceptProductStatusHistoryDao.selectAsAcceptPrdtStatHistSeqNextVal [히스토리 시퀀스 번호] [이상호]*/
   		    SELECT ISNULL(MAX(AS_ACCEPT_PRDT_STAT_HIST_SEQ), 0)+1 
			  FROM OC_AS_ACCEPT_PRODUCT_STATUS_HISTORY WITH (NOLOCK)
			 WHERE AS_ACCEPT_NO = #{asAcceptNo, jdbcType=VARCHAR}
			   AND AS_ACCEPT_PRDT_SEQ = #{asAcceptPrdtSeq, jdbcType=TINYINT}
	</select>
	
	    <select id="selectAfterServiceHistCnt" parameterType="kr.co.abcmart.bo.afterService.model.master.OcAsAcceptProductStatusHistory" resultType="int">
		/*+ kr.co.abcmart.bo.system.repository.afterservice.OcAsAcceptProductStatusHistoryDao.selectAsAcceptPrdtStatHistSeqNextVal [카운트 ] [이상호]*/
		SELECT COUNT(AS_ACCEPT_PRDT_STAT_HIST_SEQ) AS CNT
		  FROM OC_AS_ACCEPT_PRODUCT_STATUS_HISTORY WITH (NOLOCK)
 		 WHERE AS_ACCEPT_NO = #{asAcceptNo, jdbcType=VARCHAR}
   		   AND AS_ACCEPT_PRDT_SEQ	= #{asAcceptPrdtSeq, jdbcType=TINYINT}
	</select>

</mapper>