<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.abcmart.bo.event.repository.master.EvEventTargetCouponDao">

    <!--
    	※ 경고
		이 select SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    <select id="selectByPrimaryKey" parameterType="Object" resultType="kr.co.abcmart.bo.event.model.master.EvEventTargetCoupon">
    
     /*+ kr.co.abcmart.bo.event.repository.master.EvEventTargetCouponDao.selectByPrimaryKey [기본 PK 조회 쿼리] [Generator] */  
    
		SELECT 
			<include refid="select-columns" />
		FROM 
			EV_EVENT_TARGET_COUPON
		WHERE 
			<include refid="pk-columns" /> 
    </select>
    
    <select id="selectEvEventTargetCouponListByEventNo" parameterType="String" resultType="kr.co.abcmart.bo.event.model.master.EvEventTargetCoupon">
     /*+ kr.co.abcmart.bo.event.repository.master.EvEventTargetCouponDao.selectEvEventTargetCouponListByEventNo [이벤트 쿠폰 조회 쿼리] [이지훈] */  
     	SELECT 
			EETC.EVENT_NO
			,EETC.ISSUE_LIMIT_COUNT
			,EETC.ISSUE_COUNT
			,EETC.SORT_SEQ
			,PC.CPN_NO
			,PC.CPN_NAME
			,PC.DSCNT_TYPE
			,PC.DSCNT_VALUE
			,DBO.FN_CODE_VALUE('CPN_TYPE_CODE', PC.CPN_TYPE_CODE) AS CPN_TYPE_CODE_NAME
    	    ,STUFF((SELECT CONCAT(',',DBO.FN_CODE_VALUE('DEVICE_CODE', PCAD.DEVICE_CODE)) FROM PR_COUPON_APPLY_DEVICE PCAD WITH(NOLOCK) WHERE PC.CPN_NO = PCAD.CPN_NO FOR XML PATH('')), 1, 1, '') AS DEVICE_CODE_NAME
    	    ,PC.USE_YN
    	    ,PC.ISSUE_START_DTM
			,PC.ISSUE_END_DTM
			,PC.PER1PSN_ISSUE_LIMIT_YN
			,PC.PER1PSN_MAX_ISSUE_COUNT
			,PC.TOTAL_ISSUE_LIMIT_YN
			,PC.TOTAL_ISSUE_LIMIT_COUNT
		FROM 
			EV_EVENT_TARGET_COUPON EETC WITH(NOLOCK)
		INNER JOIN PR_COUPON PC
					ON EETC.CPN_NO = PC.CPN_NO
		WHERE 
			EVENT_NO = #{eventNo, jdbcType=VARCHAR}
     </select>
     
     <delete id="deleteByEventNo" parameterType="String">
     /*+ kr.co.abcmart.bo.event.repository.master.EvEventTargetCouponDao.deleteByEventNo [이벤트 쿠폰 삭제 쿼리] [이지훈] */  
     	DELETE FROM EV_EVENT_TARGET_COUPON
     	WHERE 
			EVENT_NO = #{eventNo, jdbcType=VARCHAR}
     </delete>

</mapper>