<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.abcmart.bo.event.repository.master.EvEventResultBenefitDao">

    <!--
    	※ 경고
		이 select SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    <select id="selectByPrimaryKey" parameterType="Object" resultType="kr.co.abcmart.bo.event.model.master.EvEventResultBenefit">
    
     /*+ kr.co.abcmart.bo.event.repository.master.EvEventResultBenefitDao.selectByPrimaryKey [기본 PK 조회 쿼리] [Generator] */  
    
		SELECT 
			<include refid="select-columns" />
		FROM 
			EV_EVENT_RESULT_BENEFIT
		WHERE 
			<include refid="pk-columns" /> 
    </select>
    
    <resultMap id="benefitResultMap" type="kr.co.abcmart.bo.event.model.master.EvEventResultBenefit">
		<result property="eventNo" column="EVENT_NO"/>
	    <result property="eventRsltBenefitSeq" column="EVENT_RSLT_BENEFIT_SEQ"/>
	    <result property="benefitName" column="BENEFIT_NAME"/>
	    <result property="sortSeq" column="SORT_SEQ"/>
	    <result property="winCount" column="WIN_COUNT"/>
	    <collection property="benefitMemberList" column="{eventNo=EVENT_NO,eventRsltBenefitSeq=EVENT_RSLT_BENEFIT_SEQ}" 
	    		javaType="java.util.ArrayList" ofType="kr.co.abcmart.bo.event.model.master.EvEventResultBenefitMember" 
	    		select="kr.co.abcmart.bo.event.repository.master.EvEventResultBenefitMemberDao.selectEvEventResultBenefitMemberListBySeq"/>
	</resultMap>

    
    <select id="selectEvEventResultBenefitListByEventNo" parameterType="String" resultMap="benefitResultMap">
    /*+ kr.co.abcmart.bo.event.repository.master.EvEventResultBenefitDao.selectEvEventResultBenefitListByEventNo [이벤트 당첨자 헤택 조회 쿼리] [이지훈] */
    	SELECT 
			EERB.EVENT_NO 
			,EERB.EVENT_RSLT_BENEFIT_SEQ 
			,EERB.BENEFIT_NAME
			,EERB.SORT_SEQ
			,(SELECT COUNT(*) FROM EV_EVENT_RESULT_BENEFIT_MEMBER EERBM WITH(NOLOCK) 
							WHERE EERBM.EVENT_NO = EERB.EVENT_NO AND EERBM.EVENT_RSLT_BENEFIT_SEQ = EERB.EVENT_RSLT_BENEFIT_SEQ) AS WIN_COUNT
		FROM 
			EV_EVENT_RESULT_BENEFIT EERB WITH(NOLOCK)
		WHERE 
			EERB.EVENT_NO = #{eventNo, jdbcType=VARCHAR}
		ORDER BY EERB.EVENT_RSLT_BENEFIT_SEQ ASC
    </select>
    
    <delete id="deleteByEventNo" parameterType="String">
      	/*+ kr.co.abcmart.bo.event.repository.master.EvEventResultBenefitDao.deleteByEventNo [이벤트 당첨자 헤택 삭제 쿼리] [이지훈] */
	    DELETE FROM EV_EVENT_RESULT_BENEFIT
	    WHERE
			EVENT_NO = #{eventNo, jdbcType=VARCHAR}
    </delete>

</mapper>