<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.abcmart.bo.event.repository.master.EvEventProductReceiptStoreDao">

    <!--
    	※ 경고
		이 select SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    <select id="selectByPrimaryKey" parameterType="Object" resultType="kr.co.abcmart.bo.event.model.master.EvEventProductReceiptStore">
    
     /*+ kr.co.abcmart.bo.event.repository.master.EvEventProductReceiptStoreDao.selectByPrimaryKey [기본 PK 조회 쿼리] [Generator] */  
    
		SELECT 
			<include refid="select-columns" />
		FROM 
			EV_EVENT_PRODUCT_RECEIPT_STORE
		WHERE 
			<include refid="pk-columns" /> 
    </select>
    
    <select id="selectEvEventProductReceiptStoreListByEventNo" parameterType="kr.co.abcmart.bo.event.model.master.EvEventProductReceiptStore" resultType="kr.co.abcmart.bo.event.model.master.EvEventProductReceiptStore">
     /*+ kr.co.abcmart.bo.event.repository.master.EvEventProductReceiptStoreDao.selectEvEventProductReceiptStoreListByEventNo [이벤트 매장 조회 쿼리] [이지훈] */  
		SELECT 
			EEPR.EVENT_NO
			,EEPR.STORE_NO
			,(SELECT CS.STORE_NAME FROM CM_STORE CS WITH(NOLOCK) WHERE EEPR.STORE_NO = CS.STORE_NO) AS STORE_NAME
		FROM 
			EV_EVENT_PRODUCT_RECEIPT_STORE EEPR WITH(NOLOCK)
		WHERE 
			EVENT_NO = #{eventNo, jdbcType=VARCHAR}
    </select>
    
    <delete id="deleteByEventNo" parameterType="String">
     /*+ kr.co.abcmart.bo.event.repository.master.EvEventProductReceiptStoreDao.deleteByEventNo [이벤트 매장 삭제 쿼리] [이지훈] */  
     	DELETE FROM EV_EVENT_PRODUCT_RECEIPT_STORE
     	WHERE 
			EVENT_NO = #{eventNo, jdbcType=VARCHAR}
     </delete>

</mapper>