<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.abcmart.bo.system.repository.master.SySchedulerHistoryLogDao">

    <!--
    	※ 경고
		이 select SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.

    -->
    <select id="selectByPrimaryKey" parameterType="Object" resultType="kr.co.abcmart.bo.system.model.master.SySchedulerHistoryLog">

     /*+ kr.co.abcmart.bo.system.repository.master.SySchedulerHistoryLogDao.selectByPrimaryKey [기본 PK 조회 쿼리] [Generator] */

		SELECT
			<include refid="select-columns" />
		FROM
			sy_scheduler_history_log with (nolock)
		WHERE
			<include refid="pk-columns" />
    </select>

    <select id="selectHistoryLogForPaging" parameterType="pageable" resultType="kr.co.abcmart.bo.system.model.master.SySchedulerHistoryLog">
   		/*+ kr.co.abcmart.bo.system.repository.master.SySchedulerHistoryLogDao.selectHistoryLogForPaging [페이징 조회 쿼리] [김영현] */
   		SELECT
			 site_id,scheduler_history_id, seq, trigger_group, trigger_name, message, reg_dtime
		FROM
			sy_scheduler_history_log a with (nolock)
		WHERE
		<choose>
			<when test="bean.schedulerHistoryId != null and bean.schedulerHistoryId != ''">
			scheduler_history_id = #{bean.schedulerHistoryId, jdbcType=VARCHAR}
			</when>
			<otherwise>
			sched_id = #{bean.schedId, jdbcType=VARCHAR}
			</otherwise>
		</choose>
		ORDER BY
			reg_dtime desc
		<include refid="Paging.mssql" />
    </select>

    <select id="selectHistoryLogForPagingCount" parameterType="pageable" resultType="Integer">
   		/*+ kr.co.abcmart.bo.system.repository.master.SySchedulerHistoryLogDao.selectHistoryLogForPagingCount [페이징 조회 쿼리] [김영현] */
   		SELECT
			 <include refid="Paging.totalCount" />
		FROM
			sy_scheduler_history_log a with (nolock)
		WHERE
		<choose>
			<when test="bean.schedulerHistoryId != null and bean.schedulerHistoryId != ''">
			scheduler_history_id = #{bean.schedulerHistoryId, jdbcType=VARCHAR}
			</when>
			<otherwise>
			sched_id = #{bean.schedId, jdbcType=VARCHAR}
			</otherwise>
		</choose>
    </select>

</mapper>