<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.abcmart.bo.system.repository.master.SySiteDeliveryTypeDao">

    <!--
    	※ 경고
		이 select SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    <select id="selectByPrimaryKey" parameterType="kr.co.abcmart.bo.system.model.master.SySiteDeliveryType" resultType="kr.co.abcmart.bo.system.model.master.SySiteDeliveryType">
    
     /*+ kr.co.abcmart.bo.system.repository.master.SySiteDeliveryTypeDao.selectByPrimaryKey [기본 PK 조회 쿼리] [Generator] */  
    
		SELECT 
			<include refid="select-columns" />
		FROM 
			sy_site_delivery_type a with (nolock)
		WHERE 
			<include refid="pk-columns" /> 
    </select>
    
    <select id="selectBySiteNo" parameterType="map" resultType="kr.co.abcmart.bo.system.model.master.SySiteDeliveryType">
    
     /*+ kr.co.abcmart.bo.system.repository.master.SySiteDeliveryTypeDao.selectBySiteNo [site_no로 배송유형 조회] [김영현] */  
    
		SELECT 
			<include refid="select-columns" />
		FROM 
			sy_site_delivery_type a with (nolock)
		WHERE 
			site_no = #{siteNo, jdbcType=VARCHAR}
		<if test="isUse">
		AND 
			use_yn = 'Y' 
		</if> 
    </select>
    
    <delete id="deleteBySiteNo" parameterType="String">
    
     /*+ kr.co.abcmart.bo.system.repository.master.SySiteDeliveryTypeDao.delteBySiteNo [site_no로 배송유형 삭제] [김영현] */  
    
		DELETE
		FROM 
			sy_site_delivery_type
		WHERE 
			site_no = #{value, jdbcType=VARCHAR} 
    </delete>
    
    <insert id="insertDeliveryType" parameterType="kr.co.abcmart.bo.system.model.master.SySiteDeliveryType">
    
     /*+ kr.co.abcmart.bo.system.repository.master.SySiteDeliveryTypeDao.insertDeliveryType [기본 insert 쿼리] [김영현] */
    
		INSERT INTO sy_site_delivery_type
			 ( site_no, dlvy_type_code, use_yn, rgster_no, rgst_dtm, moder_no, mod_dtm ) 

		VALUES 
			 ( #{siteNo, jdbcType=VARCHAR}
			 , #{dlvyTypeCode, jdbcType=VARCHAR}
			 , #{useYn, jdbcType=CHAR}
			 , #{rgsterNo, jdbcType=VARCHAR}
			 , getdate()
			 , #{moderNo, jdbcType=VARCHAR}
			 , getdate() )  
    </insert>

</mapper>