<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.abcmart.bo.event.repository.master.EvEventRouletteJoinMemberDao">

    <!--
    	※ 경고
		이 select SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    
    <sql id="select-columns">
    	event_rulet_join_member_seq, event_no, event_rulet_benefit_seq, member_no, join_dtm, device_code, issue_yn, issue_info, issuer_no, issue_dtm, moder_no, mod_dtm
    </sql>
    
    <sql id="pk-columns">
    	event_rulet_join_member_seq = #{eventRuletJoinMemberSeq, jdbcType=BIGINT}
    </sql>
    
    <select id="select" parameterType="kr.co.abcmart.bo.event.model.master.EvEventRouletteJoinMember" resultType="kr.co.abcmart.bo.event.model.master.EvEventRouletteJoinMember">
    
     /*+ kr.co.abcmart.bo.event.repository.master.EvEventRouletteJoinMemberDao.select [기본 조회 쿼리] [Generator] */
    
		SELECT 
			 <include refid="select-columns" />
		FROM 
			EV_EVENT_ROULETTE_JOIN_MEMBER
		<where> 
			<if test="eventRuletJoinMemberSeq != null"> 
				 event_rulet_join_member_seq = #{eventRuletJoinMemberSeq, jdbcType=BIGINT}
			</if> 
			<if test="eventNo != null"> 
				 AND event_no = #{eventNo, jdbcType=VARCHAR}
			</if> 
			<if test="eventRuletBenefitSeq != null"> 
				 AND event_rulet_benefit_seq = #{eventRuletBenefitSeq, jdbcType=TINYINT}
			</if> 
			<if test="memberNo != null"> 
				 AND member_no = #{memberNo, jdbcType=VARCHAR}
			</if> 
			<if test="joinDtm != null"> 
				 AND join_dtm = #{joinDtm, jdbcType=TIMESTAMP}
			</if> 
			<if test="deviceCode != null"> 
				 AND device_code = #{deviceCode, jdbcType=VARCHAR}
			</if> 
			<if test="issueYn != null"> 
				 AND issue_yn = #{issueYn, jdbcType=CHAR}
			</if> 
			<if test="issueInfo != null"> 
				 AND issue_info = #{issueInfo, jdbcType=VARCHAR}
			</if> 
			<if test="issuerNo != null"> 
				 AND issuer_no = #{issuerNo, jdbcType=VARCHAR}
			</if> 
			<if test="issueDtm != null"> 
				 AND issue_dtm = #{issueDtm, jdbcType=TIMESTAMP}
			</if> 
			<if test="moderNo != null"> 
				 AND moder_no = #{moderNo, jdbcType=VARCHAR}
			</if> 
			<if test="modDtm != null"> 
				 AND mod_dtm = #{modDtm, jdbcType=TIMESTAMP}
			</if> 
		</where>  
    </select>
    
    <!--
    	※ 경고
		이 insert SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    
	<insert id="insert" useGeneratedKeys="true" keyProperty="eventRuletJoinMemberSeq">

     /*+ kr.co.abcmart.bo.event.repository.master.EvEventRouletteJoinMemberDao.insert [기본 insert 쿼리] [Generator] */
    
		INSERT INTO EV_EVENT_ROULETTE_JOIN_MEMBER
			 ( event_no, event_rulet_benefit_seq, member_no, join_dtm, device_code, issue_yn, issue_info, issuer_no, issue_dtm, moder_no, mod_dtm ) 

		VALUES 
			 ( #{eventNo, jdbcType=VARCHAR}, #{eventRuletBenefitSeq, jdbcType=TINYINT}, #{memberNo, jdbcType=VARCHAR}, <choose><when test="joinDtm != null">#{joinDtm, jdbcType=TIMESTAMP}</when><otherwise>getdate()</otherwise></choose>, #{deviceCode, jdbcType=VARCHAR}, #{issueYn, jdbcType=CHAR}, #{issueInfo, jdbcType=VARCHAR}, #{issuerNo, jdbcType=VARCHAR}, <choose><when test="issueDtm != null">#{issueDtm, jdbcType=TIMESTAMP}</when><otherwise>getdate()</otherwise></choose>, #{moderNo, jdbcType=VARCHAR}, <choose><when test="modDtm != null">#{modDtm, jdbcType=TIMESTAMP}</when><otherwise>getdate()</otherwise></choose> )  
    </insert>
    
    <!--
    	※ 경고
		이 update SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    <update id="update" parameterType="kr.co.abcmart.bo.event.model.master.EvEventRouletteJoinMember">
    
     /*+ kr.co.abcmart.bo.event.repository.master.EvEventRouletteJoinMemberDao.update [기본 update 쿼리] [Generator] */
    
		UPDATE EV_EVENT_ROULETTE_JOIN_MEMBER
		<set> 
			<if test="eventRuletJoinMemberSeq != null"> 
				event_rulet_join_member_seq = #{eventRuletJoinMemberSeq, jdbcType=BIGINT}, 
			</if> 
			<if test="eventNo != null"> 
				event_no = #{eventNo, jdbcType=VARCHAR}, 
			</if> 
			<if test="eventRuletBenefitSeq != null"> 
				event_rulet_benefit_seq = #{eventRuletBenefitSeq, jdbcType=TINYINT}, 
			</if> 
			<if test="memberNo != null"> 
				member_no = #{memberNo, jdbcType=VARCHAR}, 
			</if> 
			<if test="joinDtm != null"> 
				join_dtm = #{joinDtm, jdbcType=TIMESTAMP}, 
			</if> 
			<if test="deviceCode != null"> 
				device_code = #{deviceCode, jdbcType=VARCHAR}, 
			</if> 
			<if test="issueYn != null"> 
				issue_yn = #{issueYn, jdbcType=CHAR}, 
			</if> 
			<if test="issueInfo != null"> 
				issue_info = #{issueInfo, jdbcType=VARCHAR}, 
			</if> 
			<if test="issuerNo != null"> 
				issuer_no = #{issuerNo, jdbcType=VARCHAR}, 
			</if> 
			<if test="issueDtm != null"> 
				issue_dtm = #{issueDtm, jdbcType=TIMESTAMP}, 
			</if> 
			<if test="moderNo != null"> 
				moder_no = #{moderNo, jdbcType=VARCHAR}, 
			</if> 
			<if test="modDtm != null"> 
				mod_dtm = #{modDtm, jdbcType=TIMESTAMP}, 
			</if> 
		</set> 
		WHERE 
			 event_rulet_join_member_seq = #{eventRuletJoinMemberSeq, jdbcType=BIGINT}   
    </update>
    
    <!--
    	※ 경고
		이 delete SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    <delete id="delete" parameterType="kr.co.abcmart.bo.event.model.master.EvEventRouletteJoinMember">
    
     /*+ kr.co.abcmart.bo.event.repository.master.EvEventRouletteJoinMemberDao.delete [기본 delete 쿼리] [Generator] */
    
		DELETE FROM EV_EVENT_ROULETTE_JOIN_MEMBER
		WHERE 
			 event_rulet_join_member_seq = #{eventRuletJoinMemberSeq, jdbcType=BIGINT}  
    </delete>
</mapper>