<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.abcmart.bo.event.repository.master.EvEventResultBenefitMemberDao">

    <!--
    	※ 경고
		이 select SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    
    <sql id="select-columns">
    	event_no, event_rslt_benefit_seq, ev_event_join_member_seq, member_no
    </sql>
    
    <sql id="pk-columns">
    	ev_event_join_member_seq = #{evEventJoinMemberSeq, jdbcType=BIGINT} AND event_no = #{eventNo, jdbcType=VARCHAR} AND event_rslt_benefit_seq = #{eventRsltBenefitSeq, jdbcType=TINYINT}
    </sql>
    
    <select id="select" parameterType="kr.co.abcmart.bo.event.model.master.EvEventResultBenefitMember" resultType="kr.co.abcmart.bo.event.model.master.EvEventResultBenefitMember">
    
     /*+ kr.co.abcmart.bo.event.repository.master.EvEventResultBenefitMemberDao.select [기본 조회 쿼리] [Generator] */
    
		SELECT 
			 <include refid="select-columns" />
		FROM 
			EV_EVENT_RESULT_BENEFIT_MEMBER
		<where> 
			<if test="eventNo != null"> 
				 event_no = #{eventNo, jdbcType=VARCHAR}
			</if> 
			<if test="eventRsltBenefitSeq != null"> 
				 AND event_rslt_benefit_seq = #{eventRsltBenefitSeq, jdbcType=TINYINT}
			</if> 
			<if test="evEventJoinMemberSeq != null"> 
				 AND ev_event_join_member_seq = #{evEventJoinMemberSeq, jdbcType=BIGINT}
			</if> 
			<if test="memberNo != null"> 
				 AND member_no = #{memberNo, jdbcType=VARCHAR}
			</if> 
		</where>  
    </select>
    
    <!--
    	※ 경고
		이 insert SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    
    <insert id="insert" parameterType="kr.co.abcmart.bo.event.model.master.EvEventResultBenefitMember">	

     /*+ kr.co.abcmart.bo.event.repository.master.EvEventResultBenefitMemberDao.insert [기본 insert 쿼리] [Generator] */
    
		INSERT INTO EV_EVENT_RESULT_BENEFIT_MEMBER
			 ( event_no, event_rslt_benefit_seq, ev_event_join_member_seq, member_no ) 

		VALUES 
			 ( #{eventNo, jdbcType=VARCHAR}, #{eventRsltBenefitSeq, jdbcType=TINYINT}, #{evEventJoinMemberSeq, jdbcType=BIGINT}, #{memberNo, jdbcType=VARCHAR} )  
    </insert>
    
    <!--
    	※ 경고
		이 update SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    <update id="update" parameterType="kr.co.abcmart.bo.event.model.master.EvEventResultBenefitMember">
    
     /*+ kr.co.abcmart.bo.event.repository.master.EvEventResultBenefitMemberDao.update [기본 update 쿼리] [Generator] */
    
		UPDATE EV_EVENT_RESULT_BENEFIT_MEMBER
		<set> 
			<if test="eventNo != null"> 
				event_no = #{eventNo, jdbcType=VARCHAR}, 
			</if> 
			<if test="eventRsltBenefitSeq != null"> 
				event_rslt_benefit_seq = #{eventRsltBenefitSeq, jdbcType=TINYINT}, 
			</if> 
			<if test="evEventJoinMemberSeq != null"> 
				ev_event_join_member_seq = #{evEventJoinMemberSeq, jdbcType=BIGINT}, 
			</if> 
			<if test="memberNo != null"> 
				member_no = #{memberNo, jdbcType=VARCHAR}, 
			</if> 
		</set> 
		WHERE 
			 ev_event_join_member_seq = #{evEventJoinMemberSeq, jdbcType=BIGINT} AND event_no = #{eventNo, jdbcType=VARCHAR} AND event_rslt_benefit_seq = #{eventRsltBenefitSeq, jdbcType=TINYINT}   
    </update>
    
    <!--
    	※ 경고
		이 delete SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    <delete id="delete" parameterType="kr.co.abcmart.bo.event.model.master.EvEventResultBenefitMember">
    
     /*+ kr.co.abcmart.bo.event.repository.master.EvEventResultBenefitMemberDao.delete [기본 delete 쿼리] [Generator] */
    
		DELETE FROM EV_EVENT_RESULT_BENEFIT_MEMBER
		WHERE 
			 ev_event_join_member_seq = #{evEventJoinMemberSeq, jdbcType=BIGINT} AND event_no = #{eventNo, jdbcType=VARCHAR} AND event_rslt_benefit_seq = #{eventRsltBenefitSeq, jdbcType=TINYINT}  
    </delete>
</mapper>