<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.abcmart.bo.event.repository.master.EvEventProductReceiptStoreDao">

    <!--
    	※ 경고
		이 select SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    
    <sql id="select-columns">
    	event_no, store_no
    </sql>
    
    <sql id="pk-columns">
    	event_no = #{eventNo, jdbcType=VARCHAR} AND store_no = #{storeNo, jdbcType=VARCHAR}
    </sql>
    
    <select id="select" parameterType="kr.co.abcmart.bo.event.model.master.EvEventProductReceiptStore" resultType="kr.co.abcmart.bo.event.model.master.EvEventProductReceiptStore">
    
     /*+ kr.co.abcmart.bo.event.repository.master.EvEventProductReceiptStoreDao.select [기본 조회 쿼리] [Generator] */
    
		SELECT 
			 <include refid="select-columns" />
		FROM 
			EV_EVENT_PRODUCT_RECEIPT_STORE
		<where> 
			<if test="eventNo != null"> 
				 event_no = #{eventNo, jdbcType=VARCHAR}
			</if> 
			<if test="storeNo != null"> 
				 AND store_no = #{storeNo, jdbcType=VARCHAR}
			</if> 
		</where>  
    </select>
    
    <!--
    	※ 경고
		이 insert SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    
    <insert id="insert" parameterType="kr.co.abcmart.bo.event.model.master.EvEventProductReceiptStore">	

     /*+ kr.co.abcmart.bo.event.repository.master.EvEventProductReceiptStoreDao.insert [기본 insert 쿼리] [Generator] */
    
		INSERT INTO EV_EVENT_PRODUCT_RECEIPT_STORE
			 ( event_no, store_no ) 

		VALUES 
			 ( #{eventNo, jdbcType=VARCHAR}, #{storeNo, jdbcType=VARCHAR} )  
    </insert>
    
    <!--
    	※ 경고
		이 update SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    <update id="update" parameterType="kr.co.abcmart.bo.event.model.master.EvEventProductReceiptStore">
    
     /*+ kr.co.abcmart.bo.event.repository.master.EvEventProductReceiptStoreDao.update [기본 update 쿼리] [Generator] */
    
		UPDATE EV_EVENT_PRODUCT_RECEIPT_STORE
		<set> 
			<if test="eventNo != null"> 
				event_no = #{eventNo, jdbcType=VARCHAR}, 
			</if> 
			<if test="storeNo != null"> 
				store_no = #{storeNo, jdbcType=VARCHAR}, 
			</if> 
		</set> 
		WHERE 
			 event_no = #{eventNo, jdbcType=VARCHAR} AND store_no = #{storeNo, jdbcType=VARCHAR}   
    </update>
    
    <!--
    	※ 경고
		이 delete SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    <delete id="delete" parameterType="kr.co.abcmart.bo.event.model.master.EvEventProductReceiptStore">
    
     /*+ kr.co.abcmart.bo.event.repository.master.EvEventProductReceiptStoreDao.delete [기본 delete 쿼리] [Generator] */
    
		DELETE FROM EV_EVENT_PRODUCT_RECEIPT_STORE
		WHERE 
			 event_no = #{eventNo, jdbcType=VARCHAR} AND store_no = #{storeNo, jdbcType=VARCHAR}  
    </delete>
</mapper>