<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.abcmart.bo.member.repository.master.MbMemberCertificationHistoryDao">

    <!--
    	※ 경고
		이 select SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    
    <sql id="select-columns">
    	crtfc_hist_seq, crtfc_path_code, crtfc_type_code, crtfc_no_text, crtfc_no_send_info, crtfc_no_send_dtm, member_no, access_ip_text, session_id, crtfc_success_yn, crtfc_dtm
    </sql>
    
    <sql id="pk-columns">
    	crtfc_hist_seq = #{crtfcHistSeq, jdbcType=BIGINT}
    </sql>
    
    <select id="select" parameterType="kr.co.abcmart.bo.member.model.master.MbMemberCertificationHistory" resultType="kr.co.abcmart.bo.member.model.master.MbMemberCertificationHistory">
    
     /*+ kr.co.abcmart.bo.member.repository.master.MbMemberCertificationHistoryDao.select [기본 조회 쿼리] [Generator] */
    
		SELECT 
			 <include refid="select-columns" />
		FROM 
			mb_member_certification_history WITH (NOLOCK)

		<where> 
			<if test="crtfcHistSeq != null"> 
				 crtfc_hist_seq = #{crtfcHistSeq, jdbcType=BIGINT}
			</if> 
			<if test="crtfcPathCode != null"> 
				 AND crtfc_path_code = #{crtfcPathCode, jdbcType=VARCHAR}
			</if> 
			<if test="crtfcTypeCode != null"> 
				 AND crtfc_type_code = #{crtfcTypeCode, jdbcType=VARCHAR}
			</if> 
			<if test="crtfcNoText != null"> 
				 AND crtfc_no_text = #{crtfcNoText, jdbcType=VARCHAR}
			</if> 
			<if test="crtfcNoSendInfo != null"> 
				 AND crtfc_no_send_info = #{crtfcNoSendInfo, jdbcType=VARCHAR}
			</if> 
			<if test="crtfcNoSendDtm != null"> 
				 AND crtfc_no_send_dtm = #{crtfcNoSendDtm, jdbcType=TIMESTAMP}
			</if> 
			<if test="memberNo != null"> 
				 AND member_no = #{memberNo, jdbcType=VARCHAR}
			</if> 
			<if test="accessIpText != null"> 
				 AND access_ip_text = #{accessIpText, jdbcType=VARCHAR}
			</if> 
			<if test="sessionId != null"> 
				 AND session_id = #{sessionId, jdbcType=VARCHAR}
			</if> 
			<if test="crtfcSuccessYn != null"> 
				 AND crtfc_success_yn = #{crtfcSuccessYn, jdbcType=CHAR}
			</if> 
			<if test="crtfcDtm != null"> 
				 AND crtfc_dtm = #{crtfcDtm, jdbcType=TIMESTAMP}
			</if> 
		</where>  
    </select>
    
    <!--
    	※ 경고
		이 insert SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    
	<insert id="insert" useGeneratedKeys="true" keyProperty="crtfcHistSeq">

     /*+ kr.co.abcmart.bo.member.repository.master.MbMemberCertificationHistoryDao.insert [기본 insert 쿼리] [Generator] */
    
		INSERT INTO mb_member_certification_history
			 ( crtfc_path_code, crtfc_type_code, crtfc_no_text, crtfc_no_send_info, crtfc_no_send_dtm, member_no, access_ip_text, session_id, crtfc_success_yn, crtfc_dtm ) 

		VALUES 
			 ( #{crtfcPathCode, jdbcType=VARCHAR}, #{crtfcTypeCode, jdbcType=VARCHAR}, #{crtfcNoText, jdbcType=VARCHAR}, #{crtfcNoSendInfo, jdbcType=VARCHAR}, <choose><when test="crtfcNoSendDtm != null">#{crtfcNoSendDtm, jdbcType=TIMESTAMP}</when><otherwise>getdate()</otherwise></choose>, #{memberNo, jdbcType=VARCHAR}, #{accessIpText, jdbcType=VARCHAR}, #{sessionId, jdbcType=VARCHAR}, #{crtfcSuccessYn, jdbcType=CHAR}, <choose><when test="crtfcDtm != null">#{crtfcDtm, jdbcType=TIMESTAMP}</when><otherwise>getdate()</otherwise></choose> )  
    </insert>
    
    <!--
    	※ 경고
		이 update SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    <update id="update" parameterType="kr.co.abcmart.bo.member.model.master.MbMemberCertificationHistory">
    
     /*+ kr.co.abcmart.bo.member.repository.master.MbMemberCertificationHistoryDao.update [기본 update 쿼리] [Generator] */
    
		UPDATE mb_member_certification_history
		<set> 
			<if test="crtfcHistSeq != null"> 
				crtfc_hist_seq = #{crtfcHistSeq, jdbcType=BIGINT}, 
			</if> 
			<if test="crtfcPathCode != null"> 
				crtfc_path_code = #{crtfcPathCode, jdbcType=VARCHAR}, 
			</if> 
			<if test="crtfcTypeCode != null"> 
				crtfc_type_code = #{crtfcTypeCode, jdbcType=VARCHAR}, 
			</if> 
			<if test="crtfcNoText != null"> 
				crtfc_no_text = #{crtfcNoText, jdbcType=VARCHAR}, 
			</if> 
			<if test="crtfcNoSendInfo != null"> 
				crtfc_no_send_info = #{crtfcNoSendInfo, jdbcType=VARCHAR}, 
			</if> 
			<if test="crtfcNoSendDtm != null"> 
				crtfc_no_send_dtm = #{crtfcNoSendDtm, jdbcType=TIMESTAMP}, 
			</if> 
			<if test="memberNo != null"> 
				member_no = #{memberNo, jdbcType=VARCHAR}, 
			</if> 
			<if test="accessIpText != null"> 
				access_ip_text = #{accessIpText, jdbcType=VARCHAR}, 
			</if> 
			<if test="sessionId != null"> 
				session_id = #{sessionId, jdbcType=VARCHAR}, 
			</if> 
			<if test="crtfcSuccessYn != null"> 
				crtfc_success_yn = #{crtfcSuccessYn, jdbcType=CHAR}, 
			</if> 
			<if test="crtfcDtm != null"> 
				crtfc_dtm = #{crtfcDtm, jdbcType=TIMESTAMP}, 
			</if> 
		</set> 
		WHERE 
			 crtfc_hist_seq = #{crtfcHistSeq, jdbcType=BIGINT}   
    </update>
    
    <!--
    	※ 경고
		이 delete SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    <delete id="delete" parameterType="kr.co.abcmart.bo.member.model.master.MbMemberCertificationHistory">
    
     /*+ kr.co.abcmart.bo.member.repository.master.MbMemberCertificationHistoryDao.delete [기본 delete 쿼리] [Generator] */
    
		DELETE FROM mb_member_certification_history
		WHERE 
			 crtfc_hist_seq = #{crtfcHistSeq, jdbcType=BIGINT}  
    </delete>
</mapper>