<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.abcmart.bo.member.repository.master.MbMemberEasyLoginDao">

    <!--
    	※ 경고
		이 select SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    
    <sql id="select-columns">
    	member_no, sns_gbn_code, sns_cnnctn_info, add_info1, add_info2, rgst_dtm
    </sql>
    
    <sql id="pk-columns">
    	member_no = #{memberNo, jdbcType=VARCHAR} AND sns_gbn_code = #{snsGbnCode, jdbcType=VARCHAR}
    </sql>
    
    <select id="select" parameterType="kr.co.abcmart.bo.member.model.master.MbMemberEasyLogin" resultType="kr.co.abcmart.bo.member.model.master.MbMemberEasyLogin">
    
     /*+ kr.co.abcmart.bo.member.repository.master.MbMemberEasyLoginDao.select [기본 조회 쿼리] [Generator] */
    
		SELECT 
			 <include refid="select-columns" />
		FROM 
			mb_member_easy_login WITH (NOLOCK)

		<where> 
			<if test="memberNo != null"> 
				 member_no = #{memberNo, jdbcType=VARCHAR}
			</if> 
			<if test="snsGbnCode != null"> 
				 AND sns_gbn_code = #{snsGbnCode, jdbcType=VARCHAR}
			</if> 
			<if test="snsCnnctnInfo != null"> 
				 AND sns_cnnctn_info = #{snsCnnctnInfo, jdbcType=VARCHAR}
			</if> 
			<if test="addInfo1 != null"> 
				 AND add_info1 = #{addInfo1, jdbcType=VARCHAR}
			</if> 
			<if test="addInfo2 != null"> 
				 AND add_info2 = #{addInfo2, jdbcType=VARCHAR}
			</if> 
			<if test="rgstDtm != null"> 
				 AND rgst_dtm = #{rgstDtm, jdbcType=TIMESTAMP}
			</if> 
		</where>  
    </select>
    
    <!--
    	※ 경고
		이 insert SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    
    <insert id="insert" parameterType="kr.co.abcmart.bo.member.model.master.MbMemberEasyLogin">	

     /*+ kr.co.abcmart.bo.member.repository.master.MbMemberEasyLoginDao.insert [기본 insert 쿼리] [Generator] */
    
		INSERT INTO mb_member_easy_login
			 ( member_no, sns_gbn_code, sns_cnnctn_info, add_info1, add_info2, rgst_dtm ) 

		VALUES 
			 ( #{memberNo, jdbcType=VARCHAR}, #{snsGbnCode, jdbcType=VARCHAR}, #{snsCnnctnInfo, jdbcType=VARCHAR}, #{addInfo1, jdbcType=VARCHAR}, #{addInfo2, jdbcType=VARCHAR}, <choose><when test="rgstDtm != null">#{rgstDtm, jdbcType=TIMESTAMP}</when><otherwise>getdate()</otherwise></choose> )  
    </insert>
    
    <!--
    	※ 경고
		이 update SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    <update id="update" parameterType="kr.co.abcmart.bo.member.model.master.MbMemberEasyLogin">
    
     /*+ kr.co.abcmart.bo.member.repository.master.MbMemberEasyLoginDao.update [기본 update 쿼리] [Generator] */
    
		UPDATE mb_member_easy_login
		<set> 
			<if test="memberNo != null"> 
				member_no = #{memberNo, jdbcType=VARCHAR}, 
			</if> 
			<if test="snsGbnCode != null"> 
				sns_gbn_code = #{snsGbnCode, jdbcType=VARCHAR}, 
			</if> 
			<if test="snsCnnctnInfo != null"> 
				sns_cnnctn_info = #{snsCnnctnInfo, jdbcType=VARCHAR}, 
			</if> 
			<if test="addInfo1 != null"> 
				add_info1 = #{addInfo1, jdbcType=VARCHAR}, 
			</if> 
			<if test="addInfo2 != null"> 
				add_info2 = #{addInfo2, jdbcType=VARCHAR}, 
			</if> 
			<if test="rgstDtm != null"> 
				rgst_dtm = #{rgstDtm, jdbcType=TIMESTAMP}, 
			</if> 
		</set> 
		WHERE 
			 member_no = #{memberNo, jdbcType=VARCHAR} AND sns_gbn_code = #{snsGbnCode, jdbcType=VARCHAR}   
    </update>
    
    <!--
    	※ 경고
		이 delete SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    <delete id="delete" parameterType="kr.co.abcmart.bo.member.model.master.MbMemberEasyLogin">
    
     /*+ kr.co.abcmart.bo.member.repository.master.MbMemberEasyLoginDao.delete [기본 delete 쿼리] [Generator] */
    
		DELETE FROM mb_member_easy_login
		WHERE 
			 member_no = #{memberNo, jdbcType=VARCHAR} AND sns_gbn_code = #{snsGbnCode, jdbcType=VARCHAR}  
    </delete>
</mapper>