<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.abcmart.bo.member.repository.master.MbPersistentLoginsDao">

    <!--
    	※ 경고
		이 select SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    
    <sql id="select-columns">
    	series, id, token_value, last_used
    </sql>
    
    <sql id="pk-columns">
    	series = #{series, jdbcType=VARCHAR}
    </sql>
    
    <select id="select" parameterType="kr.co.abcmart.bo.member.model.master.MbPersistentLogins" resultType="kr.co.abcmart.bo.member.model.master.MbPersistentLogins">
    
     /*+ kr.co.abcmart.bo.member.repository.master.MbPersistentLoginsDao.select [기본 조회 쿼리] [Generator] */
    
		SELECT 
			 <include refid="select-columns" />
		FROM 
			mb_persistent_logins WITH (NOLOCK)

		<where> 
			<if test="series != null"> 
				 series = #{series, jdbcType=VARCHAR}
			</if> 
			<if test="id != null"> 
				 AND id = #{id, jdbcType=VARCHAR}
			</if> 
			<if test="tokenValue != null"> 
				 AND token_value = #{tokenValue, jdbcType=VARCHAR}
			</if> 
			<if test="lastUsed != null"> 
				 AND last_used = #{lastUsed, jdbcType=TIMESTAMP}
			</if> 
		</where>  
    </select>
    
    <!--
    	※ 경고
		이 insert SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    
    <insert id="insert" parameterType="kr.co.abcmart.bo.member.model.master.MbPersistentLogins">	

     /*+ kr.co.abcmart.bo.member.repository.master.MbPersistentLoginsDao.insert [기본 insert 쿼리] [Generator] */
    
		INSERT INTO mb_persistent_logins
			 ( series, id, token_value, last_used ) 

		VALUES 
			 ( #{series, jdbcType=VARCHAR}, #{id, jdbcType=VARCHAR}, #{tokenValue, jdbcType=VARCHAR}, <choose><when test="lastUsed != null">#{lastUsed, jdbcType=TIMESTAMP}</when><otherwise>getdate()</otherwise></choose> )  
    </insert>
    
    <!--
    	※ 경고
		이 update SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    <update id="update" parameterType="kr.co.abcmart.bo.member.model.master.MbPersistentLogins">
    
     /*+ kr.co.abcmart.bo.member.repository.master.MbPersistentLoginsDao.update [기본 update 쿼리] [Generator] */
    
		UPDATE mb_persistent_logins
		<set> 
			<if test="series != null"> 
				series = #{series, jdbcType=VARCHAR}, 
			</if> 
			<if test="id != null"> 
				id = #{id, jdbcType=VARCHAR}, 
			</if> 
			<if test="tokenValue != null"> 
				token_value = #{tokenValue, jdbcType=VARCHAR}, 
			</if> 
			<if test="lastUsed != null"> 
				last_used = #{lastUsed, jdbcType=TIMESTAMP}, 
			</if> 
		</set> 
		WHERE 
			 series = #{series, jdbcType=VARCHAR}   
    </update>
    
    <!--
    	※ 경고
		이 delete SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    <delete id="delete" parameterType="kr.co.abcmart.bo.member.model.master.MbPersistentLogins">
    
     /*+ kr.co.abcmart.bo.member.repository.master.MbPersistentLoginsDao.delete [기본 delete 쿼리] [Generator] */
    
		DELETE FROM mb_persistent_logins
		WHERE 
			 series = #{series, jdbcType=VARCHAR}  
    </delete>
</mapper>