<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.abcmart.bo.member.repository.master.MbMemberTermsAgreeDao">

    <!--
    	※ 경고
		이 select SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    
    <sql id="select-columns">
    	member_no, terms_seq, terms_dtl_seq, terms_agree_yn, terms_agree_dtm
    </sql>
    
    <sql id="pk-columns">
    	member_no = #{memberNo, jdbcType=VARCHAR} AND terms_dtl_seq = #{termsDtlSeq, jdbcType=INTEGER} AND terms_seq = #{termsSeq, jdbcType=INTEGER}
    </sql>
    
    <select id="select" parameterType="kr.co.abcmart.bo.member.model.master.MbMemberTermsAgree" resultType="kr.co.abcmart.bo.member.model.master.MbMemberTermsAgree">
    
     /*+ kr.co.abcmart.bo.member.repository.master.MbMemberTermsAgreeDao.select [기본 조회 쿼리] [Generator] */
    
		SELECT 
			 <include refid="select-columns" />
		FROM 
			mb_member_terms_agree WITH (NOLOCK)

		<where> 
			<if test="memberNo != null"> 
				 member_no = #{memberNo, jdbcType=VARCHAR}
			</if> 
			<if test="termsSeq != null"> 
				 AND terms_seq = #{termsSeq, jdbcType=INTEGER}
			</if> 
			<if test="termsDtlSeq != null"> 
				 AND terms_dtl_seq = #{termsDtlSeq, jdbcType=INTEGER}
			</if> 
			<if test="termsAgreeYn != null"> 
				 AND terms_agree_yn = #{termsAgreeYn, jdbcType=CHAR}
			</if> 
			<if test="termsAgreeDtm != null"> 
				 AND terms_agree_dtm = #{termsAgreeDtm, jdbcType=TIMESTAMP}
			</if> 
		</where>  
    </select>
    
    <!--
    	※ 경고
		이 insert SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    
    <insert id="insert" parameterType="kr.co.abcmart.bo.member.model.master.MbMemberTermsAgree">	

     /*+ kr.co.abcmart.bo.member.repository.master.MbMemberTermsAgreeDao.insert [기본 insert 쿼리] [Generator] */
    
		INSERT INTO mb_member_terms_agree
			 ( member_no, terms_seq, terms_dtl_seq, terms_agree_yn, terms_agree_dtm ) 

		VALUES 
			 ( #{memberNo, jdbcType=VARCHAR}, #{termsSeq, jdbcType=INTEGER}, #{termsDtlSeq, jdbcType=INTEGER}, #{termsAgreeYn, jdbcType=CHAR}, <choose><when test="termsAgreeDtm != null">#{termsAgreeDtm, jdbcType=TIMESTAMP}</when><otherwise>getdate()</otherwise></choose> )  
    </insert>
    
    <!--
    	※ 경고
		이 update SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    <update id="update" parameterType="kr.co.abcmart.bo.member.model.master.MbMemberTermsAgree">
    
     /*+ kr.co.abcmart.bo.member.repository.master.MbMemberTermsAgreeDao.update [기본 update 쿼리] [Generator] */
    
		UPDATE mb_member_terms_agree
		<set> 
			<if test="memberNo != null"> 
				member_no = #{memberNo, jdbcType=VARCHAR}, 
			</if> 
			<if test="termsSeq != null"> 
				terms_seq = #{termsSeq, jdbcType=INTEGER}, 
			</if> 
			<if test="termsDtlSeq != null"> 
				terms_dtl_seq = #{termsDtlSeq, jdbcType=INTEGER}, 
			</if> 
			<if test="termsAgreeYn != null"> 
				terms_agree_yn = #{termsAgreeYn, jdbcType=CHAR}, 
			</if> 
			<if test="termsAgreeDtm != null"> 
				terms_agree_dtm = #{termsAgreeDtm, jdbcType=TIMESTAMP}, 
			</if> 
		</set> 
		WHERE 
			 member_no = #{memberNo, jdbcType=VARCHAR} AND terms_dtl_seq = #{termsDtlSeq, jdbcType=INTEGER} AND terms_seq = #{termsSeq, jdbcType=INTEGER}   
    </update>
    
    <!--
    	※ 경고
		이 delete SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    <delete id="delete" parameterType="kr.co.abcmart.bo.member.model.master.MbMemberTermsAgree">
    
     /*+ kr.co.abcmart.bo.member.repository.master.MbMemberTermsAgreeDao.delete [기본 delete 쿼리] [Generator] */
    
		DELETE FROM mb_member_terms_agree
		WHERE 
			 member_no = #{memberNo, jdbcType=VARCHAR} AND terms_dtl_seq = #{termsDtlSeq, jdbcType=INTEGER} AND terms_seq = #{termsSeq, jdbcType=INTEGER}  
    </delete>
</mapper>